{{ attach_library('cp_pro_adviser/cp_pro_adviser') }}
<main class="step_registre">
	<button class="btn btn_download mb-3" id="back_table"><i class='bx bx-left-arrow-alt'></i> Volver al proceso</button>


	<div id="not_row" class="form_table row mb-5 gy-4" style="padding:10px !important">
		<div class="col-sm-12 col-ms-12  col-lg-3 d-flex flex-column">
			<label for="mail">Correo del asesor</label>
			<input class="form-control" type="text" name="mail" id="mail">
		</div>
		<div class="col-sm-12 col-ms-12  col-lg-3 d-flex flex-column">
			<label for="nit_search">Nombre de la empresa</label>
			<input class="form-control" type="text" name="nit_search" id="nit_search">
		</div>
		<div class="col-sm-12 col-ms-12  col-lg-3 d-flex flex-column">
			<label for="state">Fecha de Actualización</label>
			<select name="state" id="action">
				<option value="1">Activo</option>
				<option value="0">Inactivo</option>
			</select>
		</div>
		<div class="col-sm-12 col-ms-12  col-lg-3 d-flex flex-column">
			<label for="public">Estado</label>
			<select name="public" id="state">
				<option value="En espera de Aprobación">En espera de Aprobación</option>
				<option value="Aprobado">Aprobado</option>
				<option value="Rechazado">Rechazado</option>
			</select>
		</div>
		<div class="col-sm-12 col-lg-9"></div>
		<div class="col-sm-12 col-lg-3 d-flex flex-row justify-content-between align-items-end">
			<button id="filter-log" class="filtter_btn btn">
				<i class='bx bx-slider-alt'></i>
				Aplicar filtro</button>
			<button id="clean-log" class="clear_btn btn">Limpiar filtro</button>
		</div>
	</div>
	<div class="form_table">
		<table id="log_auditory" class="display"></table>
	</div>
</main>
