$color-Azul-Claro: #e3f3ff;
$color-Verde-aprobacion: #31d394;
$color-Gris-Claro: #f0f0f0;
$color-cccccc: #cccccc;
$color-Gris-Claro-2: #6a6d71;
$color-Gris-Oscuro: #3b3d42;
$color-504672: #504672;
$color-Pantone-200: #ba0c2f;
$color-Pantone-process-Blue: #0085ca;
$color-Pantone-116-C: #005ca4;
$color-Pantone-Y: #fdca00;
$color-Black: #000000;
$color-White: #ffffff;
$color-5c5c5c: #5C5C5C;
$color-f7f8f8: #f7f8f8;