.page-view-product-dashboard {
	.ui-dialog {
		min-height: 544px;
		max-width: 1286px;
		width: 100%;

		.ui-dialog-content {
			max-height: none !important;
		}
	}
	.ui-widget-content{
		padding-top: 30px;
	}
	.ui-dialog .ui-dialog-titlebar {
		border: none;
		background: transparent;
		.ui-dialog-titlebar-close{
			font-family: swiper-icons;
			content: 'previous';
			right: 100%;
			left: 20px;
			content: 'volver';
			}
		}

	#main {
		> .row {
			display: grid;
			grid-template-columns: 1fr 270px;
			gap: 17px;
		}
	}

	#content {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		width: 100%;
		padding: 0;
	}

	#sidebar_second {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		width: 100%;
		padding: 0;
	}
	.view-content{
		@include media-breakpoint-down(lg){
			padding: 0 !important;
			.table-responsive {
				display: none;
				}
		}
	}
	.attachment.attachment-after{
		display: none;
		@include media-breakpoint-down(lg){
			display: block;
			.col-sm-12{
				padding: 0;
			}
		}
	}
}