.node--view-mode-product-service-presave-preview {
	.node__content {
		
	}
	
	.group-row {
		display: grid;
		grid-template-columns: 400px 1fr;
		gap: 40px;
	}
	
	.group-right {
		h2 {
			text-align: left;
			font: normal normal bold 30px/35px "Maven Pro";
			letter-spacing: 0px;
			color: #005CA4;
		}
	}
}
