.node--type-product.node--view-mode-product-service-presave-preview,
.node--type-product.node--view-mode-full {
	padding-top: 0;
	font-family: $font-family-Century-Gothic;
	.swiper-button-prev,
	.swiper-button-next {
		top: 182px;

		&::after {
			font-size: 20px;
			color: $procol-dark-blue;
			font-weight: bold;
		}
	}
	
	.swiper-button-prev {
		left: -15px;
	}
	
	.swiper-button-next {
		right: -15px;
	}

	.carrusel-thumbs-wrapper {
		position: relative;
		margin: 0 30px;
		width: 400px;
	}
	
	.group-row {
		display: grid;
		grid-template-columns: 400px 1fr;
		gap: 40px;
		@include media-breakpoint-down(lg){
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@include media-breakpoint-down(md){
			padding-top: 30px;
		}
	}

	.group-right {
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 54px;
		@include media-breakpoint-down(lg){
			gap: 20px;
			padding-bottom: 40px;
			padding-left: 0;
			padding-right: 0;
		}
		h2 {
			text-align: left;
			font: normal normal bold 30px/35px "Maven Pro";
			letter-spacing: 0px;
			color: $procol-dark-blue;
			font-size: 24px;
			@include media-breakpoint-down(md){
				font-size: 20px;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				text-align: left;
				width: 100%;
				padding: 0 20px;
			}


		}
		
		.field {
			display: grid;
			grid-template-columns: 224px 1fr;
			gap: 12px 8px;
			margin: 8px 0 0;
			font-size: 14px;
			line-height: 17px;
			letter-spacing: 0px;
			color: $procol-gray-400;
			@include media-breakpoint-down(md){
				width: 100%;
				
			}
			@include media-breakpoint-down(sm){
				display: flex;
				justify-content: space-between;
			}
		}

		.field__label {
			font-weight: normal;
			font-family: $font-bold-Century-Gothic;
		}
		
		.field--name-field-body {
			display: block;
			margin-bottom: 20px;
		}

		.group-footer-links {
			display: flex;
			gap: 17px;
			align-items: flex-end;
			flex-grow: .3;
			
			@include media-breakpoint-down(md){
				flex-direction: column;
			}

			* {
				display: inline-block;
			}

			a {
				display: flex;
				align-items: center;
				padding: 0 17px;
				height: 38px;
				background: #FFFFFF 0% 0% no-repeat padding-box;
				box-shadow: 0px 3px 6px #00000029;
				border-radius: 4px;
				color: #3B3D42;
				text-indent: 0;
				font-size: 14px;
				line-height: 17px;
				@include media-breakpoint-down(md){
					justify-content: center;					
					height: 56px;
				}
			}

			button {
				display: flex;
				align-items: center;
				margin-left: auto;
				padding: 0 17px;
				height: 38px;
				background: #005CA4;
				box-shadow: 0px 3px 6px #00000029;
				color: #fff;
				border: 0;
				border-radius: 4px;
				font-size: 14px;
				line-height: 17px;
				background-image: url(../images/icons/back.svg);
				background-repeat: no-repeat;
				background-size: 15px;
				padding-left: 40px;
				background-position: 15px center;
				@include media-breakpoint-down(md){
					width: 100%;
					height: 56px;
					justify-content: center;
					background-position: 20% center;
					padding-left: 0;
				}
				@include media-breakpoint-down(sm){
					background-position: 10% center;
				}
			}
		}
		
		.field--name-field-file-certifications {
			display: flex;
			flex-direction: column;
			text-indent: -9999px;
		}
		.field--name-field-file{
			margin-top: 0;
			a{
				background-image: url(../images/icons/file-pdf.svg);
				background-repeat: no-repeat;
				background-size: 16px 20px;
				padding-left: 40px;
				background-position: 10px center;
				@include media-breakpoint-down(md){					
					background-position: 20% center;
					padding-left: 0;
				}
			}
		}
	}
}
.node--type-product.node--view-mode-full{
	display: flex;
	justify-content: center;
	align-items: center;
	.group-row{
		background-color: $white;
		max-width: 1286px;
		width: 100%;
		box-shadow: 0px 3px 6px #00000029;
		border-radius: 4px;
		padding: 53px 40px 60px 40px;
		position: relative;
		.flag {
			position: absolute;
			top: -7%;
			right: 0;
			background-color: $procol-red;
			border-radius: 4px 4px 0 0;
			height: 37px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 244px;
			background-image: url(../images/icons/Favorito-EstadoInactivo.svg);
			background-repeat: no-repeat;
			background-position: 27px 24px;
			background-position: 15px center;
			@include media-breakpoint-down(lg){
				top: -4%;
			}

			a{
				color: $white;
				font-weight: bold;
			}
			}
		@include media-breakpoint-down(lg){
			padding: 20px;
			padding-right: 20px !important;
		}
		.group-right h2{
			font-size: 30px;
			font-family:  Maven-Bold;
			font-weight: bolder;
		}
	}
}