<div class="legal-modal" id="legal-modal">
  <div class="modal-top">
    <span class="modal-top-title">{% trans %}Add Product or Service{% endtrans %}</span>
    <span class="modal-top-close">x</span>
  </div>
  <div class="modal-body">
    <span class="modal-top-title">{% trans %}All uploaded content must comply with the <a href="/cp-core-legal" target="_BLANK">publishing policy.</a>{% endtrans %}</span>
  </div>
  <div class="modal-footer">
    <button>{% trans %}I Agree{% endtrans %}</button>
  </div>
</div>
