<div class="node-multistep-header">
  <div class="title">
  {{ trans }}<strong>Information</strong> of the product or service{{ endtrans }}
  </div>
  <div class="close">
    <a class="button btn btn-cancel" href="{{ path('view.dashboard_user.page_1') }}">{{ 'Cancel'|t }}</a>
  </div>
</div>
