<div class="cp-core-node-multistep-sidebar">
    <ol>
        {% for key,step in steps %}
            <li {{ key == current ? 'class="current"' }}>{{ step }}</li>
        {% endfor %}
    </ol>
</div>
