{% trans %}<span>In order to ensure the smooth operation of the system, it will only display the first 10 matching products.</span>{% endtrans %}
{% trans %}<h2>Add Product Videos</h2><p>It is recommended to upload real videos of the product in good quality to improve the positioning of your product within the Catalog.</p>{% endtrans %}
{% trans %}<span>We suggest uploading summary videos that give a cross-sectional tour of the company's offer. It is important for the international buyer because it quickly, briefly and directly shows the skills, competencies and experience.<br>If they do not have an English video, it is suggested to include subtitles to the video in Spanish.</span>{% endtrans %}
{% trans %}<h2>Add product images</h2><p>It is recommended to upload real photographs of the product in good quality to improve the positioning of your product within the Catalog.</p>{% endtrans %}
