{% if img_add_product is not null %}
	<div class="content-add-product">
		<a href="/dashboard/product-add">
			<span>{{ 'Add product'|trans }}</span>
		</a>
		<img src="{{ img_add_product }}">
	</div>
{% endif %}
