<div class="node-multistep-header">
  <div class="title">
  {% trans %} <strong>Edit</strong> company's product or service <strong>**{{ account_name }}**</strong> {% endtrans %}
  </div>
  <div class="close">
    <a class="button btn btn-cancel" href="{{ path('view.products_advisor.dashboard_table_product', {'arg_0': uid}) }}">{{ 'Cancel'|t }}</a>
  </div>
</div>
