<section class="pre-register">
	<div class="company">
		<h2><a href="{{ urls.company }}">{{ 'Sign up as a Colombian company'|t }}</a></h2>
	</div>
	<div class="buyer">
		<h2><a href="{{ urls.buyer }}">{{ 'Sign up as an international buyer'|t }}</a></h2>
	</div>
</section>
