   <main class="body_login">
      <div class="row">
         <div class="col-lg-6">
            <a href="/es/register/user">
               <div class="card">
                  <div class="card_img">
                     <img src="/sites/default/files/2022-08/banner_2.jpeg" alt="">
                  </div>
                  <div class="card_icon">
                     <img src="web/modules/custom/cp_register/img/RegistreseComoEmpresaColombiana.svg" alt="" srcset="">
                  </div>
                  <div class="card_text">
                     <div class="text">
                        <h3 class="sub_title">
                           Regístrese como
                        </h3>
                        <h4 class="title">
                           EMPRESA COLOMBIANA
                        </h4>
                     </div>
                  </div>
                  <div class="card_footer">
                     <p>Empresa de origen colombiana con oferta exportable de bienes o servicios.</p>
                  </div>
               </div>
            </a>
         </div>
         <div class="col-lg-6">
            <div class="card">
               <div class="card_img">
                  <img src="/sites/default/files/2022-08/banner_2.jpeg" alt="">
               </div>
               <div class="card_icon">
                  <img src="img/RegistreseComoEmpresarioInternacional.svg" alt="" srcset="">
               </div>
               <div class="card_text">
                  <div class="text">
                     <h3 class="sub_title">
                        Regístrese como
                     </h3>
                     <h4 class="title">
                        comprador internacional
                     </h4>
                  </div>
               </div>
               <div class="card_footer">
                  <p>Empresa fuera de Colombia con interés en productos o servicios de origen colombiano.</p>
               </div>
            </div>
         </div>
      </div>
      <hr class="mt-5">
      <div class="accoutn text-center p-2">
         <span aria-label="¿Tienes una cuenta?">
            ¿Tienes una cuenta?
         </span>
         <button class="ms-2" title="Iniciar Sesión" aria-label="Iniciar Sesión">
            INICIAR SESIÓN
         </button>
      </div>
   </main>
   <footer>

   </footer>

   <!-- JavaScript Bundle with Popper -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>
</body>

</html>