{{ attach_library('cp_register/cp_register') }}
<main class="body_login">
	<div class="row g-5">
		<div class="col-sm-12 col-md-12 col-lg-6">
			<a href="/verificacion/usuario">
				<div class="card">
					<div class="card_img">
						<img src="http://52.201.168.42/sites/default/files/2022-08/RegistroEmpresaCol.jpg" alt="">
					</div>
					<div class="card_icon">
						<img
							src="http://52.201.168.42/sites/default/files/2022-08/RegistreseComoEmpresaColombiana.svg"></img>
					</div>
					<div class="card_text">
						<div class="text">
							<h3 class="sub_title">
								{{ 'Regístrese como'|t }}
							</h3>
							<h4 class="title">
								EMPRESA COLOMBIANA
							</h4>
						</div>
					</div>
					<div class="card_footer">
						<p>Empresa de origen colombiana con oferta exportable de bienes o servicios.</p>
					</div>
				</div>
			</a>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-6">
			<a href="/pre-register/buyer">
				<div class="card">
					<div class="card_img">
						<img src="http://52.201.168.42/sites/default/files/2022-08/RegistroComprador.jpg" alt="">
					</div>
					<div class="card_icon">
						<img
							src="http://52.201.168.42/sites/default/files/2022-08/RegistreseComoEmpresarioInternacional.svg"></img>
					</div>
					<div class="card_text">
						<div class="text">
							<h3 class="sub_title">
								Regístrese como
							</h3>
							<h4 class="title">
								comprador internacional
							</h4>
						</div>
					</div>
					<div class="card_footer">
						<p>Empresa fuera de Colombia con interés en productos o servicios de origen colombiano.</p>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="pt-6"></div>
	<div class="accoutn text-center pt-3">
		<span aria-label="¿Tienes una cuenta?">
			¿Tienes una cuenta?
		</span>
		<button id="go_login" class="ms-2" title="Iniciar Sesión" aria-label="Iniciar Sesión">
			INICIAR SESIÓN
		</button>
	</div>
</main>