<main class="step_registre">
	<div class="steps">
		<div class="step_tittle">Registro de la Empresa Colombiana - Información</div>
		<div class="step_content">
			<ul class="nav justify-content-center">
				<li class="nav-item" role="presentation">
					<a class="nav-link active" id="home-tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
						<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 178.35 174.95">
							<title>icono_3</title>
							<g id="Capa_2" data-name="Capa 2">
								<g id="Capa_1-2" data-name="Capa 1">
									<path class="back" d="M0,88.84C-.23,82.17,2.56,76.32,7.3,71.47c7.15-7.3,14.4-14.53,21.87-21.5C39,40.83,48.31,31.25,57.87,21.89c5-4.88,9.94-9.82,14.95-14.69a26.28,26.28,0,0,1,36.32.17q18.08,17.91,36.21,35.76c8.43,8.26,17.14,16.23,25.39,24.65,7.28,7.44,9.44,16.4,6,26.42a20.33,20.33,0,0,1-4.85,8q-14.34,14.25-28.75,28.4L141.74,132c-10,9.88-19.83,19.93-30.07,29.55-4.48,4.21-8.46,9.1-14.51,11.55-9.13,3.71-20.77,1.67-27.79-5.3S55.45,153.75,48.25,147c-13.67-12.88-26.9-26.22-40.36-39.32A24.49,24.49,0,0,1,0,88.84Z"/>
									<path class="num" d="M84.66,61.62H99.39v51.71H89.62V70.87H79Z"/>
								</g>
							</g>
						</svg>
						Perfil de la compañía</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="profile-tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
						<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 178.35 174.95">
							<g id="Capa_2" data-name="Capa 2">
								<g id="Capa_1-2" data-name="Capa 1">
									<path class="back" d="M0,88.84C-.23,82.17,2.56,76.32,7.3,71.47c7.15-7.3,14.4-14.53,21.87-21.5C39,40.83,48.31,31.25,57.87,21.89c5-4.88,9.94-9.82,14.95-14.69a26.28,26.28,0,0,1,36.32.17q18.08,17.91,36.21,35.76c8.43,8.26,17.14,16.23,25.39,24.65,7.28,7.44,9.44,16.4,6,26.42a20.33,20.33,0,0,1-4.85,8q-14.34,14.25-28.75,28.4L141.74,132c-10,9.88-19.83,19.93-30.07,29.55-4.48,4.21-8.46,9.1-14.51,11.55-9.13,3.71-20.77,1.67-27.79-5.3S55.45,153.75,48.25,147c-13.67-12.88-26.9-26.22-40.36-39.32A24.49,24.49,0,0,1,0,88.84Z"/>
									<path class="num" d="M82.27,78.93h-9.6q.39-8.36,5.26-13.16A17,17,0,0,1,90.42,61a16.9,16.9,0,0,1,8.32,2,15.89,15.89,0,0,1,7.93,13.34A22.51,22.51,0,0,1,104,86.21q-2.61,5.31-9.58,12.55l-5.8,6.12h18.43V114H71.26v-4.71L87.26,93q5.8-5.86,7.72-9.44a14,14,0,0,0,1.91-6.45,6.65,6.65,0,0,0-2-4.94,7,7,0,0,0-5.12-1.95,6.74,6.74,0,0,0-5.27,2.36A9.72,9.72,0,0,0,82.27,78.93Z"/>
								</g>
							</g>
						</svg>
						Actividad Económica
					</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="contact-tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
						<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 178.35 174.95">

							<g id="Capa_2" data-name="Capa 2">
								<g id="Capa_1-2" data-name="Capa 1">
									<path class="back" d="M0,88.84C-.23,82.17,2.56,76.32,7.3,71.47c7.15-7.3,14.4-14.53,21.87-21.5C39,40.83,48.31,31.25,57.87,21.89c5-4.88,9.94-9.82,14.95-14.69a26.28,26.28,0,0,1,36.32.17q18.08,17.91,36.21,35.76c8.43,8.26,17.14,16.23,25.39,24.65,7.28,7.44,9.44,16.4,6,26.42a20.33,20.33,0,0,1-4.85,8q-14.34,14.25-28.75,28.4L141.74,132c-10,9.88-19.83,19.93-30.07,29.55-4.48,4.21-8.46,9.1-14.51,11.55-9.13,3.71-20.77,1.67-27.79-5.3S55.45,153.75,48.25,147c-13.67-12.88-26.9-26.22-40.36-39.32A24.49,24.49,0,0,1,0,88.84Z"/>
									<path class="num" d="M82.87,74.38H73.41a15.66,15.66,0,0,1,4.11-9.21,15.84,15.84,0,0,1,11.85-4.85,15,15,0,0,1,10.67,4,12.75,12.75,0,0,1,4.31,9.6,11.13,11.13,0,0,1-1.89,6.29A13.38,13.38,0,0,1,97,84.86a14,14,0,0,1,7.36,4.9A13.25,13.25,0,0,1,107,98a15.55,15.55,0,0,1-5.14,11.79,18.31,18.31,0,0,1-13.07,4.83q-7.53,0-12.27-4.55T71.33,97.69h9.74a9.81,9.81,0,0,0,2.8,6,8.55,8.55,0,0,0,11.18-.27A7.26,7.26,0,0,0,97.31,98a7.36,7.36,0,0,0-3-5.94q-3.06-2.43-8.83-2.5V81.1A15.94,15.94,0,0,0,90.72,80a6.54,6.54,0,0,0,2.71-2.27,5.43,5.43,0,0,0,1-3.06,4.64,4.64,0,0,0-1.48-3.5,5.42,5.42,0,0,0-3.87-1.38,6.24,6.24,0,0,0-3.83,1.28A6.36,6.36,0,0,0,82.87,74.38Z"/>
								</g>
							</g>
						</svg>
						Información del Contacto
					</a>
				</li>
			</ul>

			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
					<form class="row g-4 gx-5 pb-3" style="padding: 1.5rem 0.5rem;">
						<div class="col-md-6">
							<label for="logo" class="form-label">Logo
								<span>*</span>
							</label>

							<div class="input-group mb-3">
								<label onclick="openInputFile()" class="input-group-text" form="logo" style="height:40px" id="basic-addon3">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21.635" height="21.635" viewbox="0 0 21.635 21.635">
										<defs>
											<linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientunits="objectBoundingBox">
												<stop offset="0" stop-color="#d88d00"/>
												<stop offset="1" stop-color="#edc500"/>
											</linearGradient>
										</defs>
										<g id="Grupo_1834" data-name="Grupo 1834" transform="translate(-1802 -314)">
											<g id="Grupo_1420" data-name="Grupo 1420" transform="translate(1804.704 316.704)">
												<path id="Trazado_3" data-name="Trazado 3" d="M462.2,763.127a.486.486,0,1,1,.486-.487.487.487,0,0,1-.486.487m-.486-4.864h.486a.486.486,0,1,1,0,.973h-.162a.324.324,0,0,0-.324.324v.162a.486.486,0,0,1-.973,0v-.486a.973.973,0,0,1,.973-.973m-1.459,2.918a.486.486,0,0,1,0,.973h-.162a.324.324,0,0,0-.324.324v.162a.486.486,0,1,1-.973,0v-.486a.973.973,0,0,1,.973-.973Zm-1.459-2.918h.486a.486.486,0,1,1,0,.973h-.162a.324.324,0,0,0-.324.324v.162a.486.486,0,0,1-.973,0v-.486a.973.973,0,0,1,.973-.973m-1.459,2.918a.486.486,0,1,1,0,.973h-.162a.324.324,0,0,0-.324.324v.162a.486.486,0,1,1-.973,0v-.486a.973.973,0,0,1,.973-.973Zm-1.459-2.918h.486a.486.486,0,1,1,0,.973H456.2a.324.324,0,0,0-.324.324v.162a.486.486,0,0,1-.973,0v-.486a.973.973,0,0,1,.973-.973m-2.432,4.864a.487.487,0,0,1-.486-.487v-.486a.973.973,0,0,1,.973-.973h.486a.486.486,0,1,1,0,.973h-.162a.324.324,0,0,0-.324.324v.162a.487.487,0,0,1-.486.487m10.215,2.918H451.982a1.946,1.946,0,0,1-1.946-1.946v-6.81a1.946,1.946,0,0,1,1.946-1.946h12.16a.487.487,0,0,0,.486-.486v-.486a.973.973,0,0,0-.973-.973h-.73a1.216,1.216,0,0,1-1.216-1.216v-.243a.486.486,0,0,0-.973,0v.243a1.216,1.216,0,0,1-1.216,1.216h-3.4a1.217,1.217,0,0,1-1.216-1.216v-.243a.486.486,0,0,0-.973,0v.243a1.217,1.217,0,0,1-1.216,1.216h-.73a.973.973,0,0,0-.973.973.486.486,0,1,1-.973,0,1.946,1.946,0,0,1,1.946-1.946h.486a.487.487,0,0,0,.486-.486,1.459,1.459,0,0,1,2.918,0,.487.487,0,0,0,.486.486h2.919a.487.487,0,0,0,.486-.486,1.459,1.459,0,0,1,2.918,0,.487.487,0,0,0,.486.486h.486a1.946,1.946,0,0,1,1.946,1.946v.73a1.216,1.216,0,0,1-1.216,1.216h-12.4a.973.973,0,0,0-.973.973v6.81a.973.973,0,0,0,.973.973h11.674a.973.973,0,0,0,.973-.973v-4.378a.486.486,0,0,1,.973,0V764.1a1.946,1.946,0,0,1-1.946,1.946" transform="translate(-450.036 -750.48)" fill="#fff" fill-rule="evenodd"/>
												<path id="Trazado_4" data-name="Trazado 4" d="M509.957,777.033a.732.732,0,0,1,.694.962.709.709,0,0,1-.462.462.73.73,0,1,1-.232-1.423" transform="translate(-494.831 -770.575)" fill-rule="evenodd" fill="url(#linear-gradient)"/>
											</g>
											<rect id="Rectángulo_2975" data-name="Rectángulo 2975" width="21.635" height="21.635" transform="translate(1802 314)" fill="none"/>
										</g>
									</svg>
									Elegir archivos</label>

								<div class="form-control" style="height:40px">
									<input type="file" id="logo" style="opacity:0">
								</div>
								<div class="input_error">
									<i id="error_logo" class='bx bxs-info-circle' data-bs-toggle="tooltip" data-bs-placement="bottom" data-original-title="Campo requerido."></i>
								</div>
							</div>
							<div class="toltip_content">
								<i class='bx bxs-info-circle' data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Solo se permiten formatos png con un peso máximo de 2 MB y unas dimensiones mínimas de 200x200 px"></i>
								<span>Solo se permiten formatos png con un peso máximo de 2 MB y unas dimensiones mínimas de 200x200 px</span>
							</div>
						</div>
						<div class="col-md-6">
							<label for="website" class="form-label">Sitio Web de la compañía
								<span>*</span>
							</label>
							<div class="input_error">
								<input type="text" class="form-control" id="website">
								<i id="error_website" class='bx bxs-info-circle' data-bs-toggle="tooltip" data-bs-placement="bottom" data-original-title="Campo requerido."></i>
							</div>

						</div>
						<div class="col-md-6">
							<label for="business_name" class="form-label">Nombre de la empresa
								<span>*</span>
							</label>
							<div class="input_error">
								<input type="text" class="form-control" id="business_name" placeholder="">
								<i id="error_business_name" class='bx bxs-info-circle' data-bs-toggle="tooltip" data-bs-placement="bottom" data-original-title="Campo requerido."></i>
							</div>
							<div class="toltip_content">
								<i class='bx bxs-info-circle' data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="“PTE REDACCIÓN NOMBRE COMERCIAL”"></i>
								<span>“PTE REDACCIÓN NOMBRE COMERCIAL”</span>
							</div>
						</div>
						<div class="col-md-6">
							<label for="nit">NIT
								<span>*</span>
							</label>
							<input id="nit" class="form-control" type="num" disabled placeholder="830070123">
						</div>
						<div class="col-md-6">
							<div class="form-group password">
								<label for="nit">Contraseña
									<span>*</span>
								</label>
								
								<div class="input-group mb-3">
									<input type="password" id="password" oninput="valueProgressBar()" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"  aria-describedby="basic-addon2">
									<span class="input-group-text">
										<img id="pass_bloq" onclick="textToPassword()"  src="/sites/default/files/2022-08/Contraseña-Bloqueado.svg" alt="" srcset="">
										<img id="pass_show" onclick="passwordToText()" src="/sites/default/files/2022-08/Contraseña.svg" alt="" srcset="">
									</span>
									<div class="input_error">
										<i id="error_password" class='bx bxs-info-circle' data-bs-toggle="tooltip" data-bs-placement="bottom" data-original-title="Campo requerido."></i>
									</div>
								</div>
								<div class="validation">
									<div class="progress">
										<div class="progress-bar" id="progressbar" role="progressbar" aria-label="Basic example" style="width: 0%"  aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<p class="mensaje">Fuerte</p>
								</div>
								<div class="toltip_content">
									<i class='bx bxs-info-circle' data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Mínimo 8 caracteres. Debe contener 1 letra mayúscula, símbolo o número."></i>
									<span>Mínimo 8 caracteres. Debe contener 1 letra mayúscula, símbolo o																																																	                                            número.</span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group password">
								<label for="nit">Verificar contraseña Contraseña<span>*</span>
								</label>
								<div class="input-group mb-3">
									<input type="password" id="password_confirm" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" value="Contraseña123*!" aria-describedby="basic-addon2">
									<span class="input-group-text">
										<img id="pass_bloq_confirm" onclick="textToPassword()"  src="/sites/default/files/2022-08/Contraseña-Bloqueado.svg" alt="" srcset="">
										<img id="pass_show_confirm" onclick="passwordToText()"  src="/sites/default/files/2022-08/Contraseña.svg" alt="" srcset="">
									</span>
									<div class="input_error">
										<i id="error_confirm_password" class='bx bxs-info-circle' data-bs-toggle="tooltip" data-bs-placement="bottom" data-original-title="Campo requerido."></i>
									</div>
								</div>

							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group rihgt">
								<label for="nit">Video de la compañía</label>
								<div class="icon_help" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Sugerimos subir videos resumen que dan un paseo transversal la oferta de la empresa. Es importante para el comprador internacional porque muestra de forma rápida, breve y directa las habilidades, competencias y experiencia. Si no cuentan con un video en inglés, se sugiere incluir subtítulos al video en español.">
									<svg xmlns="http://www.w3.org/2000/svg" width="10.631" height="15.939" viewbox="0 0 10.631 15.939">
										<path id="Trazado_11" data-name="Trazado 11" d="M164.694,605.959a.516.516,0,0,1-.532-.5,3.094,3.094,0,0,1,3.189-2.988.5.5,0,1,1,0,1,2.063,2.063,0,0,0-2.126,1.992.516.516,0,0,1-.532.5m6.013,3.355a.141.141,0,0,0,.04-.021.5.5,0,0,0-.205.4v.747a2.062,2.062,0,0,1-2.126,1.992h-2.658a.5.5,0,1,0,0,1h2.126a.5.5,0,1,1,0,1h-1.329a.547.547,0,0,1-.112-.012,1.536,1.536,0,0,1-.154.012h-.532a1.5,1.5,0,1,1,0-2.989h2.658a1.031,1.031,0,0,0,1.063-1v-.747a1.453,1.453,0,0,1,.563-1.139.758.758,0,0,1-.145.092,3.9,3.9,0,0,0,1.708-3.187,4.262,4.262,0,0,0-8.505,0,3.9,3.9,0,0,0,1.708,3.187.757.757,0,0,1-.145-.092,1.453,1.453,0,0,1,.563,1.139v.249a.533.533,0,0,1-1.063,0v-.249a.5.5,0,0,0-.205-.4.139.139,0,0,0,.04.021,4.848,4.848,0,0,1-1.96-3.854,5.327,5.327,0,0,1,10.631,0,4.848,4.848,0,0,1-1.961,3.854m-3.887,6.108h1.063a.5.5,0,1,1,0,1H166.82a.5.5,0,1,1,0-1" transform="translate(-162.036 -600.48)" fill-rule="evenodd"/>
									</svg>
								</div>
								<div class="input-group mb-3">
									<input type="text" class="form-control" placeholder="https://www.youtube.com" aria-label="Recipient's username" aria-describedby="basic-addon2">
									<span onclick="createThumbnailYoutube()" class="input-group-text">
										Agregar
									</span>
									<div class="input_error">
										<i id="error_video" class='bx bxs-info-circle' data-bs-toggle="tooltip" data-bs-placement="bottom" data-original-title="Campo requerido."></i>
									</div>
								</div>

							</div>
						</div>
						<div class="col-md-6">
							<label for="asesor" class="form-label">Asesor Principal de ProColombia
								<span>*</span>
							</label>
							<select name="sesor" id="">
								<option disabled hidden selected>Ingrese la palabra clave o seleccione una opción
								</option>
								<option value="Jaime Francisco">Jaime Francisco</option>
								<option value="Ruth Silvana">Ruth Silvana</option>
								<option value="Luis Felipe">Luis Felipe</option>
								<option value="Montserrat Carolina">Montserrat Carolina</option>
							</select>
							<div class="toltip_content">
								<i class='bx bxs-info-circle' data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Seleccione el asesor de ProColombia con quien su empresa tiene su plan de trabajo definido."></i>
								<span>Seleccione el asesor de ProColombia con quien su empresa tiene su plan de trabajo definido.</span>
							</div>
							<div class="input_error">
								<i id="error_asesor" class='bx bxs-info-circle' data-bs-toggle="tooltip" data-bs-placement="bottom" data-original-title="Campo requerido."></i>
							</div>
						</div>
						<div class="col-md-6">
							<p class="title_label">Información en Español</p>
							<label for="asesor" class="form-label">Descripción de la empresa
								<span>*</span>
							</label>
							<textarea id="description_bussiness_spanish" rows="4" cols="4"></textarea>
							<div class="input_error">
								<i id="error_description_bussiness_spanish" class='bx bxs-info-circle' data-bs-toggle="tooltip" data-bs-placement="bottom" data-original-title="Campo requerido."></i>
							</div>
						</div>
						<div class="col-md-6">
							<p class="title_label">Information in English</p>
							<label for="asesor" class="form-label">Company Description
								<span>*</span>
							</label>
							<textarea rows="4" cols="4"></textarea>

						</div>
					</form>
					<div class="row">
						<div class="col-lg-12 continue">
							<button class="cancel">CANCELAR</button>
							<button onclick="validateForm1()" id="contunuar" name="continuar" aria-label="Continuar con el registro" class="continue">CONTINUAR</button>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
					<form class="row g-4 gx-5" style="padding: 1.5rem 0.5rem;">
						<div class="col-md-6">
							<label for="asesor" class="form-label">Cadena productiva principal
								<span>*</span>
							</label>
							<select name="sesor" id="">
								<option disabled hidden selected>Ingrese la palabra clave o seleccione una opción
								</option>
								<option value="1">Opt 1</option>
								<option value="1">Opt 1</option>
								<option value="1">Opt 1</option>
								<option value="1">Opt 1</option>
								<option value="1">Opt 1</option>

							</select>
						</div>
						<div class="col-md-6">
							<label for="sitio" class="form-label">Departamento<span>*</span>
							</label>
							<select name="sesor" id="">
								<option disabled hidden selected>Ingrese la palabra clave o seleccione una opción
								</option>
								<option value="1">Opt 1</option>
								<option value="1">Opt 1</option>
								<option value="1">Opt 1</option>
								<option value="1">Opt 1</option>
								<option value="1">Opt 1</option>

							</select>
						</div>
						<div class="col-md-6">
							<label for="nombre_del_sitio" class="form-label">Código CIIU Principal o Actividad
																																																	                                    Económica
								<span>*</span>
							</label>
							<input type="text" class="form-control" id="nombre_del_sitio" placeholder="">
							<div class="toltip_content">
								<i class='bx bxs-info-circle' data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Indique el código CIIU o la actividad económica a la que pertenece su empresa.”"></i>
								<span>Indique el código CIIU o la actividad económica a la que pertenece su
																																																							                                        empresa.</span>
							</div>
						</div>
						<div class="col-md-6">
							<label for="sitio" class="form-label">Ciudad o Municipio<span>*</span>
							</label>
							<select name="sesor" id="">
								<option disabled hidden selected>Ingrese la palabra clave o seleccione una opción
								</option>
								<option value="1">Opt 1</option>
								<option value="1">Opt 1</option>
								<option value="1">Opt 1</option>
								<option value="1">Opt 1</option>
								<option value="1">Opt 1</option>

							</select>
						</div>
						<div class="col-md-6">
							<label for="nombre_del_sitio" class="form-label">Código CIIU Secundario o Actividad
																																																	                                    Económica
								<span>*</span>
							</label>
							<input type="text" class="form-control" id="nombre_del_sitio" placeholder="">
							<div class="toltip_content">
								<i class='bx bxs-info-circle' data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Indique el código CIIU o la actividad económica a la que pertenece su empresa.”"></i>
								<span>Indique el código CIIU o la actividad económica a la que pertenece su
																																																							                                        empresa.</span>
							</div>
						</div>
						<div class="col-md-6">
							<label for="sitio" class="form-label">Modelo de negocio<span>*</span>
							</label>
							<select name="sesor" id="">
								<option disabled hidden selected>Ingrese la palabra clave o seleccione una opción
								</option>
								<option value="1">Opt 1</option>
								<option value="1">Opt 1</option>
								<option value="1">Opt 1</option>
								<option value="1">Opt 1</option>
								<option value="1">Opt 1</option>

							</select>
						</div>
						<div class="col-md-6">
							<label for="nombre_del_sitio" class="form-label">Código CIIU Terciario o actividad
																																																	                                    económicas
								<span>*</span>
							</label>
							<input type="text" class="form-control" id="nombre_del_sitio" placeholder="">
							<div class="toltip_content">
								<i class='bx bxs-info-circle' data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Indique el código CIIU o la actividad económica a la que pertenece su empresa.”"></i>
								<span>Indique el código CIIU o la actividad económica a la que pertenece su
																																																							                                        empresa.</span>
							</div>
						</div>

						<div class="col-md-6">
							<label for="sitio" class="form-label">Certificación de empresa<span>*</span>
							</label>
							<select name="sesor" id="">
								<option disabled hidden selected>Ingrese la palabra clave o seleccione una opción
								</option>
								<option value="1">Opt 1</option>
								<option value="1">Opt 1</option>
								<option value="1">Opt 1</option>
								<option value="1">Opt 1</option>
								<option value="1">Opt 1</option>

							</select>
						</div>
						<div class="col-md-6">
							<label for="logo" class="form-label">Certificación de empresa
								<span>*</span>
							</label>
							<div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon3">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21.635" height="21.635" viewbox="0 0 21.635 21.635">
										<defs>
											<linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientunits="objectBoundingBox">
												<stop offset="0" stop-color="#d88d00"/>
												<stop offset="1" stop-color="#edc500"/>
											</linearGradient>
										</defs>
										<g id="Grupo_1834" data-name="Grupo 1834" transform="translate(-1802 -314)">
											<g id="Grupo_1420" data-name="Grupo 1420" transform="translate(1804.704 316.704)">
												<path id="Trazado_3" data-name="Trazado 3" d="M462.2,763.127a.486.486,0,1,1,.486-.487.487.487,0,0,1-.486.487m-.486-4.864h.486a.486.486,0,1,1,0,.973h-.162a.324.324,0,0,0-.324.324v.162a.486.486,0,0,1-.973,0v-.486a.973.973,0,0,1,.973-.973m-1.459,2.918a.486.486,0,0,1,0,.973h-.162a.324.324,0,0,0-.324.324v.162a.486.486,0,1,1-.973,0v-.486a.973.973,0,0,1,.973-.973Zm-1.459-2.918h.486a.486.486,0,1,1,0,.973h-.162a.324.324,0,0,0-.324.324v.162a.486.486,0,0,1-.973,0v-.486a.973.973,0,0,1,.973-.973m-1.459,2.918a.486.486,0,1,1,0,.973h-.162a.324.324,0,0,0-.324.324v.162a.486.486,0,1,1-.973,0v-.486a.973.973,0,0,1,.973-.973Zm-1.459-2.918h.486a.486.486,0,1,1,0,.973H456.2a.324.324,0,0,0-.324.324v.162a.486.486,0,0,1-.973,0v-.486a.973.973,0,0,1,.973-.973m-2.432,4.864a.487.487,0,0,1-.486-.487v-.486a.973.973,0,0,1,.973-.973h.486a.486.486,0,1,1,0,.973h-.162a.324.324,0,0,0-.324.324v.162a.487.487,0,0,1-.486.487m10.215,2.918H451.982a1.946,1.946,0,0,1-1.946-1.946v-6.81a1.946,1.946,0,0,1,1.946-1.946h12.16a.487.487,0,0,0,.486-.486v-.486a.973.973,0,0,0-.973-.973h-.73a1.216,1.216,0,0,1-1.216-1.216v-.243a.486.486,0,0,0-.973,0v.243a1.216,1.216,0,0,1-1.216,1.216h-3.4a1.217,1.217,0,0,1-1.216-1.216v-.243a.486.486,0,0,0-.973,0v.243a1.217,1.217,0,0,1-1.216,1.216h-.73a.973.973,0,0,0-.973.973.486.486,0,1,1-.973,0,1.946,1.946,0,0,1,1.946-1.946h.486a.487.487,0,0,0,.486-.486,1.459,1.459,0,0,1,2.918,0,.487.487,0,0,0,.486.486h2.919a.487.487,0,0,0,.486-.486,1.459,1.459,0,0,1,2.918,0,.487.487,0,0,0,.486.486h.486a1.946,1.946,0,0,1,1.946,1.946v.73a1.216,1.216,0,0,1-1.216,1.216h-12.4a.973.973,0,0,0-.973.973v6.81a.973.973,0,0,0,.973.973h11.674a.973.973,0,0,0,.973-.973v-4.378a.486.486,0,0,1,.973,0V764.1a1.946,1.946,0,0,1-1.946,1.946" transform="translate(-450.036 -750.48)" fill="#fff" fill-rule="evenodd"/>
												<path id="Trazado_4" data-name="Trazado 4" d="M509.957,777.033a.732.732,0,0,1,.694.962.709.709,0,0,1-.462.462.73.73,0,1,1-.232-1.423" transform="translate(-494.831 -770.575)" fill-rule="evenodd" fill="url(#linear-gradient)"/>
											</g>
											<rect id="Rectángulo_2975" data-name="Rectángulo 2975" width="21.635" height="21.635" transform="translate(1802 314)" fill="none"/>
										</g>
									</svg>Elegir archivos</span>
								<input type="text" class="form-control" id="logo" aria-describedby="basic-addon3">
							</div>
							<div class="toltip_content">
								<i class='bx bxs-info-circle' data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Solo se permiten archivos con formato pdf con un peso máximo de 2MB."></i>
								<span>Solo se permiten archivos con formato pdf con un peso máximo de 2MB.</span>
							</div>
						</div>
					</form>
					<div class="row">
						<div class="col-lg-6 back">
							<button class="back_btn">ANTERIOR</button>
						</div>
						<div class="col-lg-6 continue">
							<button class="cancel">CANCELAR</button>
							<button onclick="location.href='/registr_col.html'" id="contunuar" name="continuar" aria-label="Continuar con el registro" class="continue">CONTINUAR</button>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
					<form class="row g-4 gx-5" style="padding: 1.5rem 0.5rem;">

						<div class="col-md-6">
							<label for="nombre_del_sitio" class="form-label">Nombres
								<span>*</span>
							</label>
							<input type="text" class="form-control" id="nombre_del_sitio" placeholder="">
						</div>
						<div class="col-md-6">
							<label for="nombre_del_sitio" class="form-label">Apellidos
								<span>*</span>
							</label>
							<input type="text" class="form-control" id="nombre_del_sitio" placeholder="">
						</div>
						<div class="col-md-6">
							<p class="title_label">Información en Español</p>
							<label for="nombre_del_sitio" class="form-label">Nombre del cargo
								<span>*</span>
							</label>
							<input type="text" class="form-control" id="nombre_del_sitio" placeholder="">
						</div>
						<div class="col-md-6">
							<p class="title_label">Position name</p>
							<label for="nombre_del_sitio" class="form-label">Position name
								<span>*</span>
							</label>
							<input type="text" class="form-control" id="nombre_del_sitio" placeholder="">
							<div class="toltip_content">
								<i class='bx bxs-info-circle' data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Este campo debe ser diligenciado en Inglés."></i>
								<span>Este campo debe ser diligenciado en Inglés.</span>
							</div>
						</div>
						<div class="col-md-6">
							<label for="sitio" class="form-label">Teléfono fijo de la empresa<span>*</span>
							</label>
							<div class="row">
								<div class="col-lg-3" style="padding: 0px;">
									<select name="sesor" id="">
										<option disabled hidden selected>Ingrese la palabra clave o seleccione una
																																																																			                                                opción
										</option>
										<option value="1">Opt 1</option>
										<option value="1">Opt 1</option>
										<option value="1">Opt 1</option>
										<option value="1">Opt 1</option>
										<option value="1">Opt 1</option>

									</select>
								</div>
								<div class="col-lg-9">
									<select name="sesor" id="">
										<option disabled hidden selected>Ingrese la palabra clave o seleccione una
																																																																			                                                opción
										</option>
										<option value="1">Opt 1</option>
										<option value="1">Opt 1</option>
										<option value="1">Opt 1</option>
										<option value="1">Opt 1</option>
										<option value="1">Opt 1</option>

									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<label for="sitio" class="form-label">Celular *<span>*</span>
							</label>
							<div class="row">
								<div class="col-lg-3" style="padding: 0px;">
									<select name="sesor" id="">
										<option disabled hidden selected>Ingrese la palabra clave o seleccione una
																																																																			                                                opción
										</option>
										<option value="1">Opt 1</option>
										<option value="1">Opt 1</option>
										<option value="1">Opt 1</option>
										<option value="1">Opt 1</option>
										<option value="1">Opt 1</option>

									</select>
								</div>
								<div class="col-lg-9">
									<select name="sesor" id="">
										<option disabled hidden selected>Ingrese la palabra clave o seleccione una
																																																																			                                                opción
										</option>
										<option value="1">Opt 1</option>
										<option value="1">Opt 1</option>
										<option value="1">Opt 1</option>
										<option value="1">Opt 1</option>
										<option value="1">Opt 1</option>

									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<label for="nombre_del_sitio" class="form-label">Correo Electrónico
								<span>*</span>
							</label>
							<input type="email" class="form-control" id="nombre_del_sitio" placeholder="">

						</div>


					</form>
					<div class="row">
						<div class="col-lg-6 back">
							<button class="back_btn">ANTERIOR</button>
						</div>
						<div class="col-lg-6 continue">
							<button class="cancel">CANCELAR</button>
							<button onclick="location.href='/registr_col.html'" id="contunuar" name="continuar" aria-label="Continuar con el registro" class="continue">CONTINUAR</button>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
			</div>
		</div>

	</div>

	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#alert_1">
		Alerta 1
	</button>

	<!-- Modal -->
	<div class="modal fade" id="alert_1" tabindex="-1" aria-labelledby="alert_1Label" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="alert_1Label"><img src="img/Modal-Mensaje-Azul.svg" alt="" srcset="">Información de Contacto</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<h6 class="text-danger pb-2">
						<b>!Tenga presente lo siguiente!</b>
					</h6>
					<p>La información diligenciada en estos campos es la que será utilizada para enviar todas las
																																					                            notificaciones que surjan en general de la plataforma y será enviada como contacto comercial
																																					                            a los compradores internacionales interesados en los productos o servicios de la empresa.
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn cita_btn">ENTENDIDO</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#alert_2">
		Alerta 2
	</button>

	<!-- Modal -->
	<div class="modal fade" id="alert_2" tabindex="-1" aria-labelledby="alert_2Label" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="alert_3Label"><img src="img/Modal-Mensaje-Azul.svg" alt="" srcset="">Proceso exitoso</h5>

				</div>
				<div class="modal-body">
					<p>Su perfil como Empresa exportadora de
						<strong>[traer Nombre de la empresa]</strong>se
																																											                            encuentra en estado pendiente por aprobación por parte de ProColombia. Su asesor se
																																											                            contactará con usted en caso de que exista alguna observación sobre la información
																																											                            registrada.
					</p>
				</a>
			</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn cita_btn">ENTENDIDO</button>
		</div>
	</div>
</div></div><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#alert_3">
Alerta 3</button><!-- Modal --><div class="modal fade" id="alert_3" tabindex="-1" data-bs-backdrop="static" aria-labelledby="alert_3Label" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="alert_3Label"><img src="img/Modal-Mensaje_Rojo.svg" alt="" srcset="">
				Cancelar proceso</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<p>Está a punto de cancelar el proceso
				<strong>“Registro Empresa Colombiana”</strong>
			</p>
		</div>
		<div class="modal-footer ">
			<div class="row">
				<div class="col-6 fs-6">
					<strong>¿Desea continuar?</strong>
				</div>
				<div class="col-6 btn_options">
					<button class="yes">SI</button>
					<button class="no">NO</button>
				</div>
			</div>
		</div>
	</div>
</div></div></main>
