.swiper-main {

	img {
		width: 100%;
		height: auto;
		border-radius: 5px;
	}
	
}
.swiper-thumbs {
	padding-left: 10px !important;
	.swiper-slide
	img {
		width: 58px !important;
		@include media-breakpoint-down(sm){
			width: 45px !important;
		}
	}
	
	.swiper-slide {
		overflow: hidden;
	}

	img {
		margin: 0;
		width: 58px;
		height: auto;
		border-radius: 5px;
	}
}