{{ attach_library('cp_incentives/cp_incentives') }}
<main class="dashboard">
	<div id="bussines_international" class="">
		<div class="form_table mt-4">
			<table id="incentives-list" class="display dataTable"></table>
		</div>
	</div>
</main>