<div class="modal-body">
    <p>{{ description }}</p>        
</div>
<div class="modal-footer">
    {{ url }}   
    <button id="close-button" onclick="jQuery('.ui-dialog-titlebar-close').click()">Cancelar</button>
</div>
