/* ==============================
ESTILOS GLOBALES
============================== */
@font-face {
    font-family: 'Century Gothic';
    src: url(../typography/GOTHIC.TTF) format('truetype');
    font-style: normal;
}

/*html {
    @media screen and (max-width: $small-max) {
        overflow-x: auto;
    }
}*/

body {
    font-family: 'Century Gothic';    
}

div {
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: .8rem;
}


/* COLORS
--------------------------------------------------

a {
    color: $primary-blue;
}

.bg-inverse {
    background: $primary-blue !important;
}

.menu--main li a {
    color: $primary-blue;
}

.menu--account li a {
    color: $primary-blue;
}

.site-name-slogan a {
    text-decoration: none;
}

.card-group img {
    margin: 0;
    width: 100%;
    height: auto;
}

.card-group .field--type-image {
    margin: 0
}

.slick {
    width: 100%;
}

.slick>div {
    margin: 0 15px;
}

.row {
    @media screen and (max-width: $mobile-screen) {
        padding: 0;
        width: 100%;
        margin: auto;
    }
}

.user-logged-in {
    #page {
        .container {
            .row {
                @media screen and (max-width: $mobile-screen) {
                    flex-direction: column;
                }
                .main-content {
                    @media screen and (max-width: $mobile-screen) {
                        width: 100%;
                        position: initial;
                        height: auto;
                        min-height: auto;
                    }
                }
                .sidebar {
                    @media screen and (max-width: $mobile-screen) {
                        width: 100%;
                        max-width: 100%;
                        flex: auto;
                        margin: auto;
                        margin-bottom: 3rem;
                    }
                }
            }
        }
    }
}*/