{% set base = url('<front>')|render|split('/') %} {% set base_url = base|slice(0, 3)|join('/') %}    
<tr>
    <td>
        <img border="0" height="49" width="600" vspace="0" hspace="0" style="display:block;max-width:600px;margin:0px 0px 0px 0px;border:0;font-size:0;" src="{{ base_url}}/themes/custom/catalogo_public/images/header-mail.jpg">
    </td>
</tr>
