<?php

/**
 * @file
 */
?>
    {# /** * @file * Sample template for sending user password reset messages with HTML Mail. * * The following variables are available in this template: * * - $message_id: The email message id, which is 'user_password_reset' * - $module: The sending module,
    which is 'user'. * - $key: The user email action, which is 'password_reset'. * - $headers: An array of email (name => value) pairs. * - $from: The configured sender address. * - $to: The recipient email address. * - $subject: The message subject line.
    * - $body: The formatted message body. * - $language: The language code for this message. * - $params: An array containing the following keys: * - account: The user object whose password is being requested, which * contains the following useful properties:
    * - uid: The user-id number. * - name: The user login name. * - mail: The user email address. Should be the same as $to. * - theme: The user-chosen theme, or a blank string if unset. * - signature: The user signature block. * - signature_format: The
    text input filter used to format the signature. * - created: Account creation date, as a unix timestamp. * - access: Account access date, as a unix timestamp. * - login: Account login date, as a unix timestamp. * - status: Integer 0 = disabled; 1
    = enabled. * - timezone: User timezone, or NULL if unset. * - language: User language, or blank string if unset. * - picture: Path to user picture, or blank string if unset. * - init: The email address used to initially register this account. * -
    data: User profile data, as a serialized string. * - roles: Array of roles assigned to this user, as (rid => role_name) * pairs. * - $template_path: The relative path to the template directory. * - $template_url: The absolute url to the template directory.
    * - $theme: The name of the selected Email theme. * - $theme_path: The relative path to the Email theme directory. * - $theme_url: The absolute url to the Email theme directory. */ #} 
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      {% if css %}
      <style type="text/css">
          <!--
          {{ css }}
         -->
      </style>
      {% endif %}
    </head>
    <body id="mimemail-body" {% if ( module | length > 0 ) and ( key | length > 0 ) %}  {% set class = 'class="' ~ module ~ '-' ~ key ~ '"' %} {% endif %} >
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto" width="600" align="center">
            <tbody>

                {% include directory ~ '/templates/mails/headermail.html.twig'%}

                <tr>
                    <td style="padding:20px 20px 40px 25px;font-size:14px;text-align:left;font-family:Arial,sans-serif;line-height:18px">
                        <span style="font-size:20px;font-weight:bold;color:#5697d7">RESTABLECER</span>
                        <span style="font-size:20px;font-weight:bold;color:#212529;margin-left: 10px;">CONTRASEÑA</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0px 20px 40px 25px;color:#58595b;font-size:14px;text-align:left;font-family:Arial,sans-serif;line-height:25px">
                        {{ body|raw }}
                    </td>
                 </tr>

                {% include directory ~ '/templates/mails/footermail.html.twig' %}
            </tbody>
        </table>
    </body>
</html>
