@font-face {
    font-family: Maven-Medium;
    src: url('../font/MavenPro-Medium.ttf');
}

@font-face {
    font-family: Maven-Regular;
    src: url('../font/MavenPro-Regular.ttf');
}

@font-face {
    font-family: Maven-Bold;
    src: url('../font/MavenPro-Bold.ttf');
}

@font-face {
    font-family: Gothic-Regular;
    src: url('../font/Century-Gothic.otf');

}

@font-face {
    font-family: Gothic-Bold;
    src: url('../font/Century-Gothic-Bold.otf');
}

$color-Azul-Claro: #e3f3ff;
$color-Verde-aprobacion: #31d394;
$color-Gris-Claro: #f0f0f0;
$color-cccccc: #cccccc;
$color-Gris-Claro-2: #6a6d71;
$color-Gris-Oscuro: #3b3d42;
$color-504672: #504672;
$color-Pantone-200: #ba0c2f;
$color-Pantone-process-Blue: #0085ca;
$color-Pantone-116-C: #005ca4;
$color-Pantone-Y: #fdca00;
$color-Black: #000000;
$color-White: #ffffff;
$color-5c5c5c: #5C5C5C;
$color-f7f8f8: #f7f8f8;
/* Font/text values */
$font-regular: Gothic-Regular;
$font-medium: Maven-Medium;
$font-bold: Gothic-Bold;
$font-black: Maven-Black;
$font-regular-maven: Maven-Regular;
$font-bold-maven: Maven-Bold;

div#main-wrapper,
div#main {
    background: #F7F8F8;
}
.ts-wrapper {
    position: relative;
    width: 100%;
}
.dashboard {
    background: $color-White;
    padding: 3rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background: #F7F8F8;

    .card {
        box-shadow: 0px 3px 6px #00000029;
        border: none;

        .editar {
            width: 30%;
            background: $color-White;
            border: none;
            position: absolute;
            top: -19px;
            right: 0;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            font-family: $font-regular;
            text-align: center;
            padding: 0.5rem;
        }


    }

    .title_card_dashboard {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-family: $font-regular;
        border-bottom: 1px solid #ccc;
        line-height: normal;

        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin: 8px;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center center;
            object-position: center center;
            margin-left:-5px
            
        }

        svg {
            width: 40px;
            height: 40px;
            margin: 8px;
        }
    }

    .title_card_content {
        padding: 18px 0px;

        .title {

            p {
                font-size: 16px;
                font-family: 'Gothic-Bold';
                margin: 0px;
                line-height: normal;
            }
        }

        .contenido {
            display: flex;
            align-items: center;
            padding-bottom: 10px;

            p {
                font-size: 14px;
                font-family: 'Gothic-Regular';
                margin: 0px;

                strong {
                    font-family: $font-bold;
                    font-size: 13px;
                }
            }
        }

        input[type="checkbox"] {
            display: none;
        }

        label {
            cursor: pointer;
            height: 0px;
            position: relative;
            width: 40px;
            margin-left: 0.7rem;

            &::before {
                background: rgb(0, 0, 0);
                box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
                border-radius: 8px;
                content: '';
                height: 16px;
                margin-top: -8px;
                position: absolute;
                opacity: 0.3;
                transition: all 0.4s ease-in-out;
                width: 40px;
            }

            &::after {
                background: $color-Pantone-process-Blue  !important;
                border-radius: 16px;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
                content: '';
                height: 24px;
                left: -4px;
                margin-top: -8px;
                position: absolute;
                top: -4px;
                transition: all 0.3s ease-in-out;
                width: 24px;
            }
        }

        input[type="checkbox"]:checked+label {
            &::before {
                background: inherit;
                opacity: 0.5;
            }

            &::after {
                background: inherit;
                left: 20px;
            }
        }

    }

    .modal-body {
        padding: 0px !important;

        .content {
            border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
            margin-bottom: 1.5rem;
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;

            .title {

                p {
                    font-size: 16px;
                    font-family: 'Gothic-Bold';
                    margin: 0px;
                    line-height: normal;
                }
            }

            .contenido {
                display: flex;
                align-items: center;
                padding-bottom: 10px;

                p {
                    font-size: 14px;
                    font-family: 'Gothic-Regular';
                    margin: 0px;
                }
            }
        }

        h6 {
            font-size: 1.5rem;
            font-family: 'Gothic-Bold';
            padding: 0px 34px !important;
            margin-bottom: 20px;
        }

        .password {
            .input-group-text {
                background-color: #fff;
                color: $color-White;
                border-radius: 4px !important;
                margin-left: -3px !important;
                z-index: 2;
                border-left: 0px;
                cursor: pointer;
                border-top-left-radius: 0px !important;
                border-bottom-left-radius: 0px !important;

                svg {
                    margin-right: 10px;

                }
            }

            .validation {
                display: flex;
                align-items: center;

                .progress {
                    height: 7px;
                    width: 100%;

                    .progress-bar {
                        background-color: $color-Verde-aprobacion;
                    }
                }

                .mensaje {
                    margin-bottom: 0;
                    margin-left: 24px;
                    margin-right: 6px;
                }

            }
        }

        .rihgt {
            .input-group-text {
                margin-left: -3px !important;
            }

            .input-group-text.eliminar {
                background-color: $color-Pantone-200  !important;
                font-family: $font-regular  !important;
            }
        }
    }

    .anuncio_dashboard {
        padding: 0.5rem;

        .img_anuncio {
            width: 21%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .tittle {
            margin-bottom: 9px;
            font-size: 20px;
            font-family: $font-bold;
        }

        .btn_anuncio {
            font-size: 15px;
            color: $color-Pantone-116-C;
            font-family: $font-bold;
            display: flex;
            align-items: center;

            &:hover {
                i {

                    transform: translateX(4px);
                }
            }

            i {
                transition: all 0.4s ease-out !important;
                margin-bottom: -2px;
            }
        }
    }
}



.col-md-12 {
    padding-bottom: 10px;
}

span {
    font-family: $font-regular;
}

.continue {
    margin-top: 1rem;
    font-family: $font-regular;
    text-align: end;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;

    .cancel {
        border: none;
        border-radius: 4px;
        font-size: 14px;
        padding: 6px 20px;
        margin-right: 10px;
        font-family: $font-regular;
        color: $color-Pantone-116-C;
        transition: all 0.4s ease-out !important;

        &:hover {
            color: $color-White;
            background-color: $color-Pantone-process-Blue;
            box-shadow: rgba(149, 157, 165, 0.403) 0px 8px 24px;
        }
    }

    .save_only {
        border: none;
        border-radius: 4px;
        font-size: 14px;
        padding: 6px 20px;
        background-color: $color-Pantone-process-Blue;
        color: $color-White;
        font-family: $font-regular;
        transition: all 0.4s ease-out !important;
       

    }

    .continue {
        border: none;
        border-radius: 4px;
        font-size: 14px;
        padding: 6px 20px;
        background-color: $color-Pantone-116-C;
        color: $color-White;
        font-family: $font-regular;
        transition: all 0.4s ease-out !important;
        margin-top: 0px;

        &:hover {
            color: $color-White;
            background-color: $color-Pantone-process-Blue;
            box-shadow: rgba(149, 157, 165, 0.403) 0px 8px 24px;
        }
    }
}

.back {
    margin-top: 1rem;
    font-family: Gothic-Regular;
    display: flex;
    align-items: flex-end;

    .back_btn {
        border: none;
        border-radius: 4px;
        font-size: 14px;
        padding: 6px 20px;
        margin-right: 10px;
        font-family: $font-regular;
        color: $color-Pantone-116-C;
        background-color: $color-White;
        border: 1px solid $color-Pantone-process-Blue;
        transition: all 0.4s ease-out;

        &:hover {
            color: $color-White;
            background-color: $color-Pantone-process-Blue;
            box-shadow: rgba(149, 157, 165, 0.403) 0px 8px 24px;
        }
    }
}


.modal-header {
    font-size: 22px;
    color: $color-Gris-Oscuro;
    font-family: $font-bold;
    border-color: #00000033;
}

.modal-title {
    img {
        margin-right: 10px;
    }
}

.step_registre {
    padding: 1rem;
}

.strong_empresa {
    font-family: $font-bold;
}

.btn_options {
    text-align: end;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;

    .yes {
        background-color: $color-Pantone-116-C;
        color: $color-White;
        font-family: $font-bold;
        border: none;
        line-height: normal;
        border-radius: 4px;
        padding: 0.6rem 1rem;

        &:hover {
            color: $color-White;
            background-color: $color-Pantone-process-Blue;
            box-shadow: rgba(149, 157, 165, 0.403) 0px 8px 24px;
        }
    }

    .no {
        line-height: normal;
        border-radius: 4px;
        padding: 0.7rem;
        margin-left: 10px;
        font-family: $font-regular;
        color: $color-Pantone-116-C;
        transition: all 0.4s ease-out;
        border: 1px solid $color-Pantone-116-C;
        align-items: center;
        justify-content: center;

        &:hover {
            color: $color-White;
            background-color: $color-Pantone-process-Blue;
            box-shadow: rgba(149, 157, 165, 0.403) 0px 8px 24px;
        }
    }
}

.steps {
    background-color: $color-White;
    border-radius: 4px;
    box-shadow: 0px 3px 6px #00000029;

    .bt_eliminar {
        background: $color-Pantone-116-C;
        font-family: $font-regular;
        border-radius: 4px;
        color: $color-White;
        border: none !important;
    }

    .group_transparent {
        background-color: #fff !important;
        border-right-color: #fff !important;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            margin: 0px !important;
        }
    }

    .description {
        margin-bottom: -57px !important;
        padding: 1.5rem 0rem;
        margin: 0px;

        .title {
            font-family: $font-bold;
            font-size: 26px;
            margin: 0px;
            color: $color-Pantone-116-C;
            height: 80px;
        }

        .desc {
            font-size: 15px;
            font-family: $font-regular;
        }
    }

    .step_tittle {
        background: transparent linear-gradient(180deg, $color-Pantone-116-C 0%, $color-Pantone-process-Blue 100%) 0% 0% no-repeat padding-box;
        font-size: 17px;
        font-family: $font-bold-maven;
        border-radius: 4px;
        padding: 0.5rem 1rem;
        box-shadow: 0px 3px 6px #00000029;
        color: $color-White;
        z-index: 1;
        padding: 0.7rem !important;
    }

    .step_content {
        padding: 0.1rem 2rem;

        .validate {
            margin: 1rem 32% !important;
            height: 5px;

            .progress-bar {
                background-color: $color-Pantone-process-Blue;
            }
        }

        li {

            a {
                font-family: $font-bold;
                color: $color-Black;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 130px;
                text-align: center;
                font-size: 14px;
                border-bottom: 3px solid $color-White;
                transition: all 0.2s ease-out;

                svg {
                    width: 50px;
                    margin-bottom: 10px;

                    .back {
                        fill: #666869;
                    }

                    .num {
                        fill: $color-White;
                    }
                }


            }

            a.active {

                svg {
                    width: 50px;
                    margin-bottom: 10px;

                    .back {
                        fill: $color-Pantone-process-Blue;
                    }

                    .num {
                        fill: $color-White;
                    }
                }
            }
        }

        form {
            background-color: $color-White;

            margin-top: 20px;
            border-radius: 4px;
            padding: 2rem;

            label {
                font-family: $font-bold;
                font-size: 15px;
                margin-bottom: 0.5rem;

                span {
                    color: $color-Pantone-200;
                }
            }

            .input-group-text,
            .input-group label {
                background-color: $color-Pantone-116-C;
                color: $color-White;
                border-radius: 4px !important;
                margin-right: -3px;
                z-index: 2;
                cursor: pointer;

                svg {
                    margin-right: 10px;

                }
            }

            .password {
                .input-group-text {
                    background-color: #fff;
                    color: $color-White;
                    border-radius: 4px !important;
                    margin-left: -3px !important;
                    z-index: 2;
                    border-left: 0px;
                    cursor: pointer;
                    border-top-left-radius: 0px !important;
                    border-bottom-left-radius: 0px !important;

                    svg {
                        margin-right: 10px;

                    }
                }

                .validation {
                    display: flex;
                    align-items: center;

                    .progress {
                        height: 7px;
                        width: 100%;

                        .progress-bar {
                            background-color: $color-Verde-aprobacion;
                        }
                    }

                    .mensaje {
                        margin-bottom: 0;
                        margin-left: 24px;
                        margin-right: 6px;
                    }

                }
            }

            .rihgt {
                .input-group-text {
                    margin-left: -3px !important;
                }

                .input-group-text.eliminar {
                    background-color: $color-Pantone-200  !important;
                    font-family: $font-regular  !important;
                }
            }

            .icon_help {
                background-color: $color-Pantone-Y;
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                float: right;
                border-radius: 100px;
            }

            #pass-show {
                display: none;
            }

            .tooltip-inner {
                text-align: left;
                max-width: 400px;
                border-radius: 8px;
                padding: 20px;
            }

            input {
                -webkit-appearance: none;
                border: none;
                outline: none;
                padding: 7px 20px;
                color: $color-Black;
                border: 1px solid $color-cccccc;
                border-radius: 4px;

                &:focus {
                    outline: none;

                }

                &:active {
                    outline: none;
                }
            }

            select,
            .ts-control {
                background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' id='Grupo_1428' data-name='Grupo 1428' width='19.198' height='11.912' viewBox='0 0 19.198 11.912'><g id='Grupo_1417' data-name='Grupo 1417' transform='translate(0 2.288)'><path id='Trazado_1893' data-name='Trazado 1893' d='M1006.623,705.634a1.337,1.337,0,0,1-.933-.379l-7.1-6.874a1.391,1.391,0,0,1-.047-1.944,1.337,1.337,0,0,1,1.913-.047l6.169,5.971,6.169-5.971a1.337,1.337,0,0,1,1.913.047,1.391,1.391,0,0,1-.047,1.944l-7.1,6.874A1.337,1.337,0,0,1,1006.623,705.634Z' transform='translate(-998.168 -696.009)'/></g><path id='Trazado_1847' data-name='Trazado 1847' d='M469.031,357.48a1.144,1.144,0,1,1-1.144,1.144,1.145,1.145,0,0,1,1.144-1.144' transform='translate(-450.976 -357.48)' fill-rule='evenodd' class='__web-inspector-hide-shortcut__'/></svg>") !important;
                background-repeat: no-repeat !important;
                background-position-x: 96% !important;
                background-position-y: 50% !important;
                border: 1px solid #dfdfdf;
                padding: 10px 1rem !important;
                font-size: 15px;
                padding-right: 2.4rem !important;

            }

            select {
                &:hover {
                    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32' height='32' viewBox='0 0 32 32'> <defs> <linearGradient id='linear-gradient' x1='0.5' x2='0.5' y2='1' gradientUnits='objectBoundingBox'> <stop offset='0' stop-color='#005ca4'/> <stop offset='1' stop-color='#008cce'/> </linearGradient> <linearGradient id='gradient_1-2' x1='0.5' x2='0.5' y2='1' gradientUnits='objectBoundingBox'> <stop offset='0' stop-color='#d88d00'/> <stop offset='1' stop-color='#edc500'/> </linearGradient> </defs> <g id='icon_navigation_expand_more_24px' data-name='icon/navigation/expand_more_24px' transform='translate(0 0)'> <rect id='Boundary' width='32' height='32' transform='translate(0 0)' fill='none'/> <g id='Grupo_1428' data-name='Grupo 1428' transform='translate(6 10.001)'> <g id='Grupo_1417' data-name='Grupo 1417' transform='translate(0 2.288)'> <path id='Trazado_1893' data-name='Trazado 1893' d='M1006.623,705.634a1.337,1.337,0,0,1-.933-.379l-7.1-6.874a1.391,1.391,0,0,1-.047-1.944,1.337,1.337,0,0,1,1.913-.047l6.169,5.971,6.169-5.971a1.337,1.337,0,0,1,1.913.047,1.391,1.391,0,0,1-.047,1.944l-7.1,6.874A1.337,1.337,0,0,1,1006.623,705.634Z' transform='translate(-998.168 -696.009)' fill='url(#gradient_1)'/> </g> <path id='Trazado_1847' data-name='Trazado 1847' d='M469.031,357.48a1.144,1.144,0,1,1-1.144,1.144,1.145,1.145,0,0,1,1.144-1.144' transform='translate(-450.976 -357.48)' fill-rule='evenodd' fill='url(#gradient_1-2)'/> </g> </g> </svg>");
                }
            }

            .ts-control {
                &:hover {
                    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32' height='32' viewBox='0 0 32 32'> <defs> <linearGradient id='linear-gradient' x1='0.5' x2='0.5' y2='1' gradientUnits='objectBoundingBox'> <stop offset='0' stop-color='#005ca4'/> <stop offset='1' stop-color='#008cce'/> </linearGradient> <linearGradient id='gradient_1-2' x1='0.5' x2='0.5' y2='1' gradientUnits='objectBoundingBox'> <stop offset='0' stop-color='#d88d00'/> <stop offset='1' stop-color='#edc500'/> </linearGradient> </defs> <g id='icon_navigation_expand_more_24px' data-name='icon/navigation/expand_more_24px' transform='translate(0 0)'> <rect id='Boundary' width='32' height='32' transform='translate(0 0)' fill='none'/> <g id='Grupo_1428' data-name='Grupo 1428' transform='translate(6 10.001)'> <g id='Grupo_1417' data-name='Grupo 1417' transform='translate(0 2.288)'> <path id='Trazado_1893' data-name='Trazado 1893' d='M1006.623,705.634a1.337,1.337,0,0,1-.933-.379l-7.1-6.874a1.391,1.391,0,0,1-.047-1.944,1.337,1.337,0,0,1,1.913-.047l6.169,5.971,6.169-5.971a1.337,1.337,0,0,1,1.913.047,1.391,1.391,0,0,1-.047,1.944l-7.1,6.874A1.337,1.337,0,0,1,1006.623,705.634Z' transform='translate(-998.168 -696.009)' fill='url(#gradient_1)'/> </g> <path id='Trazado_1847' data-name='Trazado 1847' d='M469.031,357.48a1.144,1.144,0,1,1-1.144,1.144,1.145,1.145,0,0,1,1.144-1.144' transform='translate(-450.976 -357.48)' fill-rule='evenodd' fill='url(#gradient_1-2)'/> </g> </g> </svg>");
                }
            }

            select,
            textarea {
                -webkit-appearance: none;
                border: none;
                outline: none;
                padding: 7px 20px;
                color: $color-Black;
                border: 1px solid $color-cccccc;
                width: 100%;
                border-radius: 4px;

                &:focus {
                    outline: none;

                }

                &:active {
                    outline: none;
                }
            }

            .title_label {
                font-size: 1.2rem;
                font-family: $font-bold;
                color: $color-Black;
            }
        }

    }


}

.modal-body p {
    font-family: $font-regular;
}

#logo_name {
    background-image: url("https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/Icono_file-image.svg");
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 9px;
    border: 1px solid $color-cccccc;
    padding-left: 2.4rem !important;
    margin-right: -23px;


}

.input_error {
    display: flex;
    align-items: center;

    i {
        margin-left: 8px;
        color: $color-Pantone-200;
        display: none;
    }
}

.error_select {
    i {
        margin-left: 8px;
        color: $color-Pantone-200;
        display: none;
        display: none;
    }
}

#logo_img {
    width: 80px;
    height: 80px;
    margin: 0.4rem;
}

.error::before {
    border-color: $color-Pantone-200  !important;
}

.yotube {
    background: #D9DADE;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
    border-radius: 4px;

    img {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        height: 100%;
    }

    #title {
        font-size: 15px;
        font-family: $font-bold;
    }

    #author_name {
        font-size: 13px;
        font-family: $font-regular;
    }

    i {
        font-size: 2rem;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
}

.modal-lg {
    max-width: 600px !important;
}

.modal-footer {
    .btn_save {
        border-radius: 4px;
        background-color: $color-Pantone-116-C  !important;
        color: $color-White  !important;
        font-family: $font-bold;
        font-size: 14px;

        i {
            margin-right: 7px;
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

    .container,
    .container-sm {
        max-width: 100% !important;
    }

    .table_dashboard {
        order: 1;
    }

    .title_tab {
        font-family: $font-bold;
        font-size: 15px;
        margin-bottom: 1rem;
        display: none;
        margin-left: 6%;
        margin-right: 6%;
    }

    .sub-header,
    .pt-6,
    .btn_header {
        display: none;
    }

    .body_login {
        padding: 0rem;
        height: auto !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        align-items: center;
        padding-bottom: 2rem;

        .row.g-5 {
            .col-sm-12.col-md-12.col-lg-6 {
                padding: 0px !important;
            }

        }

        .pt-3 {
            padding-top: 2rem !important;
        }
    }

    .main_registre {
        .body {
            padding: 2rem 0rem;
            margin-top: 17rem;
        }

        .header_title h1 {
            padding: 5rem 2rem;
        }

    }

    .continue {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 14px;

    }

    .continue .continue,
    .continue .cancel,
    .continue .save_only {
        width: 100%;
        text-align: center !important;
        padding: 1.5rem;
    }

    .steps .description {
        margin-bottom: -57px !important;
        padding: 1.5rem 2rem;
        margin: 0px;
    }

    .continue .cancel {
        order: 1;
    }

    .continue .continue {
        margin-bottom: 14px;
        display: flex;
        align-items: center;
    }

    .col-lg-6.back {
        order: 1;
        margin-bottom: 14px;
    }

    button.back_btn {
        width: 100%;
        text-align: center !important;
        padding: 1.5rem !important;
        order: 2;
        margin: 0px !important;
    }

    .step_registre {
        padding: 0rem;
        padding-bottom: 2rem;

        .step_content {
            padding: 0px;
            padding-top: 2rem;

            .validate {
                margin: 1rem 7% !important;
                height: 5px;
            }

            .col-md-6 {
                margin-bottom: 0px !important;
                border: none !important;
            }

            li a {
                font-family: Gothic-Bold;
                color: #000000;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 85px;
                text-align: center;
                font-size: 0px;
                border-bottom: 3px solid #ffffff;
                transition: all 0.2s ease-out;
            }
        }
    }

    .col-lg-9,
    .col-lg-3 {
        padding: 0px !important;
        margin-top: 8px !important;
    }


    .tooltiptext_yotube {
        width: 290px !important;
    }

    .steps .step_content form {
        box-shadow: none !important;
    }


}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

    .container,
    .container-sm {
        max-width: 90% !important;
    }

    .table_dashboard {
        order: 1;
    }

    .sub-header,
    .pt-6,
    .btn_header {
        display: none;
    }

    .body_login {
        padding: 0rem;
        height: auto !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        align-items: center;
        padding-bottom: 2rem;

        .row.g-5 {
            .col-sm-12.col-md-12.col-lg-6 {
                padding: 0px !important;
            }

        }

        .pt-3 {
            padding-top: 2rem !important;
        }


    }

    .main_registre {
        .body {

            padding: 2rem 0rem;
            margin-top: 17rem;
        }
    }

    .continue {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 2rem;
    }

    .continue .continue,
    .continue .cancel,
    .continue .save_only {
        width: 100%;
        text-align: center !important;
        padding: 1.5rem;
    }

    .steps .description {
        margin-bottom: -57px !important;
        padding: 1.5rem 2rem;
        margin: 0px;
    }

    .col-lg-9,
    .col-lg-3 {
        padding: 0px !important;
        margin-top: 8px !important;
    }

    .continue .cancel {
        order: 1;
    }

    .continue .continue {
        margin-bottom: 14px;
        display: flex;
        align-items: center;
        margin-top: 0;
    }

    .col-lg-6.back {
        order: 1;
        margin-bottom: 14px;
    }

    button.back_btn {
        width: 100%;
        text-align: center !important;
        padding: 1.5rem !important;
        order: 2;
        margin: 0px !important;
    }

    .step_registre {
        padding: 0rem;
    }

    .title_tab {
        font-family: $font-bold;
        font-size: 15px;
        margin-bottom: 1rem;
        display: none;
        margin-left: 6%;
        margin-right: 6%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

    .col-lg-9,
    .col-lg-3 {
        padding: 0px !important;
        margin-top: 8px !important;
    }

    .sub-header,
    .pt-6,
    .btn_header {
        display: none;
    }

    .pt-3 {
        padding-top: 2rem !important;
    }

    .body_login {
        padding: 0rem;
        height: auto !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        align-items: center;
        padding-bottom: 2rem;

        .row.g-5 {
            .col-sm-12.col-md-12.col-lg-6 {
                padding: 0px !important;
            }

        }
    }

    .main_registre {
        .body {

            padding: 2rem 0rem;
            margin-top: 17rem;
        }
    }

    .step_registre {
        padding: 0rem;
    }

}









/* DATA TABLE*/

table.dataTable {
    td.dt-control {
      text-align: center;
      cursor: pointer;
  
      &:before {
        height: 1em;
        width: 1em;
        margin-top: -9px;
        display: inline-block;
        color: white;
        border: 0.15em solid white;
        border-radius: 1em;
        box-shadow: 0 0 0.2em #444;
        box-sizing: content-box;
        text-align: center;
        text-indent: 0 !important;
        font-family: "Courier New", Courier, monospace;
        line-height: 1em;
        content: "+";
        background-color: #31b131;
      }
    }
  
    tr.dt-hasChild td.dt-control:before {
      content: "-";
      background-color: #d33333;
    }
  
    thead > tr > {
      th {
        &.sorting, &.sorting_asc, &.sorting_desc, &.sorting_asc_disabled, &.sorting_desc_disabled {
          cursor: pointer;
          position: relative;
          padding-right: 26px;
        }
      }
  
      td {
        &.sorting, &.sorting_asc, &.sorting_desc, &.sorting_asc_disabled, &.sorting_desc_disabled {
          cursor: pointer;
          position: relative;
          padding-right: 26px;
        }
      }
  
      th {
        &.sorting {
          &:before, &:after {
            position: absolute;
            display: block;
            opacity: 0.125;
            right: 10px;
            line-height: 9px;
            font-size: 0.9em;
          }
        }
  
        &.sorting_asc {
          &:before, &:after {
            position: absolute;
            display: block;
            opacity: 0.125;
            right: 10px;
            line-height: 9px;
            font-size: 0.9em;
          }
        }
  
        &.sorting_desc {
          &:before, &:after {
            position: absolute;
            display: block;
            opacity: 0.125;
            right: 10px;
            line-height: 9px;
            font-size: 0.9em;
          }
        }
  
        &.sorting_asc_disabled {
          &:before, &:after {
            position: absolute;
            display: block;
            opacity: 0.125;
            right: 10px;
            line-height: 9px;
            font-size: 0.9em;
          }
        }
  
        &.sorting_desc_disabled {
          &:before, &:after {
            position: absolute;
            display: block;
            opacity: 0.125;
            right: 10px;
            line-height: 9px;
            font-size: 0.9em;
          }
        }
      }
  
      td {
        &.sorting {
          &:before, &:after {
            position: absolute;
            display: block;
            opacity: 0.125;
            right: 10px;
            line-height: 9px;
            font-size: 0.9em;
          }
        }
  
        &.sorting_asc {
          &:before, &:after {
            position: absolute;
            display: block;
            opacity: 0.125;
            right: 10px;
            line-height: 9px;
            font-size: 0.9em;
          }
        }
  
        &.sorting_desc {
          &:before, &:after {
            position: absolute;
            display: block;
            opacity: 0.125;
            right: 10px;
            line-height: 9px;
            font-size: 0.9em;
          }
        }
  
        &.sorting_asc_disabled {
          &:before, &:after {
            position: absolute;
            display: block;
            opacity: 0.125;
            right: 10px;
            line-height: 9px;
            font-size: 0.9em;
          }
        }
  
        &.sorting_desc_disabled {
          &:before, &:after {
            position: absolute;
            display: block;
            opacity: 0.125;
            right: 10px;
            line-height: 9px;
            font-size: 0.9em;
          }
        }
      }
  
      th {
        &.sorting:before, &.sorting_asc:before, &.sorting_desc:before, &.sorting_asc_disabled:before, &.sorting_desc_disabled:before {
          bottom: 50%;
          content: "▴";
        }
      }
  
      td {
        &.sorting:before, &.sorting_asc:before, &.sorting_desc:before, &.sorting_asc_disabled:before, &.sorting_desc_disabled:before {
          bottom: 50%;
          content: "▴";
        }
      }
  
      th {
        &.sorting:after, &.sorting_asc:after, &.sorting_desc:after, &.sorting_asc_disabled:after, &.sorting_desc_disabled:after {
          top: 50%;
          content: "▾";
        }
      }
  
      td {
        &.sorting:after, &.sorting_asc:after, &.sorting_desc:after, &.sorting_asc_disabled:after, &.sorting_desc_disabled:after {
          top: 50%;
          content: "▾";
        }
      }
  
      th {
        &.sorting_asc:before, &.sorting_desc:after {
          opacity: 0.6;
        }
      }
  
      td {
        &.sorting_asc:before, &.sorting_desc:after {
          opacity: 0.6;
        }
      }
  
      th {
        &.sorting_desc_disabled:after, &.sorting_asc_disabled:before {
          display: none;
        }
      }
  
      td {
        &.sorting_desc_disabled:after, &.sorting_asc_disabled:before {
          display: none;
        }
      }
  
      th:active, td:active {
        outline: none;
      }
    }
  }
  
  div {
    &.dataTables_scrollBody table.dataTable thead > tr > {
      th {
        &:before, &:after {
          display: none;
        }
      }
  
      td {
        &:before, &:after {
          display: none;
        }
      }
    }
  
    &.dataTables_processing {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200px;
      margin-left: -100px;
      margin-top: -26px;
      text-align: center;
      padding: 2px;
  
      > div:last-child {
        position: relative;
        width: 80px;
        height: 15px;
        margin: 1em auto;
  
        > div {
          position: absolute;
          top: 0;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background: rgba(13, 110, 253, 0.9);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
  
          &:nth-child(1) {
            left: 8px;
            animation: datatables-loader-1 0.6s infinite;
          }
  
          &:nth-child(2) {
            left: 8px;
            animation: datatables-loader-2 0.6s infinite;
          }
  
          &:nth-child(3) {
            left: 32px;
            animation: datatables-loader-2 0.6s infinite;
          }
  
          &:nth-child(4) {
            left: 56px;
            animation: datatables-loader-3 0.6s infinite;
          }
        }
      }
    }
  }
  
  @keyframes datatables-loader-1 {
    0% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes datatables-loader-3 {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes datatables-loader-2 {
    0% {
      transform: translate(0, 0);
    }
  
    100% {
      transform: translate(24px, 0);
    }
  }
  
  table.dataTable {
    &.nowrap {
      th, td {
        white-space: nowrap;
      }
    }
  
    th.dt-left, td.dt-left {
      text-align: left;
    }
  
    th.dt-center {
      text-align: center;
    }
  
    td {
      &.dt-center, &.dataTables_empty {
        text-align: center;
      }
    }
  
    th.dt-right, td.dt-right {
      text-align: right;
    }
  
    th.dt-justify, td.dt-justify {
      text-align: justify;
    }
  
    th.dt-nowrap, td.dt-nowrap {
      white-space: nowrap;
    }
  
    thead {
      th, td {
        text-align: left;
      }
    }
  
    tfoot {
      th, td {
        text-align: left;
      }
    }
  
    thead {
      th.dt-head-left, td.dt-head-left {
        text-align: left;
      }
    }
  
    tfoot {
      th.dt-head-left, td.dt-head-left {
        text-align: left;
      }
    }
  
    thead {
      th.dt-head-center, td.dt-head-center {
        text-align: center;
      }
    }
  
    tfoot {
      th.dt-head-center, td.dt-head-center {
        text-align: center;
      }
    }
  
    thead {
      th.dt-head-right, td.dt-head-right {
        text-align: right;
      }
    }
  
    tfoot {
      th.dt-head-right, td.dt-head-right {
        text-align: right;
      }
    }
  
    thead {
      th.dt-head-justify, td.dt-head-justify {
        text-align: justify;
      }
    }
  
    tfoot {
      th.dt-head-justify, td.dt-head-justify {
        text-align: justify;
      }
    }
  
    thead {
      th.dt-head-nowrap, td.dt-head-nowrap {
        white-space: nowrap;
      }
    }
  
    tfoot {
      th.dt-head-nowrap, td.dt-head-nowrap {
        white-space: nowrap;
      }
    }
  
    tbody {
      th.dt-body-left, td.dt-body-left {
        text-align: left;
      }
  
      th.dt-body-center, td.dt-body-center {
        text-align: center;
      }
  
      th.dt-body-right, td.dt-body-right {
        text-align: right;
      }
  
      th.dt-body-justify, td.dt-body-justify {
        text-align: justify;
      }
  
      th.dt-body-nowrap, td.dt-body-nowrap {
        white-space: nowrap;
      }
    }
  
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
  
    /*
     * Header and footer styles
     */
    /*
     * Body styles
     */
  
    thead th, tfoot th {
      font-weight: bold;
    }
  
    thead {
      th, td {
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      }
  
      th:active, td:active {
        outline: none;
      }
    }
  
    tfoot {
      th, td {
        padding: 10px 10px 6px 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
      }
    }
  
    tbody {
      tr {
        background-color: transparent;
  
        &.selected > * {
          box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.9);
          color: white;
        }
      }
  
      th, td {
        padding: 8px 10px;
      }
    }
  
    &.row-border tbody {
      th, td {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
      }
    }
  
    &.display tbody {
      th, td {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
      }
    }
  
    &.row-border tbody tr:first-child {
      th, td {
        border-top: none;
      }
    }
  
    &.display tbody tr:first-child {
      th, td {
        border-top: none;
      }
    }
  
    &.cell-border tbody {
      th, td {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        border-right: 1px solid rgba(0, 0, 0, 0.15);
      }
  
      tr {
        th:first-child, td:first-child {
          border-left: 1px solid rgba(0, 0, 0, 0.15);
        }
  
        &:first-child {
          th, td {
            border-top: none;
          }
        }
      }
    }
  
    &.stripe > tbody > tr.odd > *, &.display > tbody > tr.odd > * {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.023);
    }
  
    &.stripe > tbody > tr.odd.selected > *, &.display > tbody > tr.odd.selected > * {
      box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.923);
    }
  
    &.hover > tbody > tr:hover > *, &.display > tbody > tr:hover > * {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.035);
    }
  
    &.hover > tbody > tr.selected:hover > *, &.display > tbody > tr.selected:hover > * {
      box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.935);
    }
  
    &.order-column > tbody tr > {
      .sorting_1, .sorting_2, .sorting_3 {
        box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.019);
      }
    }
  
    &.display > tbody tr > {
      .sorting_1, .sorting_2, .sorting_3 {
        box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.019);
      }
    }
  
    &.order-column > tbody tr.selected > {
      .sorting_1, .sorting_2, .sorting_3 {
        box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.919);
      }
    }
  
    &.display > tbody {
      tr.selected > {
        .sorting_1, .sorting_2, .sorting_3 {
          box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.919);
        }
      }
  
      > tr.odd > .sorting_1 {
        box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.054);
      }
    }
  
    &.order-column.stripe > tbody > tr.odd > .sorting_1 {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.054);
    }
  
    &.display > tbody > tr.odd > .sorting_2, &.order-column.stripe > tbody > tr.odd > .sorting_2 {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.047);
    }
  
    &.display > tbody > tr.odd > .sorting_3, &.order-column.stripe > tbody > tr.odd > .sorting_3 {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.039);
    }
  
    &.display > tbody > tr.odd.selected > .sorting_1, &.order-column.stripe > tbody > tr.odd.selected > .sorting_1 {
      box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.954);
    }
  
    &.display > tbody > tr.odd.selected > .sorting_2, &.order-column.stripe > tbody > tr.odd.selected > .sorting_2 {
      box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.947);
    }
  
    &.display > tbody > tr.odd.selected > .sorting_3, &.order-column.stripe > tbody > tr.odd.selected > .sorting_3 {
      box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.939);
    }
  
    &.display > tbody > tr.even > .sorting_1, &.order-column.stripe > tbody > tr.even > .sorting_1 {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.019);
    }
  
    &.display > tbody > tr.even > .sorting_2, &.order-column.stripe > tbody > tr.even > .sorting_2 {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.011);
    }
  
    &.display > tbody > tr.even > .sorting_3, &.order-column.stripe > tbody > tr.even > .sorting_3 {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.003);
    }
  
    &.display > tbody > tr.even.selected > .sorting_1, &.order-column.stripe > tbody > tr.even.selected > .sorting_1 {
      box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.919);
    }
  
    &.display > tbody > tr.even.selected > .sorting_2, &.order-column.stripe > tbody > tr.even.selected > .sorting_2 {
      box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.911);
    }
  
    &.display > tbody > tr.even.selected > .sorting_3, &.order-column.stripe > tbody > tr.even.selected > .sorting_3 {
      box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.903);
    }
  
    &.display tbody tr:hover > .sorting_1, &.order-column.hover tbody tr:hover > .sorting_1 {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.082);
    }
  
    &.display tbody tr:hover > .sorting_2, &.order-column.hover tbody tr:hover > .sorting_2 {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.074);
    }
  
    &.display tbody tr:hover > .sorting_3, &.order-column.hover tbody tr:hover > .sorting_3 {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.062);
    }
  
    &.display tbody tr:hover.selected > .sorting_1, &.order-column.hover tbody tr:hover.selected > .sorting_1 {
      box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.982);
    }
  
    &.display tbody tr:hover.selected > .sorting_2, &.order-column.hover tbody tr:hover.selected > .sorting_2 {
      box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.974);
    }
  
    &.display tbody tr:hover.selected > .sorting_3, &.order-column.hover tbody tr:hover.selected > .sorting_3 {
      box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.962);
    }
  
    &.no-footer {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
  
    &.compact {
      thead {
        th, td {
          padding: 4px 17px;
        }
      }
  
      tfoot {
        th, td {
          padding: 4px;
        }
      }
  
      tbody {
        th, td {
          padding: 4px;
        }
      }
    }
  
    th, td {
      box-sizing: content-box;
    }
  }
  
  /*
   * Table styles
   */
  
  /*
   * Control feature layout
   */
  
  .dataTables_wrapper {
    position: relative;
    clear: both;
  
    .dataTables_length {
      float: left;
  
      select {
        border: 1px solid #aaa;
        border-radius: 3px;
        padding: 5px;
        background-color: transparent;
        padding: 4px;
      }
    }
  
    .dataTables_filter {
      float: right;
      text-align: right;
  
      input {
        border: 1px solid #aaa;
        border-radius: 3px;
        padding: 5px;
        background-color: transparent;
        margin-left: 3px;
      }
    }
  
    .dataTables_info {
      clear: both;
      float: left;
      padding-top: 0.755em;
    }
  
    .dataTables_paginate {
      float: right;
      text-align: right;
      padding-top: 0.25em;
  
      .paginate_button {
        box-sizing: border-box;
        display: inline-block;
        min-width: 1.5em;
        padding: 0.5em 1em;
        margin-left: 2px;
        text-align: center;
        text-decoration: none !important;
        cursor: pointer;
        color: #333 !important;
        border: 1px solid transparent;
        border-radius: 2px;
  
        &.current {
          color: #333 !important;
          border: 1px solid rgba(0, 0, 0, 0.3);
          background-color: rgba(230, 230, 230, 0.1);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  
          /* Chrome10+,Safari5.1+ */
          background: -moz-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  
          /* FF3.6+ */
          background: -ms-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  
          /* IE10+ */
          background: -o-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  
          /* Opera 11.10+ */
          background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  
          /* W3C */
  
          &:hover {
            color: #333 !important;
            border: 1px solid rgba(0, 0, 0, 0.3);
            background-color: rgba(230, 230, 230, 0.1);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  
            /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  
            /* Chrome10+,Safari5.1+ */
            background: -moz-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  
            /* FF3.6+ */
            background: -ms-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  
            /* IE10+ */
            background: -o-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  
            /* Opera 11.10+ */
            background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  
            /* W3C */
          }
        }
  
        &.disabled {
          cursor: default;
          color: #666 !important;
          border: 1px solid transparent;
          background: transparent;
          box-shadow: none;
  
          &:hover, &:active {
            cursor: default;
            color: #666 !important;
            border: 1px solid transparent;
            background: transparent;
            box-shadow: none;
          }
        }
  
        &:hover {
          color: white !important;
          border: 1px solid #111;
          background-color: #585858;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
  
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
  
          /* Chrome10+,Safari5.1+ */
          background: -moz-linear-gradient(top, #585858 0%, #111 100%);
  
          /* FF3.6+ */
          background: -ms-linear-gradient(top, #585858 0%, #111 100%);
  
          /* IE10+ */
          background: -o-linear-gradient(top, #585858 0%, #111 100%);
  
          /* Opera 11.10+ */
          background: linear-gradient(to bottom, #585858 0%, #111 100%);
  
          /* W3C */
        }
  
        &:active {
          outline: none;
          background-color: #2b2b2b;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
  
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  
          /* Chrome10+,Safari5.1+ */
          background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  
          /* FF3.6+ */
          background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  
          /* IE10+ */
          background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  
          /* Opera 11.10+ */
          background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  
          /* W3C */
          box-shadow: inset 0 0 3px #111;
        }
      }
  
      .ellipsis {
        padding: 0 1em;
      }
    }
  
    .dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_processing, .dataTables_paginate {
      color: #333;
    }
  
    .dataTables_scroll {
      clear: both;
  
      div.dataTables_scrollBody {
        -webkit-overflow-scrolling: touch;
  
        > table > {
          thead > tr > {
            th, td {
              vertical-align: middle;
            }
          }
  
          tbody > tr > {
            th, td {
              vertical-align: middle;
            }
          }
  
          thead > tr > {
            th > div.dataTables_sizing, td > div.dataTables_sizing {
              height: 0;
              overflow: hidden;
              margin: 0 !important;
              padding: 0 !important;
            }
          }
  
          tbody > tr > {
            th > div.dataTables_sizing, td > div.dataTables_sizing {
              height: 0;
              overflow: hidden;
              margin: 0 !important;
              padding: 0 !important;
            }
          }
        }
      }
    }
  
    &.no-footer {
      .dataTables_scrollBody {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      }
  
      div {
        &.dataTables_scrollHead table.dataTable, &.dataTables_scrollBody > table {
          border-bottom: none;
        }
      }
    }
  
    &:after {
      visibility: hidden;
      display: block;
      content: "";
      clear: both;
      height: 0;
    }
  }
  
  @media screen and (max-width: 767px) {
    .dataTables_wrapper {
      .dataTables_info {
        float: none;
        text-align: center;
      }
  
      .dataTables_paginate {
        float: none;
        text-align: center;
        margin-top: 0.5em;
      }
    }
  }
  
  @media screen and (max-width: 640px) {
    .dataTables_wrapper {
      .dataTables_length {
        float: none;
        text-align: center;
      }
  
      .dataTables_filter {
        float: none;
        text-align: center;
        margin-top: 0.5em;
      }
    }
  }