.cp-core-multistep-form{
    display: grid;
    grid-template-columns: 210px repeat(2, 1fr);
    max-width: 1270px;
    margin: auto;
    box-shadow: 0px 3px 6px $gray-shadow;
    margin-bottom: 18px;
    border-radius: 4px;
    .row{
        margin: 0;
    }
    .legal-modal { 
        grid-area: 1 / 1 / 2 / 4; 
    }
    input, textarea, select{
        @include fields-hover-and-focus;
        resize: none;
    }
    textarea{
        height: 100px;
    }
    select{
        height: 35px;
        &:focus{
            box-shadow: none;
        }
    }
    // Start Main styles multistep sidebar
    .cp-core-node-multistep-sidebar {
        padding-top: 42px; 
        grid-area: 2 / 1 / 5 / 2; 
        max-width: 210px;
        border-right: 1px solid $procol-gray-200;
    }
    // Ends Main styles multistep sidebar

    // Start content form styles
    .js-form-item{
        position: relative;
        margin-top: 22px;
        >label{
           @include label-style;
           &#edit-field-file-0--label,
           &#edit-field-file-en-0--label {
            position: relative;
            left: 0;
            }
        }
        input[type="text"]{
            height: 40px;
        }
        input[type="file"]{
            height: 33px;
            &:hover{
                border: 1px solid #A1A5AA;
            }
        }
        
    }
    .field-group-html-element.group-row {
        display: grid; 
        margin-top: 25px;
        grid-area: 2 / 2 / 4 / 4;
        
    }
    .field-group-html-element.group-left { 
        grid-area: 2 / 2 / 4 / 3;
        width: 100%; 
        padding-right: 50px;
        border-right: 1px solid $procol-gray-200;
        margin-top: 31px;
        padding: 0 50px;
        
    }
    .field-group-html-element.group-right{ 
        grid-area: 2 / 3 / 4 / 4; 
        width: 100%;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0 50px;
        #edit-field-pr-multilingual-step1-wrapper {
            margin-bottom: 0px !important;
            }
        }
  
    }
    // Ends content form styles

    // Start Buttons styles 
    .js-form-wrapper { 
        grid-area: 4 / 2 / 5 / 4;
        #edit-actions {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: center;
            gap: 22px;
            padding:0 50px;
            button{
                border-radius: 4px;
                background-color: $procol-dark-blue;
                &#edit-previous {
                    margin: auto;
                    margin-left: 0px;
                    background-color: $white;
                    border: 1px solid $procol-light-blue;
                    color: $procol-gray-400;
                    &:hover{
                        box-shadow: 0px 3px 6px $gray-shadow;
                    }
                   }
                &#edit-cancel{
                    background-color: $procol-gray-100;
                    color: $procol-dark-blue;
                    border-color: $procol-gray-100;
                }
                &#edit-next:hover{
                    background-color: $procol-light-blue;
                    border-color: $procol-light-blue;
                    box-shadow: 0px 3px 6px $gray-shadow;
                }
            }
               
           }
        // Ends Buttons styles
           
     }  


    
    