.generic-modal.modal {
    .modal-content{
        @include modals-basic-style;
        .modal-header{
            padding: 20px;
            padding-left: 25px;
            position: relative;
            .modal-header-title{
                margin: auto;
                font-size: 22px;
                font-family: $font-bold-Century-Gothic;
                padding-right: 20px;
                @include media-breakpoint-down(sm) {
                    font-size: 18px;
                 }
            }
            .modal-header-close{
                position: absolute;
                color: transparent;
                right: 14px;
                top: 12px;
                height: 25px;
                width: 25px;
                cursor: pointer;
                background-image: url(../images/icons/Cerrar-azul.svg);
                background-size: 25px;
                background-repeat: no-repeat;
                background-color: transparent !important;
                border: none;
            }
            &::before{
                content: '';
                background-image: url(../images/icons/Modal-Recomendacion.svg);
                background-size: 17px 27px;
                width: 17px;
                height: 27px;
            }
        }
        .modal-body{
            padding-left: 35px;
            @include media-breakpoint-down(sm) {
                padding-left: 25px;
             }
            span{
                font-size: 14px;

                }
        }
        .modal-footer{
            @include media-breakpoint-down(sm) {
                padding: 16px 12px;
            }
            .modal-footer-right {
                @include media-breakpoint-down(lg){
                    width: 100%;
                }
                a.button, button{
                    font-size: 14px;
                    line-height: 17px;
                    margin: 0;
                    @include blue-btn;
                    @include media-breakpoint-down(lg) {
                        width: 100%;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 56px;
                     }
                }
            }
        }
    }
    //Estilos modal Header mensaje rojo
    &.cancel-confirm-question-modal,
    &.add-other-question-modal{
        background-color: rgba(0,0,0,0.5);
        .modal-header{
            padding: 19px;
            &::before{
                background-image: url(../images/icons/Modal-Mensaje_Rojo.svg);
                background-size: 100%;
                height: 35px;
                width: 40px;
            }
            
            .modal-header-close{ 
                &.close{
                    width: auto !important;
                }               
                background-image: url(../images/icons/Cerrar-negro.svg);
            }
        }
        
    }
    //Estilos modal Header mensaje azul
    &.save-publish-question-modal{
        background-color: rgba(0,0,0,0.5);
        .modal-header{
            padding: 19px;
            &::before{
                background-image: url(../images/icons/Modal-Mensaje-Azul.svg);
                background-size: 100%;
                height: 35px;
                width: 40px;
            }
        }
    }
    &.legal-modal{
        @include media-breakpoint-down(lg){
            .modal-header{

                .modal-header-close{
                    height: 25px;
                    width: 25px;
                    background-size: 25px;
                    background-image: url(../images/icons/Cerrar-negro.svg);
                }
                &::before {
                    background-size: 17px 27px;
                    width: 17px;
                    height: 27px;
                    background-size: 25px 40px;
                    width: 35px;
                    height: 40px;
                    margin-right: 15px;
                    background-repeat: no-repeat;
                    }
            }
            .modal-body {
                    padding: 37px 18px;
                    padding: 8px 12px;
                      padding-left: 12px;
                    padding-left: 14px;
            }
            .modal-footer{
             padding: 12px;
             .modal-footer-left,
             .modal-footer-right{
                margin: 0;
             }
            }
        }
    }
    //Estilos modal footer
    &.save-publish-question-modal,
    &.cancel-confirm-question-modal,
    &.add-other-question-modal,
    &.save-publish-correct-modal{
        background-color: rgba(0,0,0,0.5);
        .modal-footer{
            justify-content: space-between;
            padding-left: 25px;
            background-color: $white;
            .modal-footer-left{
                font-weight: bold;
                font-size: 14px;
            }
            .modal-footer-right{
                display: flex;
                gap: 20px;
                @include media-breakpoint-down(lg){
                    flex-direction: column;
                }
                .button.btn-cancel{
                    order: 2;
                    background: $button-lighter-gray;
                    color: $procol-gray-400;
                    border: 1px solid $procol-gray-300;
                    font-weight: 100;
                    @include media-breakpoint-down(lg){
                        border: none
                    }
                }
                .button.btn-ok{
                    @include blue-btn;
                    order: 1;
                    padding: 10px 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    &.save-publish-correct-modal{
        .modal-footer .modal-footer-right .button.btn-ok{
            @include blue-btn;
        }
    }
}
