.cp-core-node-multistep-sidebar{
    ol{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: flex-start;
        margin-left: 22px;
        margin-right: 22px;
        position: relative;
        &::before{
            position: absolute;
            top: 0;
            left: 15%;
            content: '';
            background-color: $procol-gray-200;
            width: 1px;
            height: 100%;
            z-index: -1;
        }
        li{ 
            position: relative;
            font-size: $font-size-xs;
            max-width: 126px;
            padding-left: 20px;
            &::marker{
                color: $white;
                opacity: 1;
            }
            &::before{
                position: absolute;
                content:'';
                background-color: $procolo-dark-blue;
                top: -8%;
                right: 95%;
                height: 26px;
                width: 26px;
                border-radius: 50%;
                z-index: -1;
                
            }
            
            &.current{
                &::before{
                    background-color: $procol-gray-400;
                    
                }
            }
            &::before,
            &.current::before{
                transition: background-color 0.4s ease-in-out;
            }
            &:hover::before,
            &.current:hover:before{
                content: url(../images/icons/icon-navigation-expand_more_24px.svg);
                position: absolute;
                background-color: $procolo-dark-blue;
                z-index: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 5px;
              }
                &::marker{
                    opacity: 0;
                }
            
        }
    }
}