.node-multistep-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    background: transparent linear-gradient(180deg, $procol-dark-blue 0%, $procol-light-blue 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px $gray-shadow;
    border-radius: 4px;
    color: $white;
    padding: 10px 20px;
    font-size: 18px;
    font-family: Maven-Regular;
    line-height: 21px;
    strong{
        font-family: Maven-Bold;
    }
    .close a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include remove-files;
        @include blue-btn;
        padding: 6px 10px 6px 30px;
        background-size: 17px 17px;
        background-position: 6px;
        font-size: 14px;
        font-weight: lighter;

    }
}