.cp-core-multistep-form.step_1{
    label{
        @include label-style;
    }
    .js-form-item-field-product-type{
        @include media-breakpoint-down(md){
            margin-bottom: 0 !important;
        }
        margin-top: 0;
        .sumo_field_product_type{
            li:hover{
                label{
                    background-color: $procol-dark-blue;
                }
            }
        }
        label.js-form-required{
            color:  $procol-gray-400;
            font-family: $font-family-Century-Gothic;

        }
        @include media-breakpoint-down(md){
            margin-top: 0;
        }
        label{
            position: static;
            height: auto;
            &#edit-field-file-0--label,
            &#edit-field-file-en-0--label {
            position: relative;
            left: 0;
            }
        }
    }
    .js-form-type-textfield{
        @include media-breakpoint-down(md){
            margin-top: 0;
        }
    }
    .js-form-type-textfield{
        .tooltip-is-invalid{
            @include invalid-tooltip;
            position: static;
            &::after{
                height: 12px;
                width: 12px;
                top: 30%;
                right: -4%;
                left: auto;
                background-size: 12px 12px;
                @include media-breakpoint-down(lg){
                    top: 0;
                    right: 5px;
                }
            }
            &:hover p{
                @include hover-invalid-tooltip;
                @include media-breakpoint-down(lg){
                    top: 30%;
                    right: 0;
                }
            }
        }
        
    }
    .information-step-1 {
        width: 100%;
        h2{
            font-size: 20px;
            font-weight: bold;
            font-family: $font-family-Century-Gothic;
            margin-bottom: 0;
        }
    }
    .field--type-string-long,
    .js-form-type-textarea{
        margin-bottom: 0 !important;
    }
    .js-form-type-managed-file{
        margin-top: 0;
        label{
            position: static;
            height: auto;
            padding-bottom: 0;
        }
        .js-form-managed-file.form-managed-file{
            padding-top: 8px;
        }
        small{
            max-height: 38px;
            overflow: hidden;
        }
    }
    .field--name-title{
        margin-bottom: 0 !important;
    }
    #edit-field-file-wrapper--2{
        margin-bottom: 0 !important;
    }
    #edit-field-pr-multilingual-step1-0-value-en {
        @include media-breakpoint-down(md){
            display: flex;
            flex-direction: column;
            gap: 26px;
        }
        
        }
    #edit-footer-form #edit-actions {
        justify-content: flex-end;
        #edit-previous{
            display: none;
        }    
    }
}