.cp-core-multistep-form.step_2{
    small{
        padding-bottom: 0;
    }
    .group-top{
       padding: 0; 
       .step-2-title{
           color: $procol-black;
           font-size: 24px;
           h2{
               font-family: $font-family-Century-Gothic;
               padding: 20px 50px;
               margin-bottom: 0!important;
               font-size: 20px;
               color: $procol-black;
               font-weight: bold;
               width: 50%;
               border-right: 1px solid #D8DADD;
               padding-bottom: 0;
               @include media-breakpoint-down(xl){
                padding-left: 25px;
                padding-right: 25px;
               }
               @include media-breakpoint-down(lg){
                width: 100%;
                border: none;
                padding-left: 15px;
                padding-right: 15px;
               }
               
           }
       }
    }
    .group-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .field--name-field-categorization-parent{
            flex-grow: 1;
            margin-bottom: 0 !important;
        }
        .field--name-field-categorization{
            flex-grow: 2;
            margin-bottom: 0 !important;    
        }
        .js-form-item{
            margin-bottom: 0 !important;
        }
        @include media-breakpoint-down(lg){
            .information-title{
                margin-top: 16px;
            }
            .field--name-field-aditional-information{
                margin-bottom: 0 !important;
            }
        }
    }
    .group-right{
        .js-form-item{
            margin-top: 0;
            .js-form-item{
                margin-bottom: 0 !important;
            }
            
        }
        .field--name-field-partida-arancelaria-tax{
            padding-top: 20px;
            margin-bottom: 0 !important;
        }
    }
    .information-title{
        h2{
            font-family: $font-family-Century-Gothic;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 16px;
        }
    }
    .form-type-textarea{
        margin-top: 0;
        label{
            position: static;
            height: auto;
        }
        .counter{
            display: none;
        }
    }
}