.cp-core-multistep-form.step_5{
    .step-title {
        @include media-breakpoint-down(xl){
            padding: 0 25px !important;
        }
        @include media-breakpoint-down(lg){
            padding: 0 20px !important;
        }
        h2{
            font-weight: 100;
            font-family: $font-bold-Century-Gothic;
            font-weight: normal !important;
            @include media-breakpoint-down(lg){
                padding: 0 13px;
            }
        }
    }
    .lightbulb-tooltip{
        background-position: center;
        top: 0;
    }
    .video-embed-with-preview{
        max-width: 100%;
    }
    .video-embed-with-preview.field-pr-video,
    .video-embed-with-preview.field-pr-video-2 {
        margin-top: 30px;
    }
    .lightbulb-tooltip span{
        max-width: 400px;
        top: -120px;
    }
    .field-group-html-element{
        margin-top: 0 !important;
    }
    .field--type-video-embed-field,
    #edit-field-pr-video-2-wrapper {
        margin-bottom: 0 !important;
        position: relative;
        .js-form-submit {
            position: absolute;
            top: 24px;
            right: 0;
            height: 33px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 97px;
            background-color: $procol-dark-blue;
            font-size: 14px;
            border-radius: 4px;
            &#edit-field-pr-video-2-0-preview-button {
                top: 54px;
            }
        }
        .js-text-full {
            height: 33px;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }
    .js-form-item-field-pr-video-description-2-0-value {
        margin-bottom: 0;
        margin-top: 0;
        }
    .js-form-item-field-pr-video-description-1-0-value {
        margin-top: 0;
        }
    .remove-remote-video-value {
        color: transparent;
        background-image: url(../images/icons/Cerrar-negro.svg);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
        height: 20px;
        width: 20px;
        overflow: hidden;

      }
    .js-form-item.js-form-type-checkbox{
        margin-top: 0;
        font-weight: normal;
        text-decoration: underline;
        padding: 0 60px;
        @include media-breakpoint-down(xl){
            padding: 0 35px;
        }
        @include media-breakpoint-down(lg){
            padding: 0 22px;
        }
        label{
            font-family: $font-family-Century-Gothic !important;
        }
    }
    .form-check-input {
        width: 18px;
        height: 18px;
    }
    .insert-video{
        text-transform: uppercase;
        @include media-breakpoint-down(lg){

            &::before,
            &::after{
                content: none;
            }
        }
    }

  
}