.path-dashboard .entity-browser-modal{
    background-color: $white !important;
    border-radius: 10px !important;
    max-width: 561px !important;
    &.ui-dialog .ui-dialog-title {
        display: block !important;
      }
    .ui-dialog-titlebar{
    background-color: $white !important;
    border: none;
    font-size: 22px;
    border: none;
    font-weight: bold;
    padding: 26px !important;
    padding-left: 75px !important;
    background-image: url(../images/icons/Icono-Menu-Idioma.svg);
     background-repeat: no-repeat;
    background-position: 32px center;
    background-size: 31px 31px;
    color: $procol-gray-400;
    border-radius: 10px;
    .ui-dialog-titlebar-close {
        background-color: transparent;
        border: none;
        background-image:  url(../images/icons/Cerrar-negro.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        position: absolute;
        top: 26px;
        right: 26px;
    }
    }
    .ui-dialog .ui-dialog-content {
    height: 550px !important;
    }
    #entity_browser_iframe_paises {
        height: 511px;
        border-radius: 10px;
        }
    .ui-dialog-content{
         height: auto !important;
        background-color: white !important;
        border-radius: 10px !important;
        .ajax-progress-throbber{
            display: none;
        }
    }
    .ui-widget-overlay{
        background-color: rgba($color: #000000, $alpha: 0.5) !important;
    }
    #block-matchmaking-pro-content{
        .content {
            background-color: white;
          }
    }   
}

.entity-browser-paises-form{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 508px;
    margin: auto;
    padding: 0;
    position: relative;
    .view-paises {
        width: 100%;
        background-color: #F7F8F8;
        border-radius: 10px;
        padding-bottom: 2;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 10px;
        #views-exposed-form-paises-entity-browser-1 {
            padding: 0;
            display: flex;
            justify-content: space-between;
            height: 80px;
            position: sticky;
            background-color: transparent;
            .row{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 !important;
                .js-form-type-textfield{
                    max-width: 425px;
                    width: 100%;
                    padding: 0;
                    height: 34px;
                    input{
                        height: 34px;
                    }
                }
                .form-actions{
                    width: auto;
                    padding: 0;
                    button{
                        @include blue-btn;
                        width: 34px;
                        height: 34px;
                        overflow: hidden;
                        color: transparent;
                        padding: 0;
                        background-image: url(../images/icons/Icono-buscar.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
            .table-striped tbody tr:nth-of-type(odd) {
                background-color: $white !important;
              }
          }
        
        .view-content{
            height: 318px;
            margin: 0;
            overflow-y:scroll ;
            background-color: $white;
            border-radius: 5px;
            padding-bottom: 24px;
        }
      }
    
      #edit-actions--2{
        order: 2;
        flex-grow: 1;
        display: flex;  
        align-items: baseline;
        height: 37px;
        justify-content: flex-end;
        button{
            @include blue-btn;
            font-weight: lighter;
            height: 37px;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 213px;
            width: 100%;
        }
      }
      .table-responsive{
        tr{
            background-color: $white;
            border-bottom: #F7F8F8;
        }
        td{
            div{
                margin-bottom: 0 !important;
                .form-check-input[type="checkbox"]{
                    border-radius: 50px;
                }
            }
        }
      }
      a.entity-browser-paises-close {
        align-self: flex-start;
        display: flex;
        @include gray-btn;
        height: 37px;
        justify-content: center;
        align-items: center;
        max-width: 213px;
        width: 100%;
       }
       
}