.page-view-product-dashboard,
.page-view-products-advisor {
	.contextual-region{
		position: static;
	}
	.ui-dialog .ui-dialog-content{
		position: relative;
		padding: 0;
		padding-top: 20px;
	}
	
	.ui-dialog-titlebar{
		background-color: transparent;
		border: none;
		padding-bottom: 0;
		position: absolute;
		visibility: hidden;
	}
	.ui-dialog-titlebar-close {
		left: 20px;
		top: 5px;
		position: relative;
		background-color: transparent;
		border: none;
		background-image: url(../images/icons/arrow-back-fill.svg);
		background-size: 20px;
		background-repeat: no-repeat;
		background-position: left center;
		@include media-breakpoint-down(lg){
			left: calc(100% - 20px);
			top: 12px;
			background-size: 25px;
			background-image: url(../images/icons/Cerrar-negro.svg);
			background-repeat: no-repeat;
			background-position: left center;
			width: 30px;
		}
	}
	.ui-dialog {
		min-height: 544px;
		max-width: 1286px;
		width: 100%;

		.ui-dialog-content {
			max-height: none !important;
			position: relative !important;
			@include media-breakpoint-down(lg){
				max-height: 100vh !important;
				overflow-y: scroll;
			}
		}
	}
	.ui-widget-content{
		border-radius: 4px !important;
		padding: 0;
		border-radius: 4px;
		max-width: 1286px;
		background-color: transparent;
		border: none;
		padding: 0;
	}
	.ui-dialog .ui-dialog-titlebar {
		border: none;
		background: transparent;
		padding-top: 20px;
		.ui-dialog-titlebar-close{
			font-family: swiper-icons;
			right: 100%;
			left: 20px;
			content: 'volver';
			width: 100px;
			background-color: transparent;
			background-image: url(../images/icons/arrow-back-fill.svg);
			background-size: 20px;
			background-repeat: no-repeat;
			background-position: left center;
			color: $procol-light-blue;
			border: none;
			}
			span{
				display: none;
			}
		}

	.ui-widget-overlay{
		z-index: 10;
		background-color: $procol-gray-400;
		opacity: 0.5;
	}
	#main {
		> .row {
			display: grid;
			grid-template-columns: 1fr 270px;
			gap: 17px;
		}
	}

	#content {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		width: 100%;
		padding: 0;
	}

	#sidebar_second {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		width: 100%;
		padding: 0;
	}
	.view-content{
		@include media-breakpoint-down(lg){
			padding: 0 !important;
			.table-responsive {
				display: none;
				}
		}
	}
	.attachment.attachment-after{
		display: none;
		@include media-breakpoint-down(lg){
			display: block;
			.col-sm-12{
				padding: 0;
			}
		}
	}
}