@font-face {
    font-family: Maven-Medium;
    src: url("../font/MavenPro-Medium.ttf");
}

@font-face {
    font-family: Maven-Regular;
    src: url("../font/MavenPro-Regular.ttf");
}

@font-face {
    font-family: Maven-Bold;
    src: url("../font/MavenPro-Bold.ttf");
}

@font-face {
    font-family: Gothic-Regular;
    src: url("../font/Century-Gothic.otf");
}

@font-face {
    font-family: Gothic-Bold;
    src: url("../font/Century-Gothic-Bold.otf");
}

$color-Azul-Claro: #e3f3ff;
$color-Verde-aprobacion: #31d394;
$color-Gris-Claro: #f0f0f0;
$color-cccccc: #cccccc;
$color-Gris-Claro-2: #6a6d71;
$color-Gris-Oscuro: #3b3d42;
$color-504672: #504672;
$color-Pantone-200: #ba0c2f;
$color-Pantone-process-Blue: #0085ca;
$color-Pantone-116-C: #005ca4;
$color-Pantone-Y: #fdca00;
$color-Black: #000000;
$color-White: #ffffff;
$color-5c5c5c: #5c5c5c;
$color-f7f8f8: #f7f8f8;
/* Font/text values */
$font-regular: Gothic-Regular;
$font-medium: Maven-Medium;
$font-bold: Gothic-Bold;
$font-black: Maven-Black;
$font-regular-maven: Maven-Regular;
$font-bold-maven: Maven-Bold;
.input-group {
    margin: 20px 0px;
    .form-control {
        border-right: none;
    }
    .input-group-text {
        background: #f0f0f0;
        padding: 0px 30px !important;
        height: 40px !important;
    }
}

.card-incentives {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    background-color: $color-White;
    .back-button {
        button {
            background-color: $color-Pantone-process-Blue;
            border: none;
            border-radius: 4px;
            padding: 0.5rem 1rem;
            font-family: $font-regular;
            font-size: 20px;
            color: $color-White;
            display: flex;
            align-items: center;
            &:hover {
                background-color: $color-Pantone-116-C;
            }
            span {
                margin-left: 0.5rem;
            }
        }
    }
    .incentive-image {
        display: flex;
        align-items: center;
        width: 200px;
        svg {
            width: 30px;
            height: 30px;
        }
        p {
            font-family: $font-bold;
            font-size: 17px;
            color: $color-Black;
            margin-left: 0.5rem;
            margin-bottom: 0px;
        }
    }
    .incentive-description,
    .incentive-status {
        width: 406px;
    }
    th {
        font-size: 18px;
        border-bottom: 1px solid #d8dadd;
        font-family: "Gothic-Bold";
        color: $color-Pantone-116-C;
        padding-bottom: 8px;
    }
    tr {
        &:last-child {
            border-bottom: 1px solid #d8dadd;
        }
    }
    .button-table {
        text-align: end;
        padding: 20px 0px 0px;
        .btn-satatus {
            background: #f0f0f0 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 5px;
            border: none;
            padding: 10px 20px;
            font-family: $font-bold;
            margin-right: 10px;
        }
        .btn-edit {
            background: $color-Pantone-116-C;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 5px;
            border: none;
            padding: 10px 20px;
            font-family: $font-bold;
            color: $color-White;
        }
    }
}
.card-table-incentive {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    background-color: $color-White;
    margin: 36px 12px 12px;
    padding: 2rem;
    table {
        .tittle-table {
            font-family: $font-bold;
            font-size: 20px;
            color: $color-Pantone-116-C;
            margin-bottom: 0px;
            width: 600px;
        }
        .status {
            text-align: center;
            svg {
                width: 25px;
                height: 25px;
                margin-bottom: 7px !important;
            }
            p {
                font-family: $font-bold;
                font-size: 16px;
                color: $color-Black;
                margin-bottom: 0px;
            }
            .checkbox label {
                display: block;
                font-size: 14px;
                cursor: pointer;
                margin: 0;
            }

            .options input {
                opacity: 0;
            }

            .checkmark {
                position: absolute;
                top: 0px;
                left: 0;
                height: 20px;
                width: 20px;
                background-color: #f8f8f8;
                border: 1px solid #ddd;
                border-radius: 50%;
            }

            .options input:checked ~ .checkmark:after {
                display: block;
            }

            .options .checkmark:after {
                content: "";
                width: 9px;
                height: 9px;
                display: block;
                background: white;
                position: absolute;
                top: 52%;
                left: 51%;
                border-radius: 50%;
                transform: translate(-50%, -50%) scale(0);
                transition: 300ms ease-in-out 0s;
            }

            .tick {
                display: block;
                position: relative;
                padding-left: 23px;
                cursor: pointer;
                font-size: 16px;
                margin: 5px 0px;
            }

            .tick input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

            .check {
                position: absolute;
                bottom: -6px;
                left: 0;
                right: 0;
                height: 20px;
                width: 20px;
                background-color: #fff;
                border: 1px solid #005ca4;
                border-radius: 3px;
                margin: 0 auto;
            }

            .tick:hover input ~ .check {
                background-color: #f3f3f3;
            }

            .tick input:checked ~ .check {
                background-color: $color-Verde-aprobacion;
                border-color: $color-Verde-aprobacion;
            }

            .check:after {
                content: "";
                position: absolute;
                display: none;
            }

            .tick input:checked ~ .check:after {
                display: block;
                transform: rotate(45deg) scale(1);
            }

            .tick .check:after {
                left: 6px;
                top: 2px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg) scale(2);
            }
            .swicher{
                input[type="checkbox"] {
                    display: none;
                  }
              
                  label {
                    cursor: pointer;
                    height: 0px;
                    position: relative;
                    width: 40px;
                    margin-left: 0.7rem;
              
                    &::before {
                      background: rgb(0, 0, 0);
                      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
                      border-radius: 8px;
                      content: '';
                      height: 16px;
                      margin-top: -8px;
                      position: absolute;
                      opacity: 0.3;
                      transition: all 0.4s ease-in-out;
                      width: 40px;
                      left:0;
                    }
              
                    &::after {
                      background: $color-Pantone-process-Blue  !important;
                      border-radius: 16px;
                      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
                      content: '';
                      height: 24px;
                      left: -4px;
                      margin-top: -8px;
                      position: absolute;
                      top: -4px;
                      transition: all 0.3s ease-in-out;
                      width: 24px;
                    }
                  }
              
                  input[type="checkbox"]:checked+label {
                    &::before {
                      background: inherit;
                      opacity: 0.5;
                      left: 0;
                    }
              
                    &::after {
                      background: inherit;
                      left: 20px;
                    }
                }
            }
        }
        .option {
            width: 73px;
            vertical-align: bottom;
            text-align: center;
            font-family: $font-bold;
            font-size: 16px;
            color: #000;
            padding-bottom: 7px;
        }
        tbody {
            tr {
                padding: 10px;
                border-top: 1px solid #d8dadd;
                border-bottom: 1px solid #d8dadd;
                vertical-align: middle;
                td {
                    padding: 11px 0px;
                    p {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}
