@font-face {
  font-family: Maven-Medium;
  src: url('../font/MavenPro-Medium.ttf');
}

@font-face {
  font-family: Maven-Regular;
  src: url('../font/MavenPro-Regular.ttf');
}

@font-face {
  font-family: Maven-Bold;
  src: url('../font/MavenPro-Bold.ttf');
}

@font-face {
  font-family: Gothic-Regular;
  src: url('../font/Century-Gothic.otf');

}

@font-face {
  font-family: Gothic-Bold;
  src: url('../font/Century-Gothic-Bold.otf');
}

$color-Azul-Claro: #e3f3ff;
$color-Verde-aprobacion: #31d394;
$color-Gris-Claro: #f0f0f0;
$color-cccccc: #cccccc;
$color-Gris-Claro-2: #6a6d71;
$color-Gris-Oscuro: #3b3d42;
$color-504672: #504672;
$color-Pantone-200: #ba0c2f;
$color-Pantone-process-Blue: #0085ca;
$color-Pantone-116-C: #005ca4;
$color-Pantone-Y: #fdca00;
$color-Black: #000000;
$color-White: #ffffff;
$color-5c5c5c: #5C5C5C;
$color-f7f8f8: #f7f8f8;
/* Font/text values */
$font-regular: Gothic-Regular;
$font-medium: Maven-Medium;
$font-bold: Gothic-Bold;
$font-black: Maven-Black;
$font-regular-maven: Maven-Regular;
$font-bold-maven: Maven-Bold;

.layout-main-wrapper {
  background-color: $color-White  !important;
}

div#main {
  padding: 0px !important;

}

div#block-matchmaking-pro-breadcrumbs {
  display: none !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=file] {
  width: 100%;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=checkbox] {

  position: relative;
  cursor: pointer;

  &::before{
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 1px solid $color-cccccc;
    border-radius: 3px;
    background-color: white;
  }
}

// input[type=checkbox]:before {
//   content: "";
//   display: block;
//   position: absolute;
//   width: 20px;
//   height: 20px;
//   top: 0;
//   left: 0;
//   border: 1px solid $color-cccccc;
//   border-radius: 3px;
//   background-color: white;
// }

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid $color-White;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 3px;
  left: 8px;
}

input[type=checkbox]:checked:before {
  background-color: $color-Pantone-process-Blue;
  border: rgba(0, 0, 0, 0);
}

.btn:hover {
  transform: scale(1) !important;
}


#check_home_tab,
#check_profile_tab,
#check_contact_tab {
  display: none;
}

.title_tab {
  font-family: $font-bold;
  font-size: 0px;
  margin-bottom: 0px;
  display: none;
}

.ts-control>* {
  vertical-align: baseline;
  display: inline-block;
  padding: 2px 0px;
  font-weight: 400;
}

.ts-wrapper {
  width: 100% !important;
}

.ts-wrapper.single .ts-control {
  padding: 8px 7px 8px 13px !important;

}

.ts-wrapper.single .ts-control,
.ts-wrapper.single .ts-control input {
  cursor: pointer;
  font-size: 15px;
  width: 100%;
  -webkit-appearance: none;
  border: none;
  outline: none;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #cccccc;
  box-shadow: rgb(0 0 0 / 2%) 0px 4px 12px;
  font-family: Gothic-Regular;
}

.ts-wrapper.plugin-remove_button .item .remove {
  border-left: none !important;
  color: $color-Pantone-200  !important;
}


a {
  text-decoration: none;
}

p {
  margin-bottom: 0px !important;
}

.bg-input-chat {
  background-color: $color-Azul-Claro  !important;
}


.chat-tittle {
  font-size: 1.6rem;
  font-family: $font-bold;
  color: $color-Black;
}

.more-options {
  background-color: $color-White;
  border-radius: 100px;
  padding: 4px;
  font-size: 1.5rem;
  transition: all 0.3s ease-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 3px 6px #00000029;
  }
}

.tab-chat {
  background-color: $color-Gris-Claro-2;
  color: $color-White;
  text-align: center;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.6em;
  cursor: pointer;
  transition: all 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;

  &:active {
    background-color: $color-Pantone-process-Blue;
  }

  &:hover {
    background-color: $color-Pantone-process-Blue;
    filter: brightness(0.8);
  }
}

#btn-check:checked {
  &~label[for="btn-check"] {
    background-color: $color-Pantone-process-Blue;
  }
}

#btn-check_2:checked {
  &~label[for="btn-check_2"] {
    background-color: $color-Pantone-process-Blue;
  }
}

#btn-check_3:checked {
  &~label[for="btn-check_3"] {
    background-color: $color-Pantone-process-Blue;
  }
}

#btn-check_4:checked {
  &~label[for="btn-check_4"] {
    background-color: $color-Pantone-process-Blue;
  }
}

.avatar-xs {
  height: 2.2rem;
  width: 2.2rem;
}

.avatar-sm {
  height: 3rem;
  width: 3rem;

}

.avatar-sm .avatar-title {
  font-size: 24px;
}

.avatar-md {
  height: 4.5rem;
  width: 4.5rem;
}

.avatar-lg {
  height: 6rem;
  width: 6rem;
}

.avatar-xl {
  height: 7.5rem;
  width: 7.5rem;
}

.avatar-title {
  align-items: center;
  background-color: #0085CA;
  color: #fff !important;
  display: flex;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.custom-accordion {
  .card+.card {
    margin-top: 0.5rem;
  }

  a {
    i.accor-plus-icon {
      font-size: 16px;
    }

    &.collapsed i.accor-plus-icon:before {
      content: "󰅂";
    }
  }
}

.accordion-button:after {
  margin-left: auto;
  margin-right: 0;
}

[data-simplebar] {
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
}

section.chat {
  overflow: hidden;
  margin-top: 17px;
  background-color: #F4F4F4;
}

.simplebar-wrapper {
  height: inherit;
  max-height: inherit;
  max-width: inherit;
  overflow: hidden;
  width: inherit;
}

.simplebar-mask {
  direction: inherit;
  height: auto !important;
  left: 0;
  overflow: hidden;
  right: 0;
  width: auto !important;
  z-index: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

.simplebar-offset {
  bottom: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-overflow-scrolling: touch;
  box-sizing: inherit !important;
  direction: inherit !important;
  left: 0 !important;
  resize: none !important;
  right: 0 !important;
}

.simplebar-content-wrapper {
  box-sizing: border-box !important;
  direction: inherit;
  display: block;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  padding: 0 !important;
  position: relative;
  scrollbar-width: none;
  visibility: visible;
  width: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.simplebar-content {

  &:after,
  &:before {
    content: " ";
    display: table;
  }
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  pointer-events: none;
  width: 100%;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  flex-basis: 0;
  flex-grow: inherit;
  flex-shrink: 0;
  float: left;
  height: 100%;
  margin: 0;
  max-height: 1px;
  max-width: 1px;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: relative;
  width: 100%;
  z-index: -1;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  height: 1000%;
  left: 0;
  min-height: 1px;
  min-width: 1px;
  opacity: 0;
  top: 0;
  width: 1000%;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
}

.simplebar-track {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

[data-simplebar].simplebar-dragging {
  .simplebar-content {
    pointer-events: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
  }

  .simplebar-track {
    pointer-events: all;
  }
}

.simplebar-scrollbar {
  min-height: 10px;
  position: absolute;
  right: 2px;
  width: 7px;

  &:before {
    background: #a2adb7;
    border-radius: 7px;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: opacity 0.2s linear;
  }

  &.simplebar-visible:before {
    opacity: .5;
    transition: opacity 0s linear;
  }
}

.simplebar-track {
  &.simplebar-vertical {
    top: 0;
    width: 11px;

    .simplebar-scrollbar:before {
      bottom: 2px;
      top: 2px;
    }
  }

  &.simplebar-horizontal {
    height: 11px;
    left: 0;

    .simplebar-scrollbar {
      &:before {
        height: 100%;
        left: 2px;
        right: 2px;
      }

      height: 7px;
      left: 0;
      min-height: 0;
      min-width: 10px;
      right: auto;
      top: 2px;
      width: auto;
    }
  }
}

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  left: 0;
  right: auto;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  height: 500px;
  opacity: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  position: fixed;
  visibility: hidden;
  width: 500px;
}

.simplebar-hide-scrollbar {
  left: 0;
  overflow-y: scroll;
  position: fixed;
  scrollbar-width: none;
  visibility: hidden;
}

.custom-scroll {
  height: 100%;
}

.side-menu {
  background-color: #fff;
  background-color: var(--bs-sidebar-bg);
  box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  display: flex;
  height: 100vh;
  max-width: 75px;
  min-height: 570px;
  min-width: 75px;
  z-index: 9;

  .navbar-brand-box {
    text-align: center;

    .logo {
      line-height: 70px;
    }

    .logo-dark {
      display: block;
    }

    .logo-light {
      display: none;
    }
  }

  .theme-mode-icon:before {
    content: "\eefb";
    content: var(--bs-theme-mode-icon);
  }
}

@media (max-width: 991.98px) {
  .side-menu {
    border-top: 1px solid #f0eff5;
    border-top: 1px solid var(--bs-border-color);
    bottom: 0;
    display: block;
    height: 60px;
    min-height: auto;
    min-width: 100%;
    position: fixed;
  }
}

@media (max-width: 991.98px) {
  .side-menu .navbar-brand-box {
    display: none;
  }
}

.side-menu-nav {
  .nav-item {
    margin: 7px 0;

    .nav-link {
      border-radius: 8px;
      color: #878a92;
      color: var(--bs-sidebar-menu-item-color);
      font-size: 24px;
      height: 56px;
      line-height: 56px;
      margin: 0 auto;
      padding: 0;
      text-align: center;
      width: 56px;

      &.active {
        background-color: #f7f7ff;
        background-color: var(--bs-sidebar-menu-item-active-bg);
        color: #0085CA;
      }
    }

    &.show>.nav-link {
      background-color: #f7f7ff;
      background-color: var(--bs-sidebar-menu-item-active-bg);
      color: #0085CA;
    }
  }

  .profile-user {
    background-color: #f0eff5;
    background-color: var(--bs-gray-300);
    height: 36px;
    padding: 3px;
    width: 36px;
  }
}

@media (max-width: 991.98px) {
  .side-menu-nav .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    margin: 5px 0;
  }
}

@media (max-width: 991.98px) {
  .side-menu-nav .nav-item .nav-link {
    font-size: 20px;
    height: 48px;
    line-height: 48px;
    width: 48px;
  }
}

.chat-leftsidebar {
  background-color: #fff;
  height: 100% !important;
}

@media (min-width: 992px) {
  .chat-leftsidebar {
    max-width: 380px;
    min-width: 380px;
  }
}

input#text-message {
  height: 21px !important;
  font-size: 15px;
  padding: 16px 14px;
  background-color: #f7f7f7 !important;
}

.icon-send {
  background: transparent;
  border: none;
  font-size: 1.3rem !important;
  color: $color-Gris-Oscuro  !important;
  display: flex;
  align-items: flex-end;
  padding: 5px 7px;
}

button#send {
  display: flex;
  font-size: 14px;
  align-items: center;

  i {
    margin-right: 4px;
  }
}

.chat-search-box {
  .input-group-text {
    border: 0;
    font-size: 16px !important;
    height: 38px !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;


  }

  .form-control {
    border: 0;
    font-size: 14px !important;
    height: 38px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 4px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

  }


  .search-icon-btn {
    font-size: 16px;
    position: absolute;
    right: 13px;
    top: 0;
  }
}

.chat-message-list {
  height: calc(100vh - 421px);
}

.typing-chat {
  margin-left: 3.2rem;

  .ctext-wrap-content:before {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .chat-message-list {
    height: calc(100vh - 320px);
  }
}

.chat-group-list {
  height: calc(100vh - 160px);
}

@media (max-width: 991.98px) {
  .chat-group-list {
    height: calc(100vh - 194px);
  }
}

.empty-msg {
  margin: 10px;
  text-align: center;

  img {
    margin-top: 4rem !important;
    margin: 0 auto;
    width: 35%;
  }

  .desc {}
}

.chat-list {
  margin: 0;

  li {
    cursor: pointer;
    margin-bottom: 1px;
    box-shadow: #0085ca17 0px 1px 0px;

    &.active #chat {
      background-color: #e6ebf5;
      border-left: 4px solid #0085CA;
    }

    #chat {
      border-radius: 4px;
      border-top: 1px solid #f5f7fb;
      border-top: 1px solid var(--bs-sidebar-sub-bg);
      color: #7a7f9a;
      color: var(--bs-gray-600);
      display: block;
      padding: 15px 20px;
      position: relative;
      transition: all 0.4s;

      &:hover {
        background-color: #e6ebf5;
        border-left: 4px solid #0085CA;
      }
    }

    .text-msg {
      width: 60%;
    }

    .time {
      font-size: 11px;
      font-family: "Maven-Medium";
      font-weight: bolder;
      margin-left: 10px;
      margin-top: 13px;
    }

    h5 {
      color: $color-Pantone-116-C;
      font-size: 1rem;
      font-family: "Gothic-Bold";
      text-transform: lowercase;

      &:first-letter {
        text-transform: uppercase;
      }
    }

    .chat-user-name {
      font-size: 14px;
      font-family: "Gothic-Regular";
      margin-top: -4px;
      color: #000000;

      .name {
        display: inline-block;
        text-transform: lowercase;
        margin-left: 4px;

        &:first-letter {
          text-transform: uppercase;
        }
      }
    }

    .chat-user-message {
      font-size: 14px;
      font-family: "Gothic-Regular";
      text-transform: lowercase;
      margin-top: 6px;
      color: #6A6D71;

      &:first-letter {
        text-transform: uppercase;
      }
    }

    &.typing .chat-user-message {
      color: #0085CA;
      font-weight: 500;

      .dot {
        background-color: #0085CA;
      }
    }

    .unread-message {
      display: inline-block;
      left: auto;
      position: absolute;
      right: 13px;
      top: 41px;

      .badge {
        font-size: 10px;
        font-weight: 600;
        line-height: 16px;
      }
    }
  }
}

.chat-user-img {
  position: relative;

  .user-status {
    background-color: #adb5bd;
    border: 2px solid #fff;
    border: 2px solid var(--bs-card-bg);
    border-radius: 50%;
    bottom: 0;
    height: 10px;
    left: auto;
    position: absolute;
    right: 0;
    width: 10px;
  }

  &.online .user-status {
    background-color: #06d6a0;
  }

  &.away .user-status {
    background-color: #ffd166;
  }
}

.contact-list li {
  cursor: pointer;
  padding: 10px 20px;
}

.profile-user {
  display: inline-block;
  position: relative;

  .profile-photo-edit {
    bottom: 0;
    left: auto;
    position: absolute;
    right: 0;
  }
}

.user-chat {
  background-color: $color-White;
  box-shadow: 0px 3px 6px #00000029;
  transition: all 0.4s;
  margin-top: 9px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.user-chat-description {
  font-size: 13px;
}

@media (max-width: 991.98px) {
  .user-chat {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: hidden;
    width: 100%;
    z-index: 99;

    &.user-chat-show {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      visibility: visible;
    }
  }

  .user-chat-topbar {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

.user-chat-nav .nav-btn {
  box-shadow: none;
  color: #7a7f9a;
  color: var(--bs-gray-600);
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  width: 30px;
  border: none !important;
}

.user-chat-name {
  color: #005CA4;
}

@media (max-width: 575.98px) {
  .user-chat-nav {
    display: flex;
    justify-content: flex-end;
  }
}

.chat-conversation {
  li {
    clear: both;
  }

  .chat-avatar {
    margin: 0 16px 0 0;

    img {
      border-radius: 50%;
      height: 36px;
      width: 36px;
    }
  }

  .chat-day-title {
    margin-bottom: 24px;
    margin-top: 12px;
    position: relative;
    text-align: center;

    .title {
      background-color: #f0f0f0;
      color: #000000;
      font-weight: bold;
      border-radius: 5px;
      font-size: 13px;
      padding: 8px 22px;
      position: relative;
      z-index: 1;
    }
    #new-messages-chat{
      background-color: #fff;
      color: #000000;
      font-weight: bold;
      border-radius: 5px;
      font-size: 13px;
      padding: 8px 22px;
      position: relative;
      z-index: 1;
    }

    &:before {
      background-color: #A1A5AA;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
      top: 10px;
      width: 100%;
    }

    .badge {
      font-size: 22px;
      font-weight: bold;
    }
  }

  .conversation-list {
    align-items: flex-end;
    display: inline-flex;
    margin-bottom: 24px;
    position: relative;

    .ctext-wrap {
      display: flex;
      margin-bottom: 10px;
    }

    .ctext-wrap-content {
      background-color: #fff;
      border-radius: 8px 8px 8px 0;
      color: #000;
      padding: 12px 20px;
      position: relative;

      &:before {
        border-bottom: 5px solid transparent;
        border-left: 5px solid #fff;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        bottom: -10px;
        content: "";
        left: 0;
        position: absolute;
        right: auto;
      }
    }

    .conversation-name {
      font-size: 1rem;
      font-weight: bolder;
      margin-bottom: 1px;
      font-family: 'Gothic-Bold';
    }

    .text-msg-user {
      font-size: 1.1rem;
      margin-bottom: 10px !important;
    }

    .dropdown .dropdown-toggle {
      color: #7a7f9a;
      color: var(--bs-gray-600);
      font-size: 18px;
      padding: 4px;
    }

    .chat-time {
      color: #000;
      font-size: 12px;
      margin-top: 4px;
      text-align: right;
      display: flex;
      align-items: flex-end;

      i {
        margin-right: 4px;
      }
    }


    .message-img {
      border-radius: .2rem;
      position: relative;

      .message-img-list {
        position: relative;
      }

      img {
        max-width: 150px;
      }

      .message-img-link {
        bottom: 10px;
        left: auto;
        position: absolute;
        right: 10px;

        li>a {
          color: #fff;
          display: inline-block;
          font-size: 18px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          width: 30px;
        }
      }
    }
  }

  .right {
    .chat-avatar {
      margin-left: 16px;
      margin-right: 0;
      order: 3;
    }

    .chat-time {
      color: #7a7f9a;
      color: var(--bs-gray-600);
      text-align: left;
    }

    .conversation-list {
      float: right;
      text-align: right;

      .ctext-wrap {
        justify-content: flex-end;

        .ctext-wrap-content {
          background-color: #fff;
          border-radius: 8px 8px 0 8px;
          color: #212529;
          color: var(--bs-dark);
          order: 2;
          text-align: left;

          &:before {
            border-bottom: 5px solid transparent;
            border-left: 5px solid transparent;
            border-right: 5px solid #fff;
            border-top: 5px solid #fff;
            left: auto;
            right: 0;
          }
        }
      }

      .dropdown {
        order: 1;

        .dropdown-menu[style] {
          left: auto !important;
          right: 0 !important;
        }
      }
    }

    .dot {
      background-color: #343a40;
    }
  }

  height: calc(100vh - 404px);
  background-color: #F0F0F0;
}

.user-header {
  h5 {
    color: #000;
    font-family: 'Gothic-Bold';
    margin-bottom: 2px;
  }

  p {
    width: 700px;
  }

  .user-chat-name {
    font-size: 14px;
    margin: 4px 0px 6px !important;
  }

}


@media (max-width: 575.98px) {
  .chat-conversation .conversation-list .ctext-wrap-content .attached-file .attached-file-avatar {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .chat-conversation .conversation-list .dropdown .dropdown-toggle {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .chat-conversation {
    height: calc(100vh - 4404px);
    margin-bottom: 78px;
    margin-top: 73px;
  }
}

.chat-input-section {
  background-color: #fff;
  background-color: var(--bs-card-bg);
}

@media (max-width: 991.98px) {
  .chat-input-section {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
  }
}

.chat-input-links .list-inline-item:not(:last-child) {
  margin: 0;
}

.animate-typing .dot {
  -webkit-animation: wave 1.3s linear infinite;
  animation: wave 1.3s linear infinite;
  background: #000000;
  border-radius: 50%;
  display: inline-block;
  height: 4px;
  margin-right: -1px;
  opacity: .6;
  width: 4px;

  &:nth-child(2) {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  &:nth-child(3) {
    -webkit-animation-delay: -.9s;
    animation-delay: -0.9s;
  }
}

@-webkit-keyframes wave {

  0%,
  60%,
  to {
    -webkit-transform: none;
    -webkit-transform: initial;
    transform: none;
  }

  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes wave {

  0%,
  60%,
  to {
    -webkit-transform: none;
    -webkit-transform: initial;
    transform: none;
  }

  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.text-send {
  font-size: 15px;
  padding: 0.7rem;
}

.user-profile-sidebar {
  background-color: #fff;
  background-color: var(--bs-card-bg);
  display: none;
  height: 100vh;
  max-width: 380px;
  min-width: 380px;
}

@media (min-width: 992px) {
  .user-profile-sidebar {
    border-left: 4px solid #f0eff5;
    border-left: 4px solid var(--bs-border-color);
  }
}

@media (max-width: 1199.98px) {
  .user-profile-sidebar {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
  }
}

@media (max-width: 575.98px) {
  .user-profile-sidebar {
    min-width: 100%;
  }
}

.user-profile-desc {
  height: calc(100vh - 300px);
}

@media (max-width: 991.98px) {
  .user-profile-desc {
    height: calc(100vh - 324px);
  }
}

.auth-logo {
  .logo {
    margin: 0 auto;
  }

  .logo-dark {
    display: block;
  }

  .logo-light {
    display: none;
  }
}

.dropdown,
.nav-item {
  cursor: pointer;
}

.slick-slide {
  margin-left: 8px;
  margin-right: 8px;
}

.slick-arrow {
  display: none;
}

.emoji-mart {
  border: none !important;
}

.emoji-mart-preview {
  display: none !important;
}

.emoji-mart-bar {
  border: none !important;
}

.alice-carousel__stage-item {
  margin-left: 8px;
  margin-right: 8px !important;
  width: 71px !important;
}

.input-file {
  label {
    margin-bottom: 0;
  }

  input[type=file] {
    display: none;
  }
}

.emoji-mart-light {
  background-color: #fff !important;
  background-color: var(--bs-card-bg) !important;
}

.emoji-mart-search input {
  background-color: #fff !important;
  background-color: var(--bs-card-bg) !important;
  border-color: #f5f7fb !important;
}

.emoji-mart-category-label span {
  background-color: #fff !important;
  background-color: var(--bs-card-bg) !important;
  color: #495057;
}

.emoji-mart-category .emoji-mart-emoji {
  &:hover {
    background-color: #f0eff5 !important;
  }

  &:before {
    background-color: #f0eff5 !important;
    border-radius: 100% !important;
  }
}

.w-70 {
  width: 73% !important;
}

.ctext-wrap-content {
  -webkit-animation: flyIn .6s ease-in-out;
  animation: flyIn 0.6s ease-in-out;
}

.blank-div {
  height: 36px;
  width: 36px;
}

.profile-user-dropdown .dropdown-item.active {
  background-color: #0085CA;
  color: #fff;
  text-decoration: none;
}

.dot_remove {

  .alice-carousel__dots,
  .alice-carousel__next-btn,
  .alice-carousel__prev-btn {
    display: none !important;
  }
}

.close {
  background: transparent;
  border: 0;
  font-size: 30px;
  height: 1em;
  margin: 10px;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  width: 1em;
  z-index: 2;
}

.emoji-dropdown .dropdown-menu {
  -webkit-animation: none;
  animation: none;
}

.input-group-text {
  background-color: #f5f7fb;
  background-color: var(--bs-gray-200);
}

.bg-soft-light {
  background-color: 230, 235, 245 !important;
  background-color: var(--bs-light-rgb) !important;
}

.profile-user-dropdown.dropup .dropdown-menu {
  bottom: 51px;
  top: auto !important;

  &.show {
    top: auto !important;
  }
}