{{ attach_library('cp_ia_search/cp_ia_search') }}
<!-- Make a button to create a new chat -->

<section class="cp_temp_share">
    <div id="not-found-login" class="empty-search container py-5" style="display: none;">
        <div class="row mt-4">
            <div class="col-lg-6">
                <p class="fs-3 no-result">No se han encontrado resultados para tu búsqueda
                    <span id="not-found-login-search" class=""></span>
                </p>
            </div>
            <div class="col-lg-6">
                <ul>
                    <li>Asegúrate de que todas las palabras estén escritas correctamente.</li>
                    <li>Revisa la ortografía de la palabra.</li>
                    <li>Utiliza palabras más genéricas o menos palabras.</li>
                    <li>
                        <a href="http://" target="_blank" rel="noopener noreferrer">Navega por las categorías</a>
                        para
                        encontrar un producto o servicio similar.
                    </li>
                </ul>
            </div>
            <div class="fs-3 my-5 py-4 px-2 bg-white" style="box-shadow: 0px 3px 6px #00000029;border-radius: 4px;">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="fs-5 no-result">Recomendaciones sugeridas</p>
                    </div>
                    <div class="col-lg-6 text-end">
                        <p class="fs-5 no-result">Recomendaciones sugeridas</p>
                    </div>
                    <div class="col-lg-12">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">Slide 1</div>
                                <div class="swiper-slide">Slide 2</div>
                                <div class="swiper-slide">Slide 3</div>
                                <div class="swiper-slide">Slide 4</div>
                                <div class="swiper-slide">Slide 5</div>
                                <div class="swiper-slide">Slide 6</div>
                                <div class="swiper-slide">Slide 7</div>
                                <div class="swiper-slide">Slide 8</div>
                                <div class="swiper-slide">Slide 9</div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="position-relative pt-4">
                <!-- Slider main container -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="box">
                                <i class='bx bx-heart'></i>
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://d2d21jw8en5l3a.cloudfront.net/vendty2_db_28302_luis2020/imagenes_productos/MOCHILA%20WAYUU%20ZAPOTE%201.jpg"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>

    </div>
    <div id="not-found" class="empty-search container py-5" style="display: none;">
        <div class="row mt-4">
            <div class="col-lg-6">
                <p class="fs-3 no-result">No se han encontrado resultados para tu búsqueda
                    <span id="not-found-search" class=""></span>
                </p>
            </div>
            <div class="col-lg-6">
                <ul>
                    <li>Asegúrate de que todas las palabras estén escritas correctamente.</li>
                    <li>Revisa la ortografía de la palabra.</li>
                    <li>Utiliza palabras más genéricas o menos palabras.</li>
                    <li>
                        <a href="http://" target="_blank" rel="noopener noreferrer">Navega por las categorías</a>
                        para
                        encontrar un producto o servicio similar.
                    </li>
                </ul>
            </div>
            <p class="fs-3 my-5 tittle-search">Tendencias ProColombia</p>
            <div class="position-relative pt-4">
                <!-- Slider main container -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="box">
                                <i class='bx bx-heart'></i>
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://d2d21jw8en5l3a.cloudfront.net/vendty2_db_28302_luis2020/imagenes_productos/MOCHILA%20WAYUU%20ZAPOTE%201.jpg"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">Alimentos</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>

    </div>
    <div id="loader-product" class="justify-content-center align-items-center loader-json" style="display: flex;">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_rlmdrwm8.json" background="transparent"
            speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
    </div>
    <div id="content-products" class="product container" style="display: none;">
        <div class="row">
            <div class="col-lg-4">
                <p id="words-title" class="fs-2 title-product"></p>
                <p class="result-product"><span id="total-uno">20.414</span> resultados</p>
            </div>
            <div class="col-lg-8 align-items-center col-lg-6 d-flex justify-content-end">
                <button class="align-items-center border-0 d-flex px-3 py-2"> <i class='bx bx-slider-alt me-2'></i>
                    Restablecer filtrado</button>
                <div class="align-items-center bg-white d-flex mx-2 filters-select">
                    <span>
                        Ordenar por:
                    </span>
                    <select name="" id="">
                        <option value="">Productos más visitados</option>
                        <option value="">Orden alfabético</option>
                        <option value="">Fecha más reciente de actualización</option>
                    </select>
                </div>
                <div class="align-items-center bg-white d-flex mx-2 filters-select">
                    <select style="width: 140px;" name="" id="">
                        <option value="">10 resultados</option>
                        <option value="">20 resultados</option>
                        <option value="">50 resultados</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-lg-3">
                <div class="left-bar-filtre">
                    <div class="opc-search">
                        <div class="header px-3 py-2 text-white">
                            Opciones de búsqueda:
                        </div>
                        <div class="body px-3 py-2">
                            <p class="body-search-result">Su búsqueda <strong id="words-filter"></strong> aparece en:
                            </p>
                            <strong id="category-length"></strong>
                            <p class="body-search-result fst-italic">Seleccione en la que está interesado</p>

                            <div class="lis-cat">
                                <ul class="list-unstyled" id="list-cat-search">

                                </ul>

                            </div>
                            <div class="d-flex justify-content-center my-3">
                                <button class="align-items-center border-0 d-flex px-3 py-2"> <i
                                        class='bx bx-slider-alt me-2'></i>
                                    Restablecer filtrado</button>
                            </div>
                        </div>
                    </div>
                    <div class="filter-by">
                        <p class="mb-1 mt-4">Filtrar por:</p>
                        <ul class="list-unstyled">
                            <li>
                                <div class="form-inline d-flex align-items-center">
                                    <label class="tick">Producto
                                        <input type="checkbox">
                                        <span class="check"></span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-inline d-flex align-items-center">
                                    <label class="tick">Servicio
                                        <input type="checkbox">
                                        <span class="check"></span>
                                    </label>
                                </div>
                            </li>
                            </li>
                            <li>
                                <div class="form-inline d-flex align-items-center">
                                    <label class="tick">Empresa
                                        <input type="checkbox">
                                        <span class="check"></span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-lg-9">
                <div id="product-list">

                </div>
                <div class="align-items-end p-0 row">
                    <div class="col-lg-6 p-0">
                        <p class="mb-0">Total de ítems: <strong class="p-1 rounded"
                                style="box-shadow: inset 0px 3px 6px #0000001A;" id="total-dos">2401</strong></p>
                    </div>
                    <div class="col-lg-6 pagina-tion text-end p-0">
                        <ul id="pagination">

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>