.is-mobile {
    display: none;
    @media screen and (max-width: $small-max) {
        display: block;
    }
}

.is-desktop {
    display: block;
    @media screen and (max-width: $small-max) {
        display: none;
    }
}

.is-hidden {
    display: none;
}

.exist-modal {
    &:after {
        content: " ";
        width: 100%;
        height: 100vh;
        background-color: white;
        opacity: 0.9;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
    }
}

// Estilos del usuario administrador
.user-logged-in {
    &.user-loggin-admin {
        .menu--account {
            position: absolute;
            right: 3px;
            @media screen and (max-width: $mobile-screen) {
                margin: 5px auto;
            }
        }
    }
}
