.breadcrumb {
    background-color: transparent;
    @media screen and (max-width: $mobile-screen) {
        font-size: 0.8em !important;
        padding: 1rem 0;
        margin: 0 15px;
    }
}
.breadcrumb-item + .breadcrumb-item::before{
    content: "〉";
}
