.bg-secondary {
    .contextual-region {
        position: static;
    }
    .menu-item--expanded {
        position: static;
        .marcap {
            +.menu {
                background-color: $purple;
            }
        }
        .exportaciones {
            +.menu {
                background-color: $red;
            }
        }
        .turismo {
            +.menu {
                background-color: $yellow;
            }
        }
        .inversion {
            +.menu {
                background-color: $primary-blue;
            }
        }
        .menu {
            display: none;
            position: absolute;
            left: 0;
            width: 100%;
            z-index: 100;
            bottom: 0;
            transform: translateY(99.8%);
            padding: 0;
            li {
                list-style: none;
            }
            .container {
                padding: 0;
            }
        }
        &:hover {
            .menu {
                display: block;
            }
            .marcap {
                background-color: $purple;
            }
            .turismo {
                background-color: $yellow;
            }
            .inversion {
                background-color: $primary-blue;
            }
            .exportaciones {
                background-color: $red;
            }
        }
    }
    a {
        font-size: 0.8125rem;
        text-transform: uppercase;
        color: $secondary-grey;
        font-weight: 400;
        padding: 1.1rem 2rem 1.1rem 1.5rem;
        background-image: url(../images/icons/icon-arrow-down.svg);
        background-repeat: no-repeat;
        background-position: 90% center;
        background-size: 10px;
        font-family: $font-raleway;
    }
    input {
        border: none;
        border: 1px solid #ccc;
    }
    .row {
        width: 100%;
        .header-top--left {
            position: static;
            @media screen and (max-width: $small-mobile-max) {
                display: inline-block;
                width: 75%;
                vertical-align: middle;
                padding: 0.3rem 0 0.3rem 1.7rem;
            }
            #logoMobile img {
                @media screen and (max-width: $small-mobile-max) {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .header-top--right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            @media screen and (max-width: $small-mobile-max) {
                width: 25%;
            }
        }
    }
    .header-top__search {
        background-image: url(../images/icons/search.svg);
        background-repeat: no-repeat;
        background-position: 95% center;
        background-size: 18px;
        padding: 0 1rem;
        max-width: 12rem;
        border: none;
        border-radius: 2px!important;
        line-height: 1.75rem;
        font-family: $font-raleway;
        height: 30px;
    }
}

.search-top-header-form {
    @media screen and (max-width: $small-max) {
        display: none;
    }
    button {
        position: absolute;
        top: 8px;
        right: 30px;
        background: transparent!important;
        height: 27px;
        width: 40px;
        overflow: hidden;
        text-indent: -999px;
        border: none;
    }
    fieldset {
        margin-bottom: 0;
    }
}

.menu--main-menu-mobile {
    position: initial;
    top: 65px;
    left: 0;
    width: 100%;
    z-index: 1000;
    @media screen and (max-width: $mobile-screen) {
        top: 100%;
    }
    .nav {
        .nav-item {
            width: 100%;
            // background-color: #f6f6f6;
            a {
                color: $gray-text-redesign;
                border-bottom: 1px solid rgba($black, .2);
                text-align: center;
                background-image: unset;
                font-size: 0.9rem;
                font-weight: 600;
            }
        }
    }
}

#logoMobile {
    padding: .5rem 0;
    a {
        @media screen and (max-width: $mobile-screen) {
            padding: 0;
            background-image: none
        }
    }
}
//redesign
#navbar-top{
    .container{
        @media screen and (max-width: $mobile-screen) {
            margin: 0;
            padding: 0;
            background-color: $filter-background-products;
        }
        .header-top--right{
            img{
                filter: invert(50%);
            }
        }
    }
    .header-mobile-menu.is-mobile{
        background: white !important;
        margin: 0;
        padding: 0;
        .region-mobile-menu{
            margin: 1rem 0;
            .block-dropdown-language{
                background-color: $filter-background-products;
                width: 100%;
                justify-content: center;
                display: flex;
            }
        }
    }
}
svg.ext{
    margin-left: 2px;
}
