@font-face {
    font-family: Maven-Medium;
    src: url('../font/MavenPro-Medium.ttf');
}

@font-face {
    font-family: Maven-Regular;
    src: url('../font/MavenPro-Regular.ttf');
}

@font-face {
    font-family: Maven-Bold;
    src: url('../font/MavenPro-Bold.ttf');
}

@font-face {
    font-family: Gothic-Regular;
    src: url('../font/Century-Gothic.otf');

}

@font-face {
    font-family: Gothic-Bold;
    src: url('../font/Century-Gothic-Bold.otf');
}

$color-Azul-Claro: #e3f3ff;
$color-Verde-aprobacion: #31d394;
$color-Gris-Claro: #f0f0f0;
$color-cccccc: #cccccc;
$color-Gris-Claro-2: #6a6d71;
$color-Gris-Oscuro: #3b3d42;
$color-504672: #504672;
$color-Pantone-200: #ba0c2f;
$color-Pantone-process-Blue: #0085ca;
$color-Pantone-116-C: #005ca4;
$color-Pantone-Y: #fdca00;
$color-Black: #000000;
$color-White: #ffffff;
$color-5c5c5c: #5C5C5C;
$color-f7f8f8: #f7f8f8;
/* Font/text values */
$font-regular: Gothic-Regular;
$font-medium: Maven-Medium;
$font-bold: Gothic-Bold;
$font-black: Maven-Black;
$font-regular-maven: Maven-Regular;
$font-bold-maven: Maven-Bold;

.search {
    width: 100%;
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
}

.search-input {
    border: 0;
    outline: 0;
    line-height: 20px;
    height: 41px;
    transition: width 0.4s linear;

    &:focus {
        ~a {
            background-color: #0085CA;

            #lupa {
                fill: white;
            }
        }

    }

    &:not(:focus):valid {
        ~a {
            background-color: #fff;
        }

    }

}

.search-input .search {
    padding: 0 10px;
    width: 100%;
    caret-color: #536bf6;
    font-size: 16px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
}

a.search-icon {
    box-shadow: 0px 3px 6px #0000001a;
    background: #f7f8f8;
    padding: 10px 11px;
    border-radius: 4px;
    margin-left: -11px;
}

.search-cont {

    background: #F7F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 10px #00000029;
    border-radius: 4px;

    .tittle {
        font-size: 1.4rem;
        font-family: $font-bold-maven ;
    }

    .item {
        margin: 5px;
        float: left;
        width: 32.2333%;

        .btn-check {
            &:checked+.btn {
                background-color: #0085CA !important;
                color: #fff;
            }
        }

        .item-select {
            width: 100%;
            background: #FBFBFB;
            border-radius: 5px;
            border: none !important;
            text-align: start;
            padding: 9px;

            &:focus {
                box-shadow: none !important;
            }
        }
    }

    .more-option {
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
            margin: 7px;
            background: #FBFBFB 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 10px #00000029;
            border-radius: 5px;
            border: 0px;
            color: $color-Pantone-116-C;
            font-size: 1.5rem;
        }
    }

}