// @font-face {
// 	font-family: Maven-Medium;
// 	src: url('../font/MavenPro-Medium.ttf');
// }

// @font-face {
// 	font-family: Maven-Regular;
// 	src: url('../font/MavenPro-Regular.ttf');
// }

// @font-face {
// 	font-family: Maven-Bold;
// 	src: url('../font/MavenPro-Bold.ttf');
// }

// @font-face {
// 	font-family: Gothic-Regular;
// 	src: url('../font/Century-Gothic.otf');

// }

// @font-face {
// 	font-family: Gothic-Bold;
// 	src: url('../font/Century-Gothic-Bold.otf');
// }

$color-Azul-Claro: #e3f3ff;
$color-Verde-aprobacion: #31d394;
$color-Gris-Claro: #f0f0f0;
$color-cccccc: #cccccc;
$color-Gris-Claro-2: #6a6d71;
$color-Gris-Oscuro: #3b3d42;
$color-504672: #504672;
$color-Pantone-200: #ba0c2f;
$color-Pantone-process-Blue: #0085ca;
$color-Pantone-116-C: #005ca4;
$color-Pantone-Y: #fdca00;
$color-Black: #000000;
$color-White: #ffffff;
$color-5c5c5c: #5c5c5c;
$color-f7f8f8: #f7f8f8;
/* Font/text values */
$font-regular: Gothic-Regular;
$font-medium: Maven-Medium;
$font-bold: Gothic-Bold;
$font-black: Maven-Black;
$font-regular-maven: Maven-Regular;
$font-bold-maven: Maven-Bold;

/* ===== Scrollbar CSS ===== */
/* Firefox */
// * {
// 	scrollbar-width: auto;
// 	scrollbar-color: #6a6d71 #00000000;
// }

// /* Chrome, Edge, and Safari */
// *::-webkit-scrollbar {
// 	width: 7px;

// 	&:hover {
// 		width: 7px;
// 	}
// }

// p {
// 	word-break: break-word;
// }

// img.me-2 {
// 	width: 23px !important;
// }

// body {
// 	font: inherit !important;
// 	font-family: $font-regular  !important;
// }

.yes {
	border: 1px solid #005ca4;
}

.input-group-text {
	height: 46px !important;
}

///
/// Estilos Menu Drupal
///
// #auth_box {
// 	width: 35%;

// 	#middle_part {
// 		padding: 2rem 3rem;
// 	}

// 	input {
// 		width: 100% !important;
// 	}

// 	#edit-persistent-login {
// 		width: 20px !important;
// 		height: 20px !important;
// 	}
// }

// @media (max-width: 600px) {
// 	#auth_box {
// 		width: 95%;

// 		#middle_part {
// 			padding: 2rem 3rem;
// 		}

// 	}
// }

///
///

// .form-control {
// 	height: 46px !important;
// }

// .modal-body {

// 	padding: 37px 18px;

// 	p {
// 		font-size: 14px;
// 		font-family: 'Gothic-Regular';
// 		margin: 0px;
// 		line-height: 1.2em;
// 		font-weight: bold;
// 	}

// 	h6 {
// 		font-size: 1.5rem;
// 		font-family: 'Gothic-Bold';
// 		padding: 0px 34px !important;
// 		margin-bottom: 20px;
// 	}

// 	.password {
// 		.input-group-text {
// 			background-color: #fff;
// 			color: $color-White;
// 			border-radius: 4px !important;
// 			margin-left: -3px !important;
// 			z-index: 2;
// 			border-left: 0px;
// 			cursor: pointer;
// 			border-top-left-radius: 0px !important;
// 			border-bottom-left-radius: 0px !important;

// 			svg {
// 				margin-right: 10px;

// 			}
// 		}

// 		.validation {
// 			display: flex;
// 			align-items: center;

// 			.progress {
// 				height: 7px;
// 				width: 100%;

// 				.progress-bar {
// 					background-color: $color-Verde-aprobacion;
// 				}
// 			}

// 			.mensaje {
// 				margin-bottom: 0;
// 				margin-left: 24px;
// 				margin-right: 6px;
// 			}

// 		}
// 	}

// 	.rihgt {
// 		.input-group-text {
// 			margin-left: -3px !important;
// 		}

// 		.input-group-text.eliminar {
// 			background-color: $color-Pantone-200  !important;
// 			font-family: $font-regular  !important;
// 		}
// 	}
// }

// .modal-header {

// 	h5 {
// 		font-size: 22px;
// 		color: $color-Gris-Oscuro;
// 		font-family: $font-bold;
// 		border-color: #00000033;
// 	}
// }

// .modal-title {
// 	img {
// 		margin-right: 10px;
// 	}
// }

.toltip_content {
	margin-top: 10px;
	margin-bottom: 10px;

	span {
		line-height: 1.21em;
	}
}

.ts-control .item {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// .form-control:focus {
// 	box-shadow: none !important;
// }

// *::-webkit-scrollbar-track {
// 	background: #00000000;
// }

// *::-webkit-scrollbar-thumb {
// 	background-color: $color-Gris-Claro-2;
// 	border-radius: 100px;
// 	border: 0px solid #ffffff;
// }

// .bg-danger {
// 	background: $color-Pantone-200  !important;
// }

// a {
// 	text-decoration: none !important;

// 	svg.ext {
// 		display: none;
// 	}
// }

// .container {
// 	max-width: 1400px !important;
// }

// .site-footer {
// 	background-color: #fff !important;
// 	padding: 0px !important;

// 	.top_footer {
// 		padding: 1rem 0.1rem;
// 		background-color: #F2F2F2;

// 		.logo_footer {
// 			display: flex;
// 			justify-content: flex-start;
// 			align-items: center;

// 			img {
// 				width: 450px;
// 			}
// 		}

// 		.logo_footer_2 {
// 			display: flex;
// 			justify-content: flex-end;
// 			align-items: center;

// 			img {
// 				width: 250px;
// 			}
// 		}
// 	}

// 	.footer {
// 		background-color: $color-Pantone-116-C;

// 		.bg_gris {
// 			background-color: $color-Gris-Oscuro;
// 		}
// 	}

// 	.anuncio {
// 		margin: 14px 21px;
// 		display: flex;
// 		align-items: center;
// 		cursor: pointer;
// 		transition: all 0.3s ease-out;

// 		&:hover {
// 			transform: scale(1.03);
// 		}

// 		.img {
// 			width: 20px;
// 			height: 20px;
// 			margin-right: 9px;
// 		}

// 		.description {
// 			.title {
// 				color: $color-Pantone-Y;
// 				font-size: 12px;
// 				font-family: 'Gothic-Regular';
// 			}

// 			.text {
// 				color: $color-White;
// 				font-size: 13px;
// 			}
// 		}
// 	}

// 	h6 {
// 		font-size: 18px;
// 		color: $color-White;
// 		margin-bottom: 16px;
// 		font-family: $font-bold;
// 		margin-left: 5px;
// 	}

// 	.social-buttons {
// 		display: flex;
// 		flex-wrap: wrap;
// 		margin-top: -10px;

// 		&__button {
// 			margin: 10px 5px 0;
// 		}
// 	}

// 	.bottom_footer {
// 		display: flex;
// 		justify-content: center;
// 		background-color: #D8DADD;

// 		.link {
// 			font-size: 15px;
// 			padding: 3px 31px;
// 			font-family: $font-regular;
// 			margin: 5px;

// 			a {
// 				color: $color-Black;
// 			}
// 		}

// 		.link.center {
// 			border-right: 1px solid #fff;
// 			border-left: 1px solid #fff;

// 			a {
// 				color: $color-Black;
// 			}
// 		}
// 	}

// 	$social-button-size: 35px;
// 	$social-button-icon-size: 0.8;
// 	$social-button-background: $color-Pantone-process-Blue;
// 	$social-button-active-color: #fff;
// 	$social-button-transition-time: 0.3s;

// 	$social-button-colors: (
// 		'mail': #0072c6,
// 		'facebook': #3b5999,
// 		'linkedin': #0077b5,
// 		'instagram': #6e5494,
// 		'codepen': #212121,
// 		'steam': #7da10e,
// 		'snapchat': #eec900,
// 		'twitter': #55acee,
// 		'youtube': #c12127,
// 	);

// .social-button {
// 	position: relative;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	outline: none;
// 	width: $social-button-size;
// 	height: $social-button-size;
// 	text-decoration: none;
// 	border-radius: 4px;
// 	background: $social-button-background;
// 	text-align: center;

// 	&::after {
// 		content: '';
// 		position: absolute;
// 		top: -1px;
// 		left: 50%;
// 		display: block;
// 		width: 0;
// 		height: 0;
// 		border-radius: 4px;
// 		transition: $social-button-transition-time;
// 		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
// 	}

// 	&:focus,
// 	&:hover {
// 		color: $social-button-active-color;

// 		&::after {
// 			width: calc(100% + 2px);
// 			height: calc(100% + 2px);
// 			margin-left: calc(-50% - 1px);
// 		}
// 	}

// 	i,
// 	svg {
// 		position: relative;
// 		z-index: 1;
// 		transition: $social-button-transition-time;
// 	}

// 	i {
// 		font-size: $social-button-size * $social-button-icon-size;
// 		color: #fff;
// 	}

// 	svg {
// 		height: percentage($social-button-icon-size);
// 		width: percentage($social-button-icon-size);
// 	}

// 	@each $name,
// 	$color in $social-button-colors {
// 		&--#{$name} {
// 			color: $color;

// 			&::after {
// 				background: $color;
// 			}
// 		}
// 	}
// }

// }

.modal-body {
	ul {
		list-style: none;
		padding-left: 0;
		padding-top: 10px;

		li {
			font-size: 16px;

			i {
				color: $color-Pantone-116-C;
				font-size: 20px;
			}
		}
	}
}

.btn_options {
	display: flex;
	justify-content: flex-end;
	align-items: stretch;

	.yes {
		background-color: $color-Pantone-116-C;
		color: $color-White;
		font-family: $font-bold;
		border: none;
		border-radius: 4px;
		padding: 0.6rem 1rem;
		line-height: normal;
		height: 100%;

		&:hover {
			color: $color-White;
			background-color: $color-Pantone-process-Blue;
		}
	}

	.no {
		border-radius: 4px;
		padding: 0.4rem 0.6rem;
		line-height: normal;
		height: 100%;
		margin-left: 10px;
		font-family: $font-regular;
		color: $color-Pantone-116-C;
		transition: all 0.4s ease-out;
		border: 1px solid $color-Pantone-116-C;

		&:hover {
			color: $color-White;
			background-color: $color-Pantone-process-Blue;
		}
	}
}

.toltip_i {
	position: relative;
	cursor: pointer;

	.tooltiptext {
		visibility: hidden;
		width: 300px;
		max-width: 68vw;
		background-color: $color-Black;
		color: $color-White;
		text-align: center;
		border-radius: 6px;
		padding: 10px;
		position: absolute;
		z-index: 8;
		font-family: $font-regular;
	}

	.tooltip-table {
		visibility: hidden;
		width: fit-content;
		background-color: $color-Black;
		color: $color-White;
		text-align: center;
		border-radius: 6px;
		padding: 10px 15px;
		position: absolute;
		z-index: 8;
		left: 0;
		right: 0;
		bottom: -31%;
		margin: 0 auto;
		font-family: $font-regular;
		font-size: 10px;
	}

	.tooltiptext_error {
		visibility: hidden;
		width: 300px;
		max-width: 68vw;
		background-color: $color-Pantone-200;
		color: $color-White;
		text-align: center;
		border-radius: 6px;
		padding: 10px;
		position: absolute;
		z-index: 8;
		font-family: "Gothic-Regular";
		font-size: 14px;
		right: 1rem;
		font-family: $font-regular;
	}

	.tooltiptext_yotube {
		visibility: hidden;
		width: 420px;
		max-width: 68vw;
		background-color: $color-Black;
		color: $color-White;
		text-align: start;
		border-radius: 6px;
		padding: 10px;
		position: absolute;
		z-index: 8;
		font-size: 14px;
		right: 1.5rem;
		font-family: $font-regular;

		.note {
			margin-bottom: 0px;
			color: $color-Pantone-Y;
			font-size: 13px;
			font-family: $font-bold;
		}
	}

	.tooltiptext_menu {
		visibility: hidden;
		width: 140px;
		background-color: $color-Gris-Oscuro;
		color: $color-White;
		text-align: center;
		border-radius: 4px;
		padding: 6px;
		position: absolute;
		z-index: 8;
		bottom: -15px;
		font-size: 12px;
		display: flex;
		justify-content: center;
		align-items: center;

		//
		// Esto se debe cambiar por medio de Script para el gradient de la Gamyficacion
		// Main-top: color de arriba
		// Alt-stop: color secundario
		//

		strong {
			font-family: $font-bold;
			margin-left: 3px;
		}
	}

	&:hover .tooltiptext,
	&:hover .tooltiptext_error,
	&:hover .tooltiptext_yotube,
	&:hover .tooltiptext_menu,
	&:hover .tooltip-table {
		visibility: visible;
	}
}

// strong {
// 	font-family: $font-bold;
// }

.status_icon {
	width: 16px;
	height: 16px;
	margin-right: 4px !important;
	transform: rotate(90deg);
	margin-bottom: 0px !important;

	.main-stop {
		stop-color: #fdca00;
	}

	.alt-stop {
		stop-color: #d88d00;
	}
}

// .logo {
// 	width: 270px;
// 	height: 49px;
// 	padding-left: 19px;
// }

.btn-outline {
	border: 1px solid $color-Pantone-116-C !important;
	border-radius: 4px;
	font-weight: bold;
	font-size: 14px;
	padding: 8px 11px;
	margin-right: 10px;
	font-family: $font-bold;

	&:hover {
		color: $color-White !important;
		border-color: $color-Pantone-process-Blue !important;
		background-color: $color-Pantone-process-Blue !important;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	}
}

.btn-outline-d {
	border: 1px solid $color-Pantone-116-C !important;
	border-radius: 4px;
	font-weight: bold;
	font-size: 14px;
	background-color: $color-Pantone-116-C !important;
	padding: 8px 11px;
	color: $color-White !important;
	font-family: $font-bold;

	&:hover {
		color: $color-White;
		background-color: $color-Pantone-116-C !important;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	}
}

.sub-header {
	background-color: #f4f4f4;

	a.dropdown-item {
		padding: 5px 11px;

		span {
			font-family: $font-regular-maven;
			font-size: 18px;
			font-weight: 200;
			padding: 11px 0px;
		}
	}

	ul.dropdown-menu.show {
		min-width: 100%;
		padding: 5px 0px;
		inset: -3px auto auto 0px !important;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border: none;
		border-top: 1px solid #000;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	}

	.btn.btn-secondary.dropdown-toggle {
		background-color: $color-f7f8f8;
		border: none;
		box-shadow: none;
		color: $color-Black;
		font-size: 18px;
		font-weight: 200;
		width: 100%;
		display: flex;
		align-items: center;
		font-family: $font-regular-maven;
		padding: 9px 10px;
		border-bottom: 1px solid $color-Black;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;

		i {
			margin-right: 8px;
			font-size: 25px;
		}
	}

	a.dropdown-item {
		border: none;
		box-shadow: none;
		color: $color-Black;
		font-size: 18px;
		font-weight: 200;
		display: flex;
		font-family: $font-regular-maven;
		align-items: center;
		background-color: transparent !important;

		i {
			margin-right: 8px;
			font-size: 25px;
		}
	}

	button.btn.btn-secondary.dropdown-toggle.show {
		background-color: $color-White !important;
	}

	.dropdown-toggle::after {
		display: inline-block;
		margin-left: 0.255em;
		vertical-align: 0.255em;
		content: "\ea4a";
		font-family: "boxicons";
		border: none !important;
	}
}

.row {
	width: 100% !important;
	margin-left: 0px !important;
	padding-right: 0.5rem;
}

.menu-left {
	width: 94%;
	left: 18px;
	height: 0px;
	border-right: 45px solid transparent;
	border-left: 0px solid transparent;
	border-bottom: 45px solid #5c5c5c;
	cursor: pointer;
	z-index: 4;
	position: absolute;
	transition: all 0.5s ease-out;

	&:hover {
		transition: all 0.5s ease-out;
		border-right: 45px solid transparent;
		border-left: 0px solid transparent;
		border-bottom: 45px solid $color-Black;
	}

	.menu-content {
		padding: 6px 67px 6px 18px;
		width: 100%;
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		height: 45px;
		color: $color-White;
		justify-content: flex-start;

		i {
			font-size: 30px;
			margin-right: 20px;
		}

		p {
			margin: 0px;
			font-family: $font-medium;
		}
	}
}

.search_box {
	display: flex;
	align-items: center;
	height: 100%;
	position: relative;

	#search {
		width: 100%;
		-webkit-appearance: none;
		border: none;
		outline: none;
		padding: 7px 20px;
		color: $color-Gris-Oscuro;
		border-radius: 4px;
		font-family: $font-regular;

		&:focus {
			border: none;
			outline: none;
			width: 90%;
		}

		&:active {
			border: none;
			outline: none;
		}
	}

	.search_btn {
		background-color: $color-f7f8f8;
		border: none;
		outline: none;
		border: none;
		outline: none;
		padding: 12px 12px;
		font-size: 20px;
		border-radius: 4px;
		position: absolute;
		right: 0;
		box-shadow: 0px 3px 6px #0000001a;

		&:focus {
			border: none;
			outline: none;
		}

		&:active {
			border: none;
			outline: none;
		}

		&:hover {
			background-color: $color-Pantone-process-Blue;
			color: $color-White;

			#Trazado_23 {
				fill: $color-White;
			}
		}
	}

	.btn-search-mobil {
		background-color: $color-Gris-Oscuro;
		border: none;
		outline: none;
		border: none;
		outline: none;
		padding: 10px 11px;
		font-size: 20px;
		border-radius: 4px;
		position: absolute;
		right: 0;
		box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em;

		&:focus {
			border: none;
			outline: none;
		}

		&:active {
			border: none;
			outline: none;
		}

		&:hover {
			background-color: $color-Pantone-process-Blue;
			color: $color-White;

			#Trazado_23 {
				fill: $color-White;
			}
		}
	}

	.input-search-mobil {
		width: 100%;
		-webkit-appearance: none;
		border: none;
		outline: none;
		padding: 7px 20px;
		color: $color-Gris-Oscuro;
		border-radius: 4px;
		font-family: $font-regular;
		box-shadow: #00000029 0px 4px 12px;

		&:focus {
			border: none;
			outline: none;
			width: 90%;
			box-shadow: #00000029 0px 4px 12px;
		}

		&:active {
			border: none;
			outline: none;
			box-shadow: #00000029 0px 4px 12px;
		}
	}
}

.search_btn_mobile {
	background-color: $color-White;
	border: none;
	outline: none;
	border: none;
	outline: none;
	padding: 9px 10px;
	font-size: 20px;
	border-radius: 4px;
	height: 100%;

	&:focus {
		border: none;
		outline: none;
	}

	&:active {
		border: none;
		outline: none;
	}

	&:hover {
		background-color: $color-Pantone-process-Blue;
		color: $color-White;

		#Trazado_23 {
			fill: $color-White;
		}
	}
}

.btn-check:checked + .btn:focus,
.btn-check:active + .btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.show:focus {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.left_bar {
	position: absolute;
	position: absolute;
	left: 0rem;
	top: 3rem;
	background: #f4f4f4;
	padding-top: 2rem;
	height: calc(100vh - 7.1rem);
	width: 100%;
	z-index: 3;
	padding-left: 1.8rem;
	padding-right: 0.5rem;
	padding-bottom: 1.8rem;
	transition: all 0.5s ease-out;

	.bar_content {
		overflow: auto;
		height: 100%;
		padding-right: 0.5rem;
	}
}

.right_bar {
	position: absolute;
	right: 0rem;
	background: #f4f4f4;
	padding: 9px !important;
	height: 200vh;
	width: 400px;
	z-index: 8;
	padding-left: 1.8rem;
	padding-right: 0.5rem;
	padding-bottom: 1.8rem;
	transition: all 0.5s ease-out;
	top: 5.5rem;
	overflow: auto;
	//box-shadow: rgb(9 30 66 / 9%) -10px 2px 66px 0px;

	.bar_content {
		overflow: auto;
		height: 45%;
		width: 100%;
		padding-right: 0.5rem;
		word-break: break-all;

		.title {
			font-family: "Gothic-Bold";
			font-size: 1.5rem;
		}

		.noticie {
			display: flex;
			justify-content: space-around;
			align-items: stretch;
			background-color: $color-White;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			padding: 0.6rem;
			border-left: 4px solid $color-Pantone-process-Blue;
			margin-top: 13px;
			box-shadow: 0px 3px 6px #00000029;

			.notici_img {
				width: 14%;
				display: flex;
				align-items: center;

				img {
					border-radius: 50%;
					height: 49px;
					width: 49px;
					-o-object-fit: cover;
					object-fit: cover;
					-o-object-position: center center;
					object-position: center center;
				}
			}

			.noticie_content {
				width: 64%;

				.title {
					font-family: $font-bold;
					margin-bottom: 4px;
					font-size: 14px;
				}

				.description {
					font-size: 11px;
					margin: 0px;
				}
			}

			.time_content {
				width: 19%;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-content: flex-end;

				.time {
					text-align: end;
					margin-bottom: 1%;
				}

				.more {
					font-family: "Gothic-Bold";
					text-align: end;
					padding-right: 2px;
					color: #ccc;
					font-size: 21px;
					margin: 0px;
				}
			}
		}
	}
}

div#page {
	position: relative;
}

.icon_secction {
	display: flex;
	justify-content: flex-end;
	border-right: 1px solid $color-cccccc;
	padding-right: 0.6rem;

	.icono {
		display: flex;
		flex-direction: column;
		align-content: center;
		width: 70px;
		align-items: center;
		margin: 0rem 0.2rem;
		position: relative;
		padding-bottom: 4px;
		cursor: pointer;

		.img_icon {
			transition: all 0.5s ease-out;

			svg {
				height: 27px !important;
				width: 27px !important;
			}
		}

		.titlle {
			text-align: center;
			line-height: normal;
			font-size: 12px;
			font-family: $font-regular;
		}

		.badge {
			font-size: 9px !important;
			font-family: $font-regular;
			top: 8px !important;
		}

		&:hover {
			.img_icon {
				transform: rotateZ(-13deg) scale(1.08);

				svg {
					background-color: $color-White;
					//box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
					padding: 3px;
					border-radius: 5px;
				}
			}

			&::after {
				background: $color-Pantone-116-C;
				height: 3px;
				border-radius: 12px;
				content: "";
				display: block;
				width: 100%;
			}
		}

		&::after {
			transition: all 0.5s ease-out;
			background: white;
			height: 3px;
			border-radius: 12px;
			content: "";
			display: block;
			width: 100%;
			margin-top: 0.4rem;
			position: absolute;
			bottom: -6px;
		}
	}
}

.logo {
	cursor: pointer;
}

.active_dropdown {
	position: absolute;
	inset: 0px auto auto 0px;
	margin: 0px;
	transform: translate(0px, 45px);
	display: block;
	min-width: 100%;
	border: none;
	border-top: 1px solid $color-cccccc;
	border-radius: 0px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.dropdown-cont {
	width: 100%;
	height: 100%;
	border-bottom: 1px solid $color-Pantone-116-C;
	display: flex;
	align-items: center;
	z-index: 4;
	transition: all 0.2s ease-out;
	cursor: pointer;
	padding-left: 0.6rem;

	p {
		font-family: $font-regular;
		margin-bottom: 0px;
	}

	.business_tittle {
		font-family: $font-bold;
	}

	&:hover {
		background-color: $color-Azul-Claro;
		border-color: $color-White;
		border-radius: 6px;
	}

	.logo_img_menu {
		border-bottom: 1px solid $color-cccccc;
		padding-bottom: 0.4rem !important;
		padding-top: 0.5rem !important;
		margin-bottom: 0.5rem;
		background-color: $color-White !important;

		.circle_status {
			background: rgb(161, 165, 170);
			background: linear-gradient(0deg, #d88d00 0%, #fdca00 100%);
			padding: 3px;
			border-radius: 50%;
			height: 53px;
			width: 53px;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 0px 3px 6px #00000029;
		}

		.name {
			color: #000;
			font-size: 16px;
			font-family: "Gothic-Regular";
			margin-bottom: 8px;
		}

		.status {
			color: #000;
			font-size: 16px;
			font-family: "Gothic-Bold";
			display: flex;
			align-items: center;
			margin: 0px 0px 3px 0px;
		}

		.small_editar {
			border: none;
			border-radius: 4px;
			font-size: 14px;
			background-color: $color-Pantone-116-C;
			color: $color-White;
			font-family: $font-regular;
			transition: all 0.4s ease-out !important;
			padding: 9px 22px;
			margin-top: 6px;

			&:hover {
				color: $color-White;
				background-color: $color-Pantone-process-Blue;
			}
		}
	}

	& > a {
		position: relative;
		display: inline-block;
		padding: 0 10px;
		line-height: 30px;
		height: 30px;

		&:hover {
			color: $color-White;
			background: $color-Pantone-process-Blue;
			border-radius: 2px;
		}

		&[class^="trigger-"] {
			padding-right: 40px;
		}
	}

	ul {
		position: absolute;
		left: 0;
		padding-left: 0px;
		top: 60px;
		width: 100%;
		margin: 0;
		background: $color-White;
		border-radius: 2px;
		box-shadow: 0 0 5px rgba(#000, 0.15);
		display: none;
		padding: 0.4rem;

		> li {
			clear: both;
			list-style: none;
			display: block;
			padding: 11px 10px !important;
			margin: 0;
			width: 100%;
			padding: 1rem 0.7rem;
			color: $color-White;

			svg {
				margin-right: 10px;
			}

			> a {
				color: $color-Gris-Oscuro;
				font-size: 16px;
				font-family: $font-regular;
				display: flex;
				align-items: center;
				flex-wrap: nowrap;
				width: 100%;
			}

			&:hover {
				background: $color-Pantone-116-C;

				svg {
					#llenar {
						fill: $color-White !important;
					}
				}

				> a {
					color: $color-White;
				}
			}

			&:last-child {
				border-top: 1px solid $color-cccccc;

				&:hover {
					background: $color-Gris-Claro;

					svg {
						#llenar {
							fill: inherit !important;
						}
					}

					> a {
						//background: lighten($color-Verde-aprobacion, 40);
						color: $color-Pantone-200;
					}
				}
			}
		}
	}

	// .drop {
	// 	display: block;
	// 	animation: fadeInRight .3s ease;
	// 	-webkit-animation: fadeInRight .3s ease;
	// }
}

.dropdown_cont {
	z-index: 6;
}
.dropdown-menu {
	z-index: 3 !important;
}
.activ_menu {
	display: block !important;
	animation: fadeInRight 0.3s ease;
	-webkit-animation: fadeInRight 0.3s ease;
}

.menu_dashboard {
	padding: 10px 0px !important;
}

.image-cover {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 8px;
	object-fit: cover;
	object-position: center center;
}

//
// Menu Mobile Style
//

.mobile-container {
	max-width: 480px;
	margin: auto;
	background-color: #555;
	height: 500px;
	color: white;
	border-radius: 10px;
}

.topnav {
	position: relative;
	z-index: 6;

	.contec {
		display: none;
		background: #fff;
		padding-bottom: 20px;
		position: absolute;
		top: 0;
		width: 100%;
		//box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
		margin: -7px auto;
	}

	.btn_header_movile {
		display: flex;
		flex-direction: column;
		padding: 2.5rem;
		margin: 0;
		border-top: 10px solid #e3f3ff;

		#btn_login {
			padding: 17px 14px;
			margin-right: 0px !important;
			margin-bottom: 1rem;
		}

		#btn_register {
			padding: 17px 14px;
		}
	}

	a {
		color: white;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		display: block;
		height: 100%;

		&.icon {
			background: white;
			display: block;
			right: 17px;
			top: 17px;
			color: #3b3d42;
		}

		&:hover {
			background-color: #e3f3ff;
			color: #3b3d42;
		}
	}
}

.topnav {
	display: none;
}

a.li_icon_url svg {
	width: 31px;
	height: 23px;
	margin-right: 10px !important;
}

/* .input_error {
	margin-bottom: 21px;
} */
.img-l {
    width: 30px;
}

.sub-header-movil {
	.menu-tittle {
		color: $color-Pantone-process-Blue;
		font-family: $font-bold;
		font-size: 16px;
	}
}
a.dropdown-item {
    padding: 0px 6px;
}
.dropdown-cont-movil {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	z-index: 4;
	transition: all 0.2s ease-out;
	padding: 0rem 0.6rem;
	cursor: pointer;
	padding-bottom: 0.5rem;
	background-color: transparent;
	position: relative;

	#logout {
		background: #f0f0f0;
		border-radius: 4px;
		border-color: transparent;
		padding: 9px 0px !important;

		a.li_icon_url {
			display: flex;
			justify-content: center !important;
		}
	}

	p {
		font-family: $font-regular;
		margin-bottom: 0px;
	}

	.business_tittle {
		font-family: $font-bold;
	}

	&:hover {
		background-color: $color-Azul-Claro;
		border-color: $color-White;
		border-radius: 6px;
	}

	.logo_img_menu {
		border-bottom: 1px solid transparent;
		padding-bottom: 0.4rem !important;
		padding-top: 0.5rem !important;
		margin-bottom: 0.5rem;
		background-color: #e3f3ff !important;

		.circle_status {
			background: rgb(161, 165, 170);
			background: linear-gradient(0deg, #d88d00 0%, #fdca00 100%);
			padding: 3px;
			border-radius: 50%;
			height: 53px;
			width: 53px;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 0px 3px 6px #00000029;
		}

		.name {
			color: #000;
			font-size: 16px;
			font-family: "Gothic-Regular";
			margin-bottom: 8px;
		}

		.status {
			color: $color-Gris-Oscuro;
			font-size: 16px;
			font-family: "Gothic-Bold";
			display: flex;
			align-items: center;
			margin: 0px 0px 3px 0px;
		}

		.editar-mobil {
			border: none;
			border-radius: 100px;
			font-size: 14px;
			background-color: $color-White;
			padding: 0px;
		}
	}

	& > a {
		position: relative;
		display: inline-block;
		padding: 0 10px;
		line-height: 30px;
		height: 30px;

		&:hover {
			color: $color-White;
			background: $color-Pantone-process-Blue;
			border-radius: 2px;
		}

		&[class^="trigger-"] {
			padding-right: 40px;
		}
	}

	ul {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		padding-left: 0px;
		display: none;
		width: 100%;
		margin: 0;
		background: $color-White;
		border-radius: 2px;
		box-shadow: 0 0 5px rgba(#000, 0.15);

		padding: 0.4rem;

		> li {
			border-bottom: 1px solid $color-cccccc;
			clear: both;
			list-style: none;
			display: block;
			padding: 1px 10px !important;
			margin: 0;
			width: 100%;
			padding: 1rem 0.7rem;
			color: $color-White;

			.title {
				font-size: 1.1rem;
				color: $color-Pantone-116-C;
				margin: 11px 0px;
				font-family: $font-bold;
			}

			svg {
				margin-right: 10px;
			}

			> a {
				color: $color-Gris-Oscuro;
				font-size: 16px;
				font-family: $font-regular;
				display: flex;
				align-items: center;
				flex-wrap: nowrap;
				width: 100%;
				justify-content: flex-start !important;
				padding: 14px 0px !important;
			}

			&:hover {
				background: $color-Pantone-116-C;

				svg {
					#llenar {
						fill: $color-White !important;
					}
				}

				> a {
					color: $color-White;
					background: transparent;
				}
			}

			&:last-child {
				&:hover {
					background: $color-Gris-Claro;

					svg {
						#llenar {
							fill: inherit !important;
						}
					}

					> a {
						//background: lighten($color-Verde-aprobacion, 40);
						color: $color-Pantone-200;
					}
				}
			}
		}
	}

	// .drop {
	// 	display: block;
	// 	animation: fadeInRight .3s ease;
	// 	-webkit-animation: fadeInRight .3s ease;
	// }
}

#error_password,
#error_username,
#error_nit,
#error_email_forgot{
	display: none;
	color: $color-Pantone-200;
}

.form {
	position: relative;
	display: flex;
	align-items: center;

	.input-group {
		border: 1px solid #ccc;
		border-radius: 8px;
	}

	&__input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0px solid transparent;
		border-radius: 4px;
		font-size: 16px;
		color: $color-Black;
		font-family: $font-regular;
		outline: none;
		padding: 1.25rem 9px;
		background: none;
		border-left: transparent;
		border-right: transparent;

		&:hover {
			border-color: transparent;
		}

		/* Change border when input focus*/

		&:focus {
			border-color: transparent;
		}
	}

	&__label {
		position: absolute;
		left: 45px;
		top: 35%;
		padding: 0 0.5rem;
		color: #000;
		cursor: text;
		transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
		z-index: 5;
		font-size: 14px;
		background-color: #fff;
		font-family: $font-bold;
	}

	span.input-group-text {
		background: #fff;
		border: none;
	}

	button {
		margin: 0px;
		border: none;
		background: transparent;
		color: $color-Pantone-process-Blue;
		width: 100%;
		text-align: end;
		padding: 7px 0px;
	}
}
.form__label {
	position: absolute;
	left: 45px;
	top: 35%;
	padding: 0 0.5rem;
	color: #000;
	cursor: text;
	transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
	z-index: 5;
	font-size: 14px;
	background-color: #fff;
	font-family: Gothic-Bold;
}

.form__label.single {
	left: 17px !important;
}

.button_modal {
	margin: 0px;
	border: none;
	background: transparent;
	color: $color-Pantone-process-Blue;
	margin-top: 6px;
	text-align: end;
	padding: 7px 0px;
}

/*
  1. When the input is in the focus state
  reduce the size of the label and move upwards

  2. Keep label state when content is in input field
  */

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
	top: -0.5rem;
	left: 2.6rem;
	font-size: 14px;
}

sup {
	color: $color-Pantone-200;
	font-family: $font-bold;
	font-size: 17px;
	top: -4px;
}

.dropdown-toggle::after {
	vertical-align: 9%;
}

.cita_btn {
	border-radius: 4px;
	background-color: $color-Pantone-116-C;
	color: $color-White;
	font-family: $font-bold;
	font-size: 14px;

	i {
		margin-right: 7px;
	}
}

.login_body {
	padding: 0px 30px 38px 30px !important;

	.title {
		color: $color-Pantone-116-C;
		font-size: 1.9rem;
		font-family: $font-bold-maven;
		font-weight: bolder;
	}

	.desc {
		font-family: $font-regular;
		font-size: 16px;
		color: $color-Gris-Oscuro;
		margin-bottom: 30px;
		line-height: normal;

		.blue-text {
			color: $color-Pantone-116-C;
		}
	}

	.login_footer {
		text-align: center;

		button {
			font-size: 15px;
			background-color: $color-Pantone-process-Blue;
			border-radius: 4px;
			color: $color-White;
			padding: 12px 79px;
			font-family: $font-bold;
		}

		P {
			color: $color-Gris-Claro-2;

			a {
				cursor: pointer;
				color: $color-Gris-Claro-2;
			}
		}
	}
}

.toast {
	display: none !important;
	z-index: -7 !important;
	opacity: 0 !important;
}

//Mediaquery

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	.logo {
		width: 250px;
		height: 49px;
		padding-left: 0px;
	}

	.menu_pc,
	.dropdown_cont {
		display: none !important;
	}

	.topnav {
		display: block;

		a {
			display: flex;
			justify-content: center;
		}
	}

	.row {
		width: 100% !important;
		margin-left: 0px !important;
		padding-right: 0px !important;
	}

	.container,
	.container-sm {
		max-width: 100% !important;
	}

	.title_tab {
		font-family: $font-bold;
		font-size: 15px;
		margin-bottom: 1rem;
		display: none;
		margin-left: 6%;
		margin-right: 6%;
	}

	.sub-header,
	.pt-6,
	.btn_header {
		display: none;
	}

	.col-lg-6.back {
		order: 1;
		margin-bottom: 14px;
	}

	.site-footer {
		.top_footer {
			padding: 1¿2rem 0.1rem;

			.logo_footer_2 {
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					width: 220px;
				}
			}
		}

		.footer {
			padding: 0px !important;

			.bg_gris {
				background-color: $color-Gris-Oscuro;
				padding: 1.5rem 0.9rem;
				margin-bottom: 1rem;
			}

			.col-lg-2 {
				padding: 1.5rem;
			}
		}

		.bottom_footer {
			display: none;
		}

		.bottom_footer_mobile {
			background-color: #d8dadd;

			.list_footer {
				margin-bottom: 0px;
				padding: 1rem 2rem;

				li {
					font-size: 15px;
					padding: 3px 31px;
					font-family: $font-regular;
					margin: 5px;

					a {
						color: $color-Black;
					}

					&::marker {
						color: #fff;
					}
				}
			}
		}
	}

	.icon_secction {
		display: none;
	}

	body {
		background-color: #f7f8f8;
	}

	.right_bar {
		width: 100%;
	}

	header {
		background: $color-f7f8f8;
	}

	.logo-center {
		text-align: center;
	}

	a.dropdown-item {
		width: 100%;
		color: #6b6d71;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	a.li_icon_url svg {
		width: 31px;
		height: 23px;
		margin-right: 10px !important;
	}

	.code-input {
		width: 40% !important;
	}

	.cel-input {
		width: 55% !important;
		padding-right: 0px !important;
	}

	.order_1 {
		order: 1;
	}

	.order_2 {
		order: 2;
	}

	.order_3 {
		order: 3;
	}

	.order_4 {
		order: 4;
	}

	.order_5 {
		order: 5;
	}

	.order_6 {
		order: 6;
	}
}

.resalte {
	font-family: $font-bold;
	font-size: 13px;
}

.hidden-input {
	z-index: -20 !important;
	opacity: 0;
	height: 46px;
}

.iti--separate-dial-code .iti__selected-flag {
	width: 130px !important;
	height: 42px;
	background: #fff !important;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.iti {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 100%;
}

.iti__arrow {
	position: absolute;
	top: 45%;
	right: 6%;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid #555;
}

.iti__country-list {
	z-index: 6;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	.logo {
		width: 250px;
		height: 49px;
		padding-left: 0px;
	}

	.menu_pc,
	.dropdown_cont {
		display: none !important;
	}

	.topnav {
		display: block;

		a {
			display: flex;
			justify-content: center;
		}
	}

	.row {
		width: 100% !important;
		margin-left: 0px !important;
		padding-right: 0px !important;
	}

	.container,
	.container-sm {
		max-width: 90% !important;
	}

	.sub-header,
	.pt-6,
	.btn_header {
		display: none;
	}

	.body_login {
		padding: 0rem;
		height: auto !important;
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: hidden;
		align-items: center;
		padding-bottom: 2rem;

		.row.g-5 {
			.col-sm-12.col-md-12.col-lg-6 {
				padding: 0px !important;
			}
		}

		.pt-3 {
			padding-top: 2rem !important;
		}
	}

	.main_registre {
		.body {
			padding: 2rem 0rem;
			margin-top: 17rem;
		}
	}

	.continue {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 2rem;
	}

	.continue .continue,
	.continue .cancel {
		width: 100%;
		text-align: center !important;
		padding: 1.5rem;
	}

	.continue .cancel {
		order: 1;
	}

	.continue .continue {
		margin-bottom: 14px;
		display: flex;
		align-items: center;
		margin-top: 0;
	}

	.col-lg-6.back {
		order: 1;
		margin-bottom: 14px;
	}

	button.back_btn {
		width: 100%;
		text-align: center !important;
		padding: 1.5rem !important;
		order: 2;
		margin: 0px !important;
	}

	.step_registre {
		padding: 0rem;
	}

	.title_tab {
		font-family: $font-bold;
		font-size: 15px;
		margin-bottom: 1rem;
		display: none;
		margin-left: 6%;
		margin-right: 6%;
	}

	.site-footer {
		.top_footer {
			padding: 1¿2rem 0.1rem;

			.logo_footer_2 {
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					width: 220px;
				}
			}
		}

		.footer {
			padding: 0px !important;

			.bg_gris {
				background-color: $color-Gris-Oscuro;
				padding: 1.5rem 0.9rem;
				margin-bottom: 1rem;
			}

			.col-lg-2 {
				padding: 1.5rem;
			}
		}

		.bottom_footer {
			display: none;
		}

		.bottom_footer_mobile {
			background-color: #d8dadd;

			.list_footer {
				margin-bottom: 0px;
				padding: 1rem 2rem;

				li {
					font-size: 15px;
					padding: 3px 31px;
					font-family: $font-regular;
					margin: 5px;

					a {
						color: $color-Black;
					}

					&::marker {
						color: #fff;
					}
				}
			}
		}
	}

	.icon_secction {
		display: none;
	}

	body {
		background-color: #f7f8f8;
	}

	.right_bar {
		width: 100%;
	}

	.logo-center {
		text-align: center;
	}

	.code-input {
		width: 40% !important;
	}

	.cel-input {
		width: 55% !important;
		padding-right: 0px !important;
	}

	.order_1 {
		order: 1;
	}

	.order_2 {
		order: 2;
	}

	.order_3 {
		order: 3;
	}

	.order_4 {
		order: 4;
	}

	.order_5 {
		order: 5;
	}

	.order_6 {
		order: 6;
	}
}

select,
.ts-control {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' id='Grupo_1428' data-name='Grupo 1428' width='19.198' height='11.912' viewBox='0 0 19.198 11.912'><g id='Grupo_1417' data-name='Grupo 1417' transform='translate(0 2.288)'><path id='Trazado_1893' data-name='Trazado 1893' d='M1006.623,705.634a1.337,1.337,0,0,1-.933-.379l-7.1-6.874a1.391,1.391,0,0,1-.047-1.944,1.337,1.337,0,0,1,1.913-.047l6.169,5.971,6.169-5.971a1.337,1.337,0,0,1,1.913.047,1.391,1.391,0,0,1-.047,1.944l-7.1,6.874A1.337,1.337,0,0,1,1006.623,705.634Z' transform='translate(-998.168 -696.009)'/></g><path id='Trazado_1847' data-name='Trazado 1847' d='M469.031,357.48a1.144,1.144,0,1,1-1.144,1.144,1.145,1.145,0,0,1,1.144-1.144' transform='translate(-450.976 -357.48)' fill-rule='evenodd' class='__web-inspector-hide-shortcut__'/></svg>") !important;
	background-repeat: no-repeat !important;
	background-position-x: 96% !important;
	background-position-y: 50% !important;
	border: 1px solid #dfdfdf;
	padding: 4px 0.7rem !important;
	font-size: 15px;
	padding-right: 2.4rem !important;
	height: 46px;
	font-family: $font-regular !important;
	-webkit-appearance: none !important;
	appearance: none !important;
	-moz-appearance: none !important;
}

select {
	&:hover {
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32' height='32' viewBox='0 0 32 32'> <defs> <linearGradient id='linear-gradient' x1='0.5' x2='0.5' y2='1' gradientUnits='objectBoundingBox'> <stop offset='0' stop-color='#005ca4'/> <stop offset='1' stop-color='#008cce'/> </linearGradient> <linearGradient id='gradient_1-2' x1='0.5' x2='0.5' y2='1' gradientUnits='objectBoundingBox'> <stop offset='0' stop-color='#d88d00'/> <stop offset='1' stop-color='#edc500'/> </linearGradient> </defs> <g id='icon_navigation_expand_more_24px' data-name='icon/navigation/expand_more_24px' transform='translate(0 0)'> <rect id='Boundary' width='32' height='32' transform='translate(0 0)' fill='none'/> <g id='Grupo_1428' data-name='Grupo 1428' transform='translate(6 10.001)'> <g id='Grupo_1417' data-name='Grupo 1417' transform='translate(0 2.288)'> <path id='Trazado_1893' data-name='Trazado 1893' d='M1006.623,705.634a1.337,1.337,0,0,1-.933-.379l-7.1-6.874a1.391,1.391,0,0,1-.047-1.944,1.337,1.337,0,0,1,1.913-.047l6.169,5.971,6.169-5.971a1.337,1.337,0,0,1,1.913.047,1.391,1.391,0,0,1-.047,1.944l-7.1,6.874A1.337,1.337,0,0,1,1006.623,705.634Z' transform='translate(-998.168 -696.009)' fill='url(#gradient_1)'/> </g> <path id='Trazado_1847' data-name='Trazado 1847' d='M469.031,357.48a1.144,1.144,0,1,1-1.144,1.144,1.145,1.145,0,0,1,1.144-1.144' transform='translate(-450.976 -357.48)' fill-rule='evenodd' fill='url(#gradient_1-2)'/> </g> </g> </svg>");
	}
}

.ts-control {
	&:hover {
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32' height='32' viewBox='0 0 32 32'> <defs> <linearGradient id='linear-gradient' x1='0.5' x2='0.5' y2='1' gradientUnits='objectBoundingBox'> <stop offset='0' stop-color='#005ca4'/> <stop offset='1' stop-color='#008cce'/> </linearGradient> <linearGradient id='gradient_1-2' x1='0.5' x2='0.5' y2='1' gradientUnits='objectBoundingBox'> <stop offset='0' stop-color='#d88d00'/> <stop offset='1' stop-color='#edc500'/> </linearGradient> </defs> <g id='icon_navigation_expand_more_24px' data-name='icon/navigation/expand_more_24px' transform='translate(0 0)'> <rect id='Boundary' width='32' height='32' transform='translate(0 0)' fill='none'/> <g id='Grupo_1428' data-name='Grupo 1428' transform='translate(6 10.001)'> <g id='Grupo_1417' data-name='Grupo 1417' transform='translate(0 2.288)'> <path id='Trazado_1893' data-name='Trazado 1893' d='M1006.623,705.634a1.337,1.337,0,0,1-.933-.379l-7.1-6.874a1.391,1.391,0,0,1-.047-1.944,1.337,1.337,0,0,1,1.913-.047l6.169,5.971,6.169-5.971a1.337,1.337,0,0,1,1.913.047,1.391,1.391,0,0,1-.047,1.944l-7.1,6.874A1.337,1.337,0,0,1,1006.623,705.634Z' transform='translate(-998.168 -696.009)' fill='url(#gradient_1)'/> </g> <path id='Trazado_1847' data-name='Trazado 1847' d='M469.031,357.48a1.144,1.144,0,1,1-1.144,1.144,1.145,1.145,0,0,1,1.144-1.144' transform='translate(-450.976 -357.48)' fill-rule='evenodd' fill='url(#gradient_1-2)'/> </g> </g> </svg>");
	}
}

.multi .ts-control {
	height: auto !important;
}

select,
textarea {
	font-family: $font-regular !important;
	-webkit-appearance: none !important;
	appearance: none !important;
	-moz-appearance: none !important;
	border: none;
	outline: none;
	padding: 7px 20px;
	color: $color-Black;
	border: 1px solid $color-cccccc;
	width: 100%;
	border-radius: 4px;
	background-color: $color-White;

	&:focus {
		outline: none;
	}

	&:active {
		outline: none;
	}

	header {
		background: $color-f7f8f8;
	}

	a.dropdown-item {
		width: 100%;
		color: #6b6d71;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	a.li_icon_url svg {
		width: 31px;
		height: 23px;
		margin-right: 10px !important;
	}
}

.btn {
	transition: all 0.3s ease-out;

	&:hover {
		transform: scale(0.98);
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
	.logo {
		width: 250px;
		height: 49px;
		padding-left: 0px;
	}

	.menu_pc,
	.dropdown_cont {
		display: none !important;
	}

	.topnav {
		display: block;

		a {
			display: flex;
			justify-content: center;
		}
	}

	.row {
		width: 100% !important;
		margin-left: 0px !important;
		padding-right: 0px !important;
	}

	.sub-header,
	.pt-6,
	.btn_header {
		display: none;
	}

	.pt-3 {
		padding-top: 2rem !important;
	}

	.body_login {
		padding: 0rem;
		height: auto !important;
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: hidden;
		align-items: center;
		padding-bottom: 2rem;

		.row.g-5 {
			.col-sm-12.col-md-12.col-lg-6 {
				padding: 0px !important;
			}
		}
	}

	.step_registre {
		padding: 0rem;
	}

	.site-footer {
		.top_footer {
			padding: 1¿2rem 0.1rem;

			.logo_footer_2 {
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					width: 220px;
				}
			}
		}

		.footer {
			padding: 0px !important;

			.bg_gris {
				background-color: $color-Gris-Oscuro;
				padding: 1.5rem 0.9rem;
				margin-bottom: 1rem;
			}

			.col-lg-2 {
				padding: 1.5rem;
			}
		}

		.bottom_footer {
			display: none;
		}

		.bottom_footer_mobile {
			background-color: #d8dadd;

			.list_footer {
				margin-bottom: 0px;
				padding: 1rem 2rem;

				li {
					font-size: 15px;
					padding: 3px 31px;
					font-family: $font-regular;
					margin: 5px;

					a {
						color: $color-Black;
					}

					&::marker {
						color: #fff;
					}
				}
			}
		}
	}

	header {
		background: $color-f7f8f8;
	}

	.logo-center {
		text-align: center;
	}

	a.dropdown-item {
		width: 100%;
		color: #6b6d71;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	a.li_icon_url svg {
		width: 31px;
		height: 23px;
		margin-right: 10px !important;
	}

	.code-input {
		width: 40% !important;
	}

	.cel-input {
		width: 55% !important;
		padding-right: 0px !important;
	}

	.order_1 {
		order: 1;
	}

	.order_2 {
		order: 2;
	}

	.order_3 {
		order: 3;
	}

	.order_4 {
		order: 4;
	}

	.order_5 {
		order: 5;
	}

	.order_6 {
		order: 6;
	}
}

// Fin Mediaquery

@supports (object-fit: cover) {
	.profile img {
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

// Fin Estilo Menu





