/* TYPOGRAPHY */
/* Google Fonts */
@font-face {
  font-family: "century_gothicregular";
  src: url("../webfonts/gothic-webfont.woff2") format("woff2"), url("../webfonts/gothic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Maven-Medium;
  src: url("../font/MavenPro-Medium.ttf");
}
@font-face {
  font-family: Maven-Regular;
  src: url("../font/MavenPro-Regular.ttf");
}
@font-face {
  font-family: Maven-Bold;
  src: url("../font/MavenPro-Bold.ttf");
}
@font-face {
  font-family: Gothic-Regular;
  src: url("../font/Century-Gothic.otf");
}
@font-face {
  font-family: Gothic-Bold;
  src: url("../font/Century-Gothic-Bold.otf");
}