@charset "UTF-8";
@font-face {
  font-family: Maven-Medium;
  src: url("../font/MavenPro-Medium.ttf");
}
@font-face {
  font-family: Maven-Regular;
  src: url("../font/MavenPro-Regular.ttf");
}
@font-face {
  font-family: Maven-Bold;
  src: url("../font/MavenPro-Bold.ttf");
}
@font-face {
  font-family: Gothic-Regular;
  src: url("../font/Century-Gothic.otf");
}
@font-face {
  font-family: Gothic-Bold;
  src: url("../font/Century-Gothic-Bold.otf");
}
/* Font/text values */
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #6a6d71 rgba(0, 0, 0, 0);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}
*::-webkit-scrollbar:hover {
  width: 7px;
}

img.me-2 {
  width: 20px !important;
}

.form-control:focus {
  box-shadow: none !important;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: #6a6d71;
  border-radius: 100px;
  border: 0px solid #ffffff;
}

.bg-danger {
  background: #ba0c2f !important;
}

a {
  text-decoration: none !important;
}
a svg.ext {
  display: none;
}

.container {
  max-width: 1400px !important;
}

.site-footer {
  background-color: #fff !important;
  padding: 0px !important;
}
.site-footer .top_footer {
  padding: 1rem 0.1rem;
  background-color: #F2F2F2;
}
.site-footer .top_footer .logo_footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.site-footer .top_footer .logo_footer img {
  width: 450px;
}
.site-footer .top_footer .logo_footer_2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.site-footer .top_footer .logo_footer_2 img {
  width: 250px;
}
.site-footer .footer {
  background-color: #005ca4;
}
.site-footer .footer .bg_gris {
  background-color: #3b3d42;
}
.site-footer .anuncio {
  margin: 14px 21px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.site-footer .anuncio:hover {
  transform: scale(1.03);
}
.site-footer .anuncio .img {
  width: 20px;
  height: 20px;
  margin-right: 9px;
}
.site-footer .anuncio .description .title {
  color: #fdca00;
  font-size: 12px;
  font-family: "Gothic-Regular";
}
.site-footer .anuncio .description .text {
  color: #ffffff;
  font-size: 13px;
}
.site-footer h6 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 16px;
  font-family: Gothic-Bold;
  margin-left: 5px;
}
.site-footer .social-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
}
.site-footer .social-buttons__button {
  margin: 10px 5px 0;
}
.site-footer .bottom_footer {
  display: flex;
  justify-content: center;
  background-color: #D8DADD;
}
.site-footer .bottom_footer .link {
  font-size: 15px;
  padding: 3px 31px;
  font-family: Gothic-Regular;
  margin: 5px;
}
.site-footer .bottom_footer .link a {
  color: #000000;
}
.site-footer .bottom_footer .link.center {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
.site-footer .bottom_footer .link.center a {
  color: #000000;
}
.site-footer .social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 35px;
  height: 35px;
  text-decoration: none;
  border-radius: 4px;
  background: #0085ca;
  text-align: center;
}
.site-footer .social-button::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 4px;
  transition: 0.3s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.site-footer .social-button:focus, .site-footer .social-button:hover {
  color: #fff;
}
.site-footer .social-button:focus::after, .site-footer .social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}
.site-footer .social-button i,
.site-footer .social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.site-footer .social-button i {
  font-size: 28px;
  color: #fff;
}
.site-footer .social-button svg {
  height: 80%;
  width: 80%;
}
.site-footer .social-button--mail {
  color: #0072c6;
}
.site-footer .social-button--mail::after {
  background: #0072c6;
}
.site-footer .social-button--facebook {
  color: #3b5999;
}
.site-footer .social-button--facebook::after {
  background: #3b5999;
}
.site-footer .social-button--linkedin {
  color: #0077b5;
}
.site-footer .social-button--linkedin::after {
  background: #0077b5;
}
.site-footer .social-button--instagram {
  color: #6e5494;
}
.site-footer .social-button--instagram::after {
  background: #6e5494;
}
.site-footer .social-button--codepen {
  color: #212121;
}
.site-footer .social-button--codepen::after {
  background: #212121;
}
.site-footer .social-button--steam {
  color: #7da10e;
}
.site-footer .social-button--steam::after {
  background: #7da10e;
}
.site-footer .social-button--snapchat {
  color: #eec900;
}
.site-footer .social-button--snapchat::after {
  background: #eec900;
}
.site-footer .social-button--twitter {
  color: #55acee;
}
.site-footer .social-button--twitter::after {
  background: #55acee;
}
.site-footer .social-button--youtube {
  color: #c12127;
}
.site-footer .social-button--youtube::after {
  background: #c12127;
}

div#main {
  padding-bottom: 60px;
}

.toltip_i {
  position: relative;
}
.toltip_i .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 8;
}
.toltip_i .tooltiptext_error {
  visibility: hidden;
  width: 300px;
  background-color: #ba0c2f;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 8;
  font-family: "Gothic-Regular";
  font-size: 14px;
  right: 1rem;
}
.toltip_i .tooltiptext_yotube {
  visibility: hidden;
  width: 420px;
  background-color: #000000;
  color: #ffffff;
  text-align: start;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 8;
  font-family: "Gothic-Regular";
  font-size: 14px;
  right: 1.5rem;
}
.toltip_i .tooltiptext_yotube .note {
  margin-bottom: 0px;
  color: #fdca00;
  font-size: 13px;
  font-family: Gothic-Bold;
}
.toltip_i .tooltiptext_menu {
  visibility: hidden;
  width: 100px;
  background-color: #3b3d42;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  padding: 6px;
  position: absolute;
  z-index: 8;
  bottom: -15px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toltip_i .tooltiptext_menu strong {
  font-family: Gothic-Bold;
  margin-left: 3px;
}
.toltip_i:hover .tooltiptext, .toltip_i:hover .tooltiptext_error, .toltip_i:hover .tooltiptext_yotube, .toltip_i:hover .tooltiptext_menu {
  visibility: visible;
}

.status_icon {
  width: 16px;
  height: 16px;
  margin-right: 4px !important;
  transform: rotate(90deg);
  margin-bottom: 0px !important;
}
.status_icon .main-stop {
  stop-color: #FDCA00;
}
.status_icon .alt-stop {
  stop-color: #D88D00;
}

.logo {
  width: 270px;
  height: 49px;
  padding-left: 19px;
}

.btn-outline {
  border: 1px solid #005ca4 !important;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 11px;
  margin-right: 10px;
  font-family: Gothic-Bold;
}
.btn-outline:hover {
  color: #ffffff !important;
  border-color: #0085ca !important;
  background-color: #0085ca !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-outline-d {
  border: 1px solid #005ca4 !important;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  background-color: #005ca4 !important;
  padding: 8px 11px;
  color: #ffffff !important;
  font-family: Gothic-Bold;
}
.btn-outline-d:hover {
  color: #ffffff;
  background-color: #005ca4 !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sub-header {
  background-color: #F4F4F4;
}
.sub-header a.dropdown-item {
  padding: 5px 11px;
}
.sub-header a.dropdown-item span {
  font-family: Maven-Regular;
  font-size: 18px;
  font-weight: 200;
}
.sub-header ul.dropdown-menu.show {
  min-width: 100%;
  padding: 5px 0px;
  inset: -3px auto auto 0px !important;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: none;
  border-top: 1px solid #000;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.sub-header .btn.btn-secondary.dropdown-toggle {
  background-color: #f7f8f8;
  border: none;
  box-shadow: none;
  color: #000000;
  font-size: 18px;
  font-weight: 200;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: Maven-Regular;
  padding: 9px 10px;
  border-bottom: 1px solid #000000;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.sub-header .btn.btn-secondary.dropdown-toggle i {
  margin-right: 8px;
  font-size: 25px;
}
.sub-header a.dropdown-item {
  border: none;
  box-shadow: none;
  color: #000000;
  font-size: 18px;
  font-weight: 200;
  display: flex;
  font-family: Maven-Regular;
  align-items: center;
}
.sub-header a.dropdown-item i {
  margin-right: 8px;
  font-size: 25px;
}
.sub-header button.btn.btn-secondary.dropdown-toggle.show {
  background-color: #ffffff !important;
}
.sub-header .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "\ea4a";
  font-family: "boxicons";
  border: none !important;
}

.row {
  width: 100% !important;
  margin-left: 0px !important;
  padding-right: 0.5rem;
}

.menu-left {
  width: 94%;
  left: 18px;
  height: 0px;
  border-right: 45px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 45px solid #5C5C5C;
  cursor: pointer;
  z-index: 4;
  position: absolute;
  transition: all 0.5s ease-out;
}
.menu-left:hover {
  transition: all 0.5s ease-out;
  border-right: 45px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 45px solid #000000;
}
.menu-left .menu-content {
  padding: 6px 67px 6px 18px;
  width: 305px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 45px;
  color: #ffffff;
  justify-content: center;
}
.menu-left .menu-content i {
  font-size: 30px;
  margin-right: 20px;
}
.menu-left .menu-content p {
  margin: 0px;
  font-family: Maven-Medium;
}

.search_box {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
.search_box input {
  width: 100%;
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 7px 20px;
  color: #3b3d42;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 4px 12px;
  font-family: Gothic-Regular;
}
.search_box input:focus {
  border: none;
  outline: none;
  width: 95%;
}
.search_box input:active {
  border: none;
  outline: none;
}
.search_box .search_btn {
  background-color: #f7f8f8;
  border: none;
  outline: none;
  border: none;
  outline: none;
  padding: 4px 8px;
  font-size: 20px;
  border-radius: 4px;
  position: absolute;
  right: 0;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.search_box .search_btn:focus {
  border: none;
  outline: none;
}
.search_box .search_btn:active {
  border: none;
  outline: none;
}
.search_box .search_btn:hover {
  background-color: #0085ca;
  color: #ffffff;
}
.search_box .search_btn:hover #Trazado_23 {
  fill: #ffffff;
}

.btn-check:checked + .btn:focus,
.btn-check:active + .btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.show:focus {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.left_bar {
  position: absolute;
  position: absolute;
  left: 0rem;
  top: 3rem;
  background: #f4f4f4;
  padding-top: 2rem;
  height: calc(100vh - 7.1rem);
  width: 100%;
  z-index: 3;
  padding-left: 1.8rem;
  padding-right: 0.5rem;
  padding-bottom: 1.8rem;
  transition: all 0.5s ease-out;
}
.left_bar .bar_content {
  overflow: auto;
  height: 100%;
  padding-right: 0.5rem;
}

.right_bar {
  position: absolute;
  right: 0rem;
  background: #f4f4f4;
  padding-top: 2rem;
  height: 88%;
  width: 500px;
  z-index: 3;
  padding-left: 1.8rem;
  padding-right: 0.5rem;
  padding-bottom: 1.8rem;
  transition: all 0.5s ease-out;
  bottom: 0;
}
.right_bar .bar_content {
  overflow: auto;
  height: 100%;
  width: 100%;
  padding-right: 0.5rem;
  word-break: break-all;
}
.right_bar .bar_content .title {
  font-family: "Gothic-Bold";
  font-size: 1.5rem;
}
.right_bar .bar_content .noticie {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  background-color: #ffffff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0.6rem;
  border-left: 4px solid #005ca4;
}
.right_bar .bar_content .noticie .notici_img {
  width: 14%;
  display: flex;
  align-items: center;
}
.right_bar .bar_content .noticie .notici_img img {
  border-radius: 50%;
  height: 49px;
  width: 49px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}
.right_bar .bar_content .noticie .noticie_content {
  width: 64%;
}
.right_bar .bar_content .noticie .noticie_content .title {
  font-family: Gothic-Bold;
  margin-bottom: 4px;
  font-size: 14px;
}
.right_bar .bar_content .noticie .noticie_content .description {
  font-size: 11px;
  margin: 0px;
}
.right_bar .bar_content .noticie .time_content {
  width: 19%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-end;
}
.right_bar .bar_content .noticie .time_content .time {
  text-align: end;
  margin-bottom: 1%;
}
.right_bar .bar_content .noticie .time_content .more {
  font-family: "Gothic-Bold";
  text-align: center;
  color: #ccc;
  font-size: 21px;
  margin: 0px;
}

div#page {
  position: relative;
}

.icon_secction {
  display: flex;
  justify-content: flex-end;
  border-right: 1px solid #cccccc;
  padding-right: 0.6rem;
}
.icon_secction .icono {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 70px;
  align-items: center;
  margin: 0rem 0.2rem;
  position: relative;
  padding-bottom: 4px;
  cursor: pointer;
}
.icon_secction .icono .img_icon {
  transition: all 0.5s ease-out;
}
.icon_secction .icono .img_icon svg {
  height: 27px !important;
  width: 27px !important;
}
.icon_secction .icono .titlle {
  text-align: center;
  line-height: normal;
  font-size: 12px;
  font-family: Gothic-Regular;
}
.icon_secction .icono .badge {
  font-size: 9px !important;
  font-family: Gothic-Regular;
  top: 8px !important;
}
.icon_secction .icono:hover .img_icon {
  transform: rotateZ(-13deg) scale(1.08);
}
.icon_secction .icono:hover .img_icon svg {
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 3px;
  border-radius: 5px;
}
.icon_secction .icono:hover::after {
  background: #005ca4;
  height: 3px;
  border-radius: 12px;
  content: "";
  display: block;
  width: 100%;
}
.icon_secction .icono::after {
  transition: all 0.5s ease-out;
  background: white;
  height: 3px;
  border-radius: 12px;
  content: "";
  display: block;
  width: 100%;
  margin-top: 0.4rem;
  position: absolute;
  bottom: -6px;
}

.logo {
  cursor: pointer;
}

.active_dropdown {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(0px, 45px);
  display: block;
  min-width: 100%;
  border: none;
  border-top: 1px solid #cccccc;
  border-radius: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.dropdown-cont {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #005ca4;
  display: flex;
  align-items: center;
  z-index: 4;
  transition: all 0.2s ease-out;
  cursor: pointer;
  padding-left: 0.6rem;
}
.dropdown-cont p {
  font-family: Gothic-Regular;
  margin-bottom: 0px;
}
.dropdown-cont .business_tittle {
  font-family: Gothic-Bold;
}
.dropdown-cont:hover {
  background-color: #e3f3ff;
  border-color: #ffffff;
  border-radius: 6px;
}
.dropdown-cont .logo_img_menu {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 0.4rem !important;
  padding-top: 0.5rem !important;
  margin-bottom: 0.5rem;
  background-color: #ffffff !important;
}
.dropdown-cont .logo_img_menu .circle_status {
  background: rgb(161, 165, 170);
  background: linear-gradient(0deg, #D88D00 0%, #FDCA00 100%);
  padding: 3px;
  border-radius: 50%;
  height: 53px;
  width: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}
.dropdown-cont .logo_img_menu .name {
  color: #000;
  font-size: 16px;
  font-family: "Gothic-Regular";
}
.dropdown-cont .logo_img_menu .status {
  color: #000;
  font-size: 16px;
  font-family: "Gothic-Bold";
  display: flex;
  align-items: center;
}
.dropdown-cont .logo_img_menu .small_editar {
  border: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 1px 16px;
  background-color: #005ca4;
  color: #ffffff;
  font-family: Gothic-Regular;
  transition: all 0.4s ease-out !important;
  padding: 4px 22px;
  margin-top: 6px;
}
.dropdown-cont .logo_img_menu .small_editar:hover {
  color: #ffffff;
  background-color: #0085ca;
  box-shadow: rgba(149, 157, 165, 0.403) 0px 8px 24px;
}
.dropdown-cont > a {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  line-height: 30px;
  height: 30px;
}
.dropdown-cont > a:hover {
  color: #ffffff;
  background: #0085ca;
  border-radius: 2px;
}
.dropdown-cont > a[class^=trigger-] {
  padding-right: 40px;
}
.dropdown-cont ul {
  position: absolute;
  left: 0;
  padding-left: 0px;
  top: 60px;
  width: 100%;
  margin: 0;
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: none;
  padding: 0.4rem;
}
.dropdown-cont ul > li {
  clear: both;
  list-style: none;
  display: block;
  padding: 9px 10px !important;
  margin: 0;
  width: 100%;
  padding: 1rem 0.7rem;
  color: #ffffff;
}
.dropdown-cont ul > li svg {
  margin-right: 10px;
}
.dropdown-cont ul > li > a {
  color: #000000;
  font-size: 16px;
  font-family: Gothic-Regular;
}
.dropdown-cont ul > li:hover {
  background: #005ca4;
}
.dropdown-cont ul > li:hover svg #llenar {
  fill: #ffffff !important;
}
.dropdown-cont ul > li:hover > a {
  color: #ffffff;
}
.dropdown-cont ul > li:last-child {
  border-top: 1px solid #cccccc;
}
.dropdown-cont ul > li:last-child:hover {
  background: #f0f0f0;
}
.dropdown-cont ul > li:last-child:hover svg #llenar {
  fill: inherit !important;
}
.dropdown-cont ul > li:last-child:hover > a {
  color: #ba0c2f;
}

.drop.active {
  display: block;
  animation: fadeInRight 0.3s ease;
  -webkit-animation: fadeInRight 0.3s ease;
}

.menu_dashboard {
  padding: 10px 0px !important;
}

.image-cover {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

@media (max-width: 575.98px) {
  .container,
.container-sm {
    max-width: 100% !important;
  }
  .title_tab {
    font-family: Gothic-Bold;
    font-size: 15px;
    margin-bottom: 1rem;
    display: none;
    margin-left: 6%;
    margin-right: 6%;
  }
  .sub-header,
.pt-6,
.btn_header {
    display: none;
  }
  .col-lg-6.back {
    order: 1;
    margin-bottom: 14px;
  }
  .site-footer .top_footer {
    padding: 1¿2rem 0.1rem;
  }
  .site-footer .top_footer .logo_footer_2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .site-footer .top_footer .logo_footer_2 img {
    width: 220px;
  }
  .site-footer .footer {
    padding: 0px;
  }
  .site-footer .footer .bg_gris {
    background-color: #3b3d42;
    padding: 1.5rem 0.9rem;
    margin-bottom: 1rem;
  }
  .site-footer .footer .col-lg-2 {
    padding: 1.5rem;
  }
  .site-footer .bottom_footer {
    display: none;
  }
  .site-footer .bottom_footer_mobile {
    background-color: #D8DADD;
  }
  .site-footer .bottom_footer_mobile .list_footer {
    margin-bottom: 0px;
    padding: 1rem 2rem;
  }
  .site-footer .bottom_footer_mobile .list_footer li {
    font-size: 15px;
    padding: 3px 31px;
    font-family: Gothic-Regular;
    margin: 5px;
  }
  .site-footer .bottom_footer_mobile .list_footer li a {
    color: #000000;
  }
  .site-footer .bottom_footer_mobile .list_footer li::marker {
    color: #fff;
  }
  .icon_secction {
    display: none;
  }
  body {
    background-color: #F7F8F8;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .container,
.container-sm {
    max-width: 90% !important;
  }
  .sub-header,
.pt-6,
.btn_header {
    display: none;
  }
  .body_login {
    padding: 0rem;
    height: auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    padding-bottom: 2rem;
  }
  .body_login .row.g-5 .col-sm-12.col-md-12.col-lg-6 {
    padding: 0px !important;
  }
  .body_login .pt-3 {
    padding-top: 2rem !important;
  }
  .main_registre .body {
    padding: 2rem 0rem;
    margin-top: 17rem;
  }
  .continue {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
  }
  .continue .continue,
.continue .cancel {
    width: 100%;
    text-align: center !important;
    padding: 1.5rem;
  }
  .continue .cancel {
    order: 1;
  }
  .continue .continue {
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    margin-top: 0;
  }
  .col-lg-6.back {
    order: 1;
    margin-bottom: 14px;
  }
  button.back_btn {
    width: 100%;
    text-align: center !important;
    padding: 1.5rem !important;
    order: 2;
    margin: 0px !important;
  }
  .step_registre {
    padding: 0rem;
  }
  .title_tab {
    font-family: Gothic-Bold;
    font-size: 15px;
    margin-bottom: 1rem;
    display: none;
    margin-left: 6%;
    margin-right: 6%;
  }
  .site-footer .top_footer {
    padding: 1¿2rem 0.1rem;
  }
  .site-footer .top_footer .logo_footer_2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .site-footer .top_footer .logo_footer_2 img {
    width: 220px;
  }
  .site-footer .footer {
    padding: 0px;
  }
  .site-footer .footer .bg_gris {
    background-color: #3b3d42;
    padding: 1.5rem 0.9rem;
    margin-bottom: 1rem;
  }
  .site-footer .footer .col-lg-2 {
    padding: 1.5rem;
  }
  .site-footer .bottom_footer {
    display: none;
  }
  .site-footer .bottom_footer_mobile {
    background-color: #D8DADD;
  }
  .site-footer .bottom_footer_mobile .list_footer {
    margin-bottom: 0px;
    padding: 1rem 2rem;
  }
  .site-footer .bottom_footer_mobile .list_footer li {
    font-size: 15px;
    padding: 3px 31px;
    font-family: Gothic-Regular;
    margin: 5px;
  }
  .site-footer .bottom_footer_mobile .list_footer li a {
    color: #000000;
  }
  .site-footer .bottom_footer_mobile .list_footer li::marker {
    color: #fff;
  }
  .icon_secction {
    display: none;
  }
  body {
    background-color: #F7F8F8;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .sub-header,
.pt-6,
.btn_header {
    display: none;
  }
  .pt-3 {
    padding-top: 2rem !important;
  }
  .body_login {
    padding: 0rem;
    height: auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    padding-bottom: 2rem;
  }
  .body_login .row.g-5 .col-sm-12.col-md-12.col-lg-6 {
    padding: 0px !important;
  }
  .step_registre {
    padding: 0rem;
  }
  .site-footer .top_footer {
    padding: 1¿2rem 0.1rem;
  }
  .site-footer .top_footer .logo_footer_2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .site-footer .top_footer .logo_footer_2 img {
    width: 220px;
  }
  .site-footer .footer {
    padding: 0px;
  }
  .site-footer .footer .bg_gris {
    background-color: #3b3d42;
    padding: 1.5rem 0.9rem;
    margin-bottom: 1rem;
  }
  .site-footer .footer .col-lg-2 {
    padding: 1.5rem;
  }
  .site-footer .bottom_footer {
    display: none;
  }
  .site-footer .bottom_footer_mobile {
    background-color: #D8DADD;
  }
  .site-footer .bottom_footer_mobile .list_footer {
    margin-bottom: 0px;
    padding: 1rem 2rem;
  }
  .site-footer .bottom_footer_mobile .list_footer li {
    font-size: 15px;
    padding: 3px 31px;
    font-family: Gothic-Regular;
    margin: 5px;
  }
  .site-footer .bottom_footer_mobile .list_footer li a {
    color: #000000;
  }
  .site-footer .bottom_footer_mobile .list_footer li::marker {
    color: #fff;
  }
}
@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  .profile img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}/*# sourceMappingURL=main.css.map */