.block-system-breadcrumb-block {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	height: 48px;
	background: #fff;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 100%;
		width: 99999px;
		height: 100%;
		background: #fff;
	}

	&::before {
		left: auto;
		right: 100%;
	}

	&::after {
		left: 100%;
	}

	.content {
		display: flex;
		align-items: center;
	}

	.breadcrumb {
		margin: 0;
	}
}
